/*@font-face {
font-family: 'Tajawal';
font-style: normal;
font-weight: 400;
src: local('Tajawal'),
local('Tajawal'),
url(../fonts/Tajawal-Light.ttf) format('truetype'),
url(../fonts/Tajawal-Medium.ttf) format('truetype'),
url(../fonts/Tajawal-Regular.ttf) format('truetype');
}*/
@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: local('Cairo'),
        local('Cairo'),
        url(../fonts/Cairo.woff2) format('woff2'),
        url(../fonts/Cairo.woff) format('woff'),
        url(../fonts/Cairo-Regular.ttf) format('truetype');
}
h1, h2, h3, h4, h5 ,h6, option, select, button, .submit>input {
    font-family: 'Cairo', sans-serif!important;
}
body {
    direction: rtl;
    font-family: 'Cairo', sans-serif!important;
    font-size: 18px !important;
}
th {
    font-weight: 900 !important;
    text-align: right !important;
}
.page-wrapper{
    margin-left: unset !important;
    margin-right: 240px;
}
.topbar .top-navbar {
    /*min-height: 70px !important;*/
    padding: 0px 0px 0 0 !important;
}
.topbar .top-navbar .app-search input {
    padding-right: 30px;
}
.footer{
    direction: ltr !important;
    left: 0 !important;
}
.div_label_styl4ara label{
    width:40px;
}
.small-input-style{
    margin-right:30px;
}
.navbar-nav.mr-auto.mt-md-0 {
    margin-right:0 !important;
}
.navbar-header/*, .scroll-sidebar*/{
    direction:ltr !important;
}
.form-control{
    font-family: 'Cairo', sans-serif!important;
}
.mini-sidebar .top-navbar .navbar-header{
    width: 140px;
}
td img{
    width: 40px;
}
.checkbox label{
    display: inline-block;
}
.checkbox label:before{
    border: 1px solid rgb(0, 0, 0);
}
.sidebar-nav{
    margin-top: 90px;
}
.radio label:before{
    border: 1px solid rgb(1, 9, 16);
    margin-top: 8px;
}
.radio label:after{
    top:13px;
}
.radio input[type=radio]{
    display: contents;
}
.radio label[for=UserIsTeacher0]{
    margin-right: 35px;
}
.search-nav{
    display: block!important;
}
.navbar-nav.mr-auto.mt-md-0,.search-nav,.topbar .top-navbar .app-search,.topbar .top-navbar .app-search input{
    width: 100%;
}
.topbar .top-navbar .app-search input:focus{
    width: 100%;
}
.view-status img{
    width: 40px;
}
a.add-custom{
    float: left;
}
.user_img{
    width: 100px;
}
.icons-width img{
    width:40px;
}
.icons-width{
    text-align: center;
    padding-right: 0;
}
.audio-record{
    text-align: center;
    margin-top: 10px;
}
.record-title{
    text-align: center;
}
.error-message{
    color: red;
}
.error-message::before{
    content: ' * ';
    color: red;
}
.header-title{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.back-nav button{
    background: #b7021f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    color: #fff;
}
.date_style label{
    width: 100%;
}
.date_style select{
    width: 15%;
}
.topbar .top-navbar .app-search{
    display: none;
}
.topbar .top-navbar .app-search-users,.topbar .top-navbar .app-search-videos{
    display: block !important;
}
@media (max-width: 500px){
    .page-wrapper{
        margin-left: unset !important;
        margin-right: unset;
    }
    .navbar-nav.mr-auto.mt-md-0{
        margin-right: auto!important;
        margin-left: 20px;
    }
    .search-nav{
        display: none!important;
    }
    .navbar-nav.mr-auto.mt-md-0{
        width: auto;
    }
}
@media (min-width: 500px){
    b .dark-logo{
        display: none;
    }

}
@media (max-width: 767px) and (min-width:501px){
    .nav-link.nav-toggler{
        display: none;
    } 
}
@media (max-width: 768px) and (min-width:500px){
    .container-fluid{
        padding-top: 130px;
    } 
}
