    /* cairo-200 - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 200;
        src: url('../fonts/cairo-v9-latin_arabic-200.eot');
        /* IE9 Compat Modes */
        src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'),
            url('../fonts/cairo-v9-latin_arabic-200.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-200.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-200.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-200.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-200.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    /* cairo-300 - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 300;
        src: url('../fonts/cairo-v9-latin_arabic-300.eot');
        /* IE9 Compat Modes */
        src: local('Cairo Light'), local('Cairo-Light'),
            url('../fonts/cairo-v9-latin_arabic-300.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-300.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-300.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-300.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-300.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    /* cairo-regular - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 400;
        src: url('../fonts/cairo-v9-latin_arabic-regular.eot');
        /* IE9 Compat Modes */
        src: local('Cairo Regular'), local('Cairo-Regular'),
            url('../fonts/cairo-v9-latin_arabic-regular.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-regular.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-regular.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-regular.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-regular.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    /* cairo-600 - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 600;
        src: url('../fonts/cairo-v9-latin_arabic-600.eot');
        /* IE9 Compat Modes */
        src: local('Cairo SemiBold'), local('Cairo-SemiBold'),
            url('../fonts/cairo-v9-latin_arabic-600.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-600.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-600.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-600.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-600.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    /* cairo-700 - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/cairo-v9-latin_arabic-700.eot');
        /* IE9 Compat Modes */
        src: local('Cairo Bold'), local('Cairo-Bold'),
            url('../fonts/cairo-v9-latin_arabic-700.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-700.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-700.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-700.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-700.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    /* cairo-900 - latin_arabic */
    @font-face {
        font-family: 'Cairo';
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/cairo-v9-latin_arabic-900.eot');
        /* IE9 Compat Modes */
        src: local('Cairo Black'), local('Cairo-Black'),
            url('../fonts/cairo-v9-latin_arabic-900.eot?#iefix') format('embedded-opentype'),
            /* IE6-IE8 */
            url('../fonts/cairo-v9-latin_arabic-900.woff2') format('woff2'),
            /* Super Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-900.woff') format('woff'),
            /* Modern Browsers */
            url('../fonts/cairo-v9-latin_arabic-900.ttf') format('truetype'),
            /* Safari, Android, iOS */
            url('../fonts/cairo-v9-latin_arabic-900.svg#Cairo') format('svg');
        /* Legacy iOS */
    }

    body {
        direction: rtl;
        font-family: 'Cairo', sans-serif !important;
    }

    /*beforExam*/
    .showSumary {
      background-color: #de0023;
width: 30%;
height: 168px;
line-height: 23px;
text-align: center;
color: #fff;
font-size: 19px;
margin-left: 1px;
display: inline-block;
border-radius: 10px;
box-sizing: border-box;
margin-right: 1px;
padding-top: 60px;
    }


    .beforExam {
        width: 100%;
        text-align: center;
       /* padding-top: 30px;*/
        display: block;
        text-align: center;
    }

    .show_desc {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .summary_data {
        text-align: center;
        position: relative;
        top: 15px;
    }

    b {
        color: #585858;
        font-size: 20px;
        right: 11px;
        /* position: relative; */
        margin-left: auto;
        margin-top: 40px;
        margin-right: auto;

    }

    .description {
        font-weight: 300;
        margin-right: auto;
        /*position: relative;*/
        font-size: 18px;
        color: #646464;
        text-align: center;
        margin-top: 0px;
        width: 100%;
        margin-left: auto
    }

    button {
        margin-top: 30px;
        background-color: #de0023;
        border-radius: 14px;
        margin-right: 13px;
        width: 131px;
        height: 45px;
        font-size: 16px;
        color: #fff;
        border: none;
        font-family: 'Cairo';
        cursor: pointer;
    }
    .shoeAns_Btn {
font-family: 'Cairo';
background-color: #61B157;
color: #fff;
border-radius: 6px;
padding: 0px;
width: 160px;
margin-left: auto;
margin-right: auto;
border: none;
font-weight: bold;
font-size: 23px;
    }

    .previousBtn {
width: 100px;
font-family: 'Cairo';
border: none;
font-weight: bold;
color: #2E2B4E;
float: left;
font-size: 23px;
text-align: right;
    }

    .nextBtn {
        width: 100px;
font-family: 'Cairo';
border: none;
font-weight: 700;
color: #2E2B4E;
float: right;
font-size: 23px;
text-align: left;
    }

    form {
        display: inline-block;
        width: 100%;
    }

    label input {
        /*margin-left: 20px;*/
margin-right: 23px;
float: left;
margin-top: 18px;
    }

.btns input{
    margin-left: 10px;
}
 
    .ans_qs {
border: 3px solid #2E2B4E;
border-radius: 8px;
margin-top: 13px;
display: block;
width: 88%;
height: auto;
text-align: left;
line-height: 50px;
padding-right: 25px;
padding-left: 25px;
box-sizing: border-box;
margin-left: 6%;
margin-right: 6%;
font-size: 20px;
    }

    .showSumary:nth-child(3) span {
        font-weight: 700;
    }

    .showSumary:nth-child(3) {
        background-color: #0fd80f;
    }

    .showSumary:nth-child(2) {
        background-color: #FF6347;
    }

    .showSumary:nth-child(1) span {
        font-weight: 700;
    }

    .showSumary:nth-child(2) span {
        font-weight: 700;
    }

    #timeDown {
	width: 112px;
	color: #fff;
	font-weight: normal;
	text-align: left;
	padding-left: 4px;
	height: 32px;
	font-size: 19px;
	float: right;
}
    

    .previousBtn {
        background: url('../img/arrow-point-to-right_1.png');
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .submitQs{

	width: 170px;
	font-family: 'Cairo';
	border: none;
	font-weight: 700;
	color: #2e2b4e;
	background: url('../img/arrow-point-to-right.png');
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
	font-size: 23px;
	text-align: left;
}

    .nextBtn {
        background: url('../img/arrow-point-to-right.png');
        background-position: right;
        background-size: contain;
        background-repeat: no-repeat;
    }


    .block_timer {
        /*float: left !important;
        margin-right: 100px;*/


background: red;
width: 100%;
border-top-right-radius: 17px;
border-top-left-radius: 17px;
height: 56px;
background: linear-gradient(90deg, rgb(94, 37, 43) 0%, rgb(147, 46, 49) 35%, rgb(174, 53, 50) 100%);
    }

    .block_timer span:nth-child(3) {
        position: relative;
        border-radius: 50px;
        /* background-color: #de0023; */
        border-radius: 19px;
        width: 132px;
        color: #de0023;
        font-weight: 700;
        text-align: center;
        /* position: relative; */
        top: 22px;
        left: 69px;
        font-size: 10px;
    }

    .extra_block {
width: 379px;
color: #FFF;
font-weight: 600;
padding-top: 12px;
font-size: 19px;
height: 40px;
text-align: right;
margin-right: 16px;
direction:ltr;
    }

    .time_ex {
        width: 100%;
        right: 5px;
        top: -13px;
        bottom: 15px;
        position: relative;
        font-size: 13px;
        color: #333333;
    }

    .oclock {
        position: relative;
        bottom: 25px;
        color: #d44848;
        right: 90px;
        font-size: 15px;
    }

    label {
        width: 100%;
        /*float: right;*/
        text-align: right;
        margin-top: 60px;
    }
    .ex_title{
        width: 91%;
border: 2px solid #de0023;
border-radius: 10px;
font-size: 17px;
margin-right: 4.5%;
    }
    .weight_qs b:nth-child(2) {
        color: #332d2d80;
        font-size: 12px;
        margin-right: 15px;
    }

    .weight_qs {
  width: 96%;
text-align: left;
margin-top: 0px;
padding-bottom: 10px;
background-color: #D0CECE;
padding: 2%;
    }

#formQs {
    background: #e2e2e2;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

    .video_qs {
        width: 100%;
        /* text-align: right; */
        padding-right: 0;
        margin-bottom: 30px;
    }

    .img_qs {
        width: 100%;
        margin-top: 30px;
    }


    img {
        border:1px solid #ccc;
        width: 80%;
        margin-bottom: 30px;
        margin-right: 10%;
    }

    video {
        width: 70%;
        margin-right: 15%;
    }

    audio {
        width: 70%;
        padding-bottom: 30px;
        margin-right: 15%;
        padding-bottom: 30px;
    }

    [data-illistraton="illistraton"] {
        margin-left: auto;
margin-right: auto;
width: 88%;
height: auto;
border-radius: 19px;
margin-top: 14px;
box-sizing: border-box;
padding: 15px;
border: 3px solid #61b157;
direction:ltr;
    }

    .img_logo {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
    }

    .explain_qs {
background-color: #61b157;
padding: 0px;
    padding-top: 0px;
border-radius: 10px;
margin-right: 5px;
padding-top: 0px;
width: 87px;
color: #fff;
font-weight: 700;
text-align: center;
font-size: 11px;
    }
    /*.illistraton_1{
        margin-left: auto;
        margin-right: auto;
        width: 88%;
        height: auto;
        border-radius: 15px;
        margin-top: 40px;
        box-sizing: border-box;
        padding: 50px;
        border: 5px solid #0fd80f;
    }*/
    .btns{

       text-align: center;
display: inline-block;
width: 94%;
margin: 25px 3%;
    }
    .content_qs{
        margin-bottom: 10px;
    }
    .ill_qs{
        margin-right: 20px;
margin-top: 5px;
font-size: 14px;
color: #585858;
    }


    .red_ans{border:2px solid rgb(233 3 3 / .6);border-radius:7px;}
    .green_ans{border:2px solid rgba(44, 134, 56, 0.5);border-radius:7px;}
    .bold_ans{font-weight: bold;}

    .sucessMsg{
background-color: #4CAF50;
color: white;
margin-bottom: 0px;
text-align: center;
font-weight: bold;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
font-size: 23px;
}

    .failedMsg{  background-color: #f44336;
color: white;
margin-bottom: 0px;
text-align: center;
font-weight: bold;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
font-size: 23px;}
    .showScore{direction: ltr;}
    .red_text{color: red;text-align: center;}

    .show_certifct{
        background-color: #de0023;
    border-radius: 14px;
    font-size: 16px;
    color: #fff;
    border: none;
    font-family: 'Cairo';
    cursor: pointer;
    text-decoration: none;
    padding: 15px 50px;
    display: inline-block;
    }

    .show_certifct_div{width: 96%;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 2%;}

table,td{background: #e2e2e2;font-size:12px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;text-align: left;direction: ltr;}

table p{font-size:17px;padding-left:17px;}
table{border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}

input[type="button"]:active {border-style:none !important;outline: none;}
input:focus, textarea:focus, select:focus,button:focus{outline: none;}
.failed_msg{margin-top: 35px;
color: #f00;
text-align: center;
font-size: 14px;}


.retake{
width: 100%;
display: inherit;
height: 40px;
text-align: center;
text-decoration: none;
color: #FFF;
background: #d82727;
border-radius: 10px;
font-size: 17px;
margin: 6px 0px;
line-height: 35px;
font-weight: bold;
}



