.calendarAddButton {
    background-color: #E4E8EA;
    /* linear-gradient bottom-to-top - each browser uses different syntax */
    background: -webkit-linear-gradient(bottom, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%);
    background: -moz-linear-gradient(top, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%);
    background: linear-gradient(to top, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%); /* MUST BE LAST */
    box-shadow: inset 0px 1px 0px #FFFFFF;
    border: 1px solid #C4CED7;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    font-size: 11px;
    text-align: center;
    text-shadow: 0px 1px 0px #FFFFFF;
}
.calendarAddButton:HOVER {
    background: linear-gradient(#F7F8F9, #F7F8F9); /* keeps iPad buttond from 'rounding' */
    background-color: #F7F8F9;
    border: 1px solid;
    border-color: #0572CE;
    color: #0572CE;
    text-shadow: none;
}
.calendarAddButton:ACTIVE {
    background: linear-gradient(#0572CE, #0572CE); /* keeps iPad buttond from 'rounding' */
    background-color: #0572CE;
    border: 1px solid;
    border-color: #0572CE;
    color: #FFFFFF;
    text-shadow: none;
    box-shadow: none;
}

.blankActiveDateTimeCellColor{
	background-color: #FFFFFF;
}
.blankInActiveDateTimeCellColor{
	background-color: #FAF8F1;
}

.columnHeaderColor{
	background-color: #F2F4F7;
}
.rowHeaderColor{
	background-color: #F2F4F7;
}

.weekCellHeader {
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	height:18px;
        text-align: center;
	font-size: 8pt;
	background-color: #F2F4F7;
        width:14%;
}

.weekCell {
	border-left: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
        padding-right:3px;
        text-align: right;
        vertical-align: top;                
}


.blankInvisibleMonthCell {
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

.blankOutsideRangeMonthCellColor {
	background-color: #f2f4f7;
}

.blankActiveMonthCellColor {
	background-color: #FFFFFF;
}

.blankInActiveMonthCellColor {
	background-color: #FAF8F1;
}

.blankTodayCell {
	background-color: #f3f9ff;
        font-weight:bold;
}

.componentBackgroundColor {
	background-color: transparent;
        border: 1px solid #dfe4e7;
}

/* SAR7340227 Revised xxxColorCimmitmentY, Y values below (6 places) Y = 0,1,2 became 1,2,3 */

.activityDarkColorCommitment1 {
	background-color: #88A9C7;
}

.activityDarkColorCommitment2 {
	background-color: #66CC99;
}

.activityDarkColorCommitment3 {
	background-color: #FF8000;
}

.activityLightColorCommitment1 {
	background-color: #E5EDF3;
}

.activityLightColorCommitment2 {
	background-color: #E3F7E5;
}

.activityLightColorCommitment3 {
	background-color: #FBECDD;
}



.activityDiv {
	position: absolute;
	overflow: hidden; 
	border: none;
	width:100%;
	height:100%;
}

.dayPropertiesDayWeekDiv {
	position: absolute;
	overflow: hidden; 
	background-color: transparent;
	width:100%;
	height:100%;
}

.dayPropertiesDayWeekCell {
        text-align: center;
}

.e1container .dayPropertiesDayWeekFont {
	font-size: 7pt;
        color: #666666;
}

.dayPropertiesMonthDiv {
	position: absolute;
	overflow: hidden; 
	width:100%;
	height:100%;
	background-color: transparent;
}

.dayPropertiesMonthCell {
        text-align: center;
}

.e1container .dayPropertiesMonthFont {
	font-size: 7pt;
        color: #666666;
}

.intraDayActivityDiv {
	position: absolute;
	overflow: visible; 
	width:100%;
	height:100%;
	background-color: transparent;
}

.moreDiv {
	position: absolute;
        cursor:pointer;
}


.activityBar {
        cursor:pointer;
}


.activityBarWidth {
	width:3px;
}

.activityIcon {
	padding-top:1px;
	padding-left:1px;
	vertical-align: top;
        cursor:pointer;
}

.activityTitle {
	padding-left:2px;
        width:100%;
	vertical-align: top;
        cursor:pointer;
}

.activityTitleIntraDay {
	padding-left:3px;
	border-left: 0px;
	border-top: 0px;
	vertical-align: top;
	text-align: left;       
}

.activityTitleMonthMultiDay {
	vertical-align: top;
	text-align: left;       
	padding-left:2px;
        cursor:pointer;
	background-color: #FFFFFF;
}


.activityIconLink{
        cursor:pointer;
}

.e1container .activityTitleLink{
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
        cursor:pointer;
}

.e1container a.activityTitleLink:HOVER{
	color: #000080;
	text-decoration: underline;
}

.e1container .activityTitleLink:VISITED{
	color: #000000;
	text-decoration: none;
}

.e1container .calendarViewNavigation{
	font-size: 8pt;
	color: #2B7C92;
	text-decoration: underline;
	padding-left:1px;
	padding-right:1px;
	vertical-align: middle;
}

.e1container a.calendarViewNavigation:HOVER{
	font-size: 8pt;
	color: #CC0033;
	text-decoration: underline;
}

.e1container .calendarViewNavigation:VISITED{
	font-size: 8pt;
	color: #2B7C92;
	text-decoration: underline;
}

.calendarViewTitle{
	font-size: 9pt;
	font-weight: bold;
	text-align: center; 
	width:100%;	
	color: #343434;
}

.multiDayDiv {
	position: absolute;
	border-bottom: 2px solid #000000;
        background-color: #D6D6D6;
}

.dayDiv {
	position: absolute;
	overflow: auto; 
	border: 0px;
}

.monthDiv {
	position: absolute;
	overflow-y: scroll; 
	border: 0px;
}

.multiDayTable {
        height: 100%;
	border-right: 1px solid #000000;
}

.dayTable {
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
 	width:100%;
}

.monthTable {
    width:100%;
    height:100%;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.calendarViewBodyContainer {
        border: 1px solid #000000;
	width:100%;
	height:100%;
}

.multiDayTitle {
	text-align: center; 
        border-left: 1px solid #000000;
        border-bottom: 1px solid #000000;
}


.e1container .multiDayTitleLink {
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

.e1container a.multiDayTitleLink:HOVER{
	color: #000080;
	text-decoration: underline;
}

.e1container .multiDayTitleLink:VISITED{
	color: #000000;
	text-decoration: none;
}

.multiDayLabelDiv {
        width: 40px;
        overflow: hidden;
}

.multiDayCell {
	border: 0px;
}

.blankMultiDayCell {
	border-left: 1px solid #000000;
	height:28px;
       	background-color: #ade1f6;
}

.largeTimeCell {
	font-size: 8pt;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 1px solid #000000;
	text-align:right;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	width: 20px;
        vertical-align:top;
}

.smallTimeCell {
	font-size: 8pt;
	border-bottom: 0px;
	border-left: 0px;
	border-top: 1px solid #000000;
	border-right: 0px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	width: 20px;
        vertical-align:top;
}

.e1container .TimeLink{
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

.e1container a.TimeLink:HOVER{
	font-size: 8pt;
	color: #000080;
	text-decoration: underline;
}

.e1container .TimeLink:VISITED{
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}

.blankDateTimeCell{
	border-top: 1px solid #eeeeee;
	border-left: 1px solid #000000;
	height:20px;
}

.calendarNavigationMonthContainer{
        padding-left:3px;
        padding-bottom:3px;        
}

.navigationMonthTable{
	border: 1px solid #A3BED8;
        text-align:center;
        width:100%;
        background-color: #FFFFFF;
}

.navigationMonthTitleBar{
        width:100%;
        text-align:center;
	border-bottom: 1px solid #A3BED8;
        padding-top:1px;
        padding-bottom:1px;
}

.navigationMonthTitle{
	font-size: 8pt;
        color: #343434;
        width:100%;
        text-align:center;
}

.navigationWeekTitle{
	border-bottom: 1px solid #A3BED8;
	background-color: #EAEFF5;
        text-align:center;        
	font-size: 8pt;
}

.navigationWeekDrill{
        cursor:pointer;
        text-align:center;
	vertical-align: middle;        
        padding-left:1px;
}

.navigationDayCell{
        padding-top:2px;
        padding-left:3px;
        padding-right:3px;
        text-align:right;
}

.navigationDayActiveCell{
	background-color: #A3BED8;
}

.navigationTodayCell{
        border: 1px solid #000000;
	background-color: #CFE0F1;
	font-weight: bold;
}

.e1container .navigationDayLink{
	font-size: 8pt;
	text-decoration: none;
}


.e1container .navigationDayNotCurrentMonthColor{
	color: #0000EE;
} /* the color ratio>4.5 with the different background color used */

.e1container .navigationDayNonWorkingColor{
	color: #000000;
}

.e1container .navigationDayWeekendColor{
	color: #0000EE;
} /* the color ratio>4.5 with the different background color used */

.e1container .navigationDayCurrentMonthColor{
	color: #000000;
}

.e1container a.navigationDayLink:HOVER{
	color: #000080;
	text-decoration: underline;
}

.e1container .navigationDayLink:VISITED{
	color: #000000;
	text-decoration: none;
}

.e1container .navigationDayNotCurrentMonthColor:VISITED{
	color: #D6D6D6;
}

.e1container .navigationDayWeekendColor:VISITED{
	color: #999999;
}

.e1container .monthDayLink{
	font-size: 8pt;
	text-decoration: none;
	color: #000000;
}

.e1container a.monthDayLink:HOVER{
	font-size: 8pt;
	color: #000080;
	text-decoration: underline;
}

.e1container .monthDayLink:VISITED{
	font-size: 8pt;
	color: #000000;
	text-decoration: none;
}