/* CSS Document */

@font-face {
    font-family: GothNarrow;
    src: url(fonts/GothamNarrow-Medium.otf);
}

@font-face {
    font-family: GothBookThin;
    src: url(fonts/GothamBook.woff);
}

@font-face {
    font-family: GothBook;
    src: url(fonts/GothamBookRegular.otf);
}

@font-face {
    font-family: GothBold;
    src: url(fonts/GothamBold.woff);
}

body
{
	margin:0px;
	font-family:'GothBook', Arial, Helvetica;
	background-color:#f0eef0;
}

.main_wrap
{
	width:96%;
	margin:0 auto;
}


.img_full
{
	width:100%;
	display:block;
	border:0px;
}

.logo_img
{
	width:180px;
	border:0px;
	display:block;
	padding:10px 0px;
}

.chref
{
	text-decoration:none;
	font-size:10pt;
	color:#555;
}

.chref:hover
{
	color:#330170;
}

.header_wrap
{
	width:100%;
	border-bottom:0px solid #333;
	float:left;
	padding:10px 0px;
	z-index:99;
}

.header_gap
{
	width:100%;
	float:left;
	height:66px;
}

.full_wrap
{
	width:100%;
	float:left;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.sub_wrap
{
	width:86%;
	margin:0 auto;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}

.col_in
{
	padding:20px;
}

.news_img
{
	width:100%;
	height:250px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	border:1px solid #999;
}

.col_3_gallery
{
	width:31.9%;
	margin:0.7%;
	float:left;
}


.col_5_gallery
{
	width:18%;
	margin:0.7%;
	float:left;
}

.gallery_img_hold
{
	width:100%;
	height:300px;
	background-position:center;
	background-size:cover;	
}

.gallery_img_holdsml
{
	width:100%;
	height:190px;
	background-position:center;
	background-size:cover;	
}

.gallery_title
{
	color:#000;
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
	font-size:16pt;
	padding:0px 0px 3px 8px;
	text-transform:uppercase;
	letter-spacing:2px;
}

.imghold
{
	width:90%; 
	height:315px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}

.news_img_hold
{
	width:100%;
	height:250px;
	background-position:center;
	background-size:cover;	
}

.news_hold
{
	width:90%;
	line-height:20px;
	padding-top:5px;
}

.full_hold
{
	width:100%; 
	float:left;
}

.news_head
{
	font-size:11pt;
	font-weight:bold;
}

.news_date
{
	font-size:9pt;
	display:block;
	color:#555;
	padding-bottom:10px;
}

.sect_title_blk
{
	color:#000;
	font-family: 'Oswald', sans-serif;
	padding:10px 0px;
	font-weight:normal;
	font-size:24pt;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:2px;
}

.sect_text_col
{
	width:80%;
	margin:0 auto;
	text-align:center;
	letter-spacing:1.5px;
	line-height:21px;
	font-family: 'lato', sans-serif;
}

.nav_wrap
{
	width:97%;
	margin:0 auto;
}

.nav_side_lt
{
	width:30%;
	float:left;
}

.nav_side_rt
{
	width:70%;
	float:left;
	margin:60px 0px 0px 0px;
}

.nav_mid
{
	width:14%;
	float:left;
	padding-top:5px;
}

.nav_div_lt
{
	text-transform:uppercase;
	font-size:8pt;
	padding:27px 20px;
	float:right;
}

.nav_div_rt
{
	text-transform:uppercase;
	border-right:1px solid #666;
	font-size:10pt;
	line-height:11px;
	padding:0px 25px;
	float:right;	
}

.nav_sep
{
	border-right:1px solid #333;
	width:100%;
}

.footer
{
	padding:7px 0px;
	background-color:#585859;
	color:#aaa;
	font-size:8pt;	
	float:left;
	width:100%;
}

.ftr_wrap
{
	width:90%;
	border:0px solid #0C0;
	margin:0 auto;
}

.ftr_half
{
	width:50%;
	float:left;
}

.sect_wrap
{
	width:100%;
	float:left;
}

.sect_half
{
	width:50%;
	float:left;
}

.sect_in
{
	padding:20px 45px;
	text-align:center;
}

.sect_head
{
	text-align:center;
	font-size:14pt;
	font-weight:bold;
	width:100%;
	float:left;
	padding:10px 0px 20px 0px;
	font-family:'GothBold', Arial, Helvetica;
}

.sect_text
{
	width:65%;
	margin:0 auto;
	text-align:center;
	line-height:25px;
	color:#222;
	font-family:'GothBook', Arial, Helvetica;
}

.contact_text
{
	width:100%;
	margin:0 auto;
	text-align:center;
	line-height:20px;
	font-size:11pt;
	color:#222;
	font-family:'GothBook', Arial, Helvetica;
}

.sect_text_wide
{
	width:50%;
	margin:0 auto;
	text-align:center;
	color:#445464;
	font-style:italic;
}

.sect_in_lrg
{
	padding:60px;
	float:left;
}

.sect_text_col_b
{
	width:50%;
	margin:0 auto;
	text-align:center;
	letter-spacing:1.5px;
	line-height:21px;
	font-family: 'lato', sans-serif;
}

.cur_text
{
	font-size:10pt; 
	color:#000;
	text-align:center; 
	font-weight:normal;
	font-family:'GothBook', Arial, Helvetica;
}

.pc_noshow
{
	display:none;
}

.about_text
{
	width:70%;
	text-align:left;
	line-height:22px;
	font-size:10pt;
	color:#111;
	font-family:'GothBook', Arial, Helvetica;
}

.profile_title
{
	width:100%;
	text-align:left;
	text-transform:uppercase;
	line-height:22px;
	font-size:16pt;
	color:#111;
	font-family:'GothBold', Arial, Helvetica;
}

.profile_pos
{
	width:100%;
	text-align:left;
	text-transform:capitalize;
	line-height:22px;
	font-size:12pt;
	color:#111;
	font-family:'GothBook', Arial, Helvetica;
}

.footer_title
{
	width:100%;
	text-align:left;
	font-weight:bold;
	text-transform:uppercase;
	line-height:22px;
	font-size:11pt;
	color:#111;
	font-family:'GothBold', Arial, Helvetica;
}

.footer_text
{
	width:100%;
	text-align:left;
	text-transform:capitalize;
	line-height:16px;
	font-size:9pt;
	color:#111;
	font-family:'GothBook', Arial, Helvetica;
}

.img_adjust
{
	padding: 5px 15% 0px 0px;
}

.biz_table
{
	padding-left:30px;
}

.biz_table td
{
	padding:5px 0px;
	border-bottom:1px solid #555;
}

.vision
{
	width:100%;
	text-align:left;
	line-height:20px;
	font-size:10pt;
	color:#fff;
	font-family:'GothBook', Arial, Helvetica;
}

.col_2
{
	float:left;
	width:50%;
}

.col_3
{
	float:left;
	width:33.33%;
}

.col_3_b
{
	float:left;
	width:33.33%;
}

.col_4
{
	float:left;
	width:25%;
}

.col_6
{
	float:left;
	width:16.6%;
}

.col_30
{
	float:left;
	width:30%;
}

.col_70
{
	float:left;
	width:70%;
}

.col_40
{
	float:left;
	width:40%;
}

.col_60
{
	float:left;
	width:60%;
}

.col_35
{
	float:left;
	width:40%;
}

.col_65
{
	float:left;
	width:60%;
}

.col_text
{
	font-family:'GothBook', Arial, Helvetica;
	font-size:11pt;
	text-align:center;
	padding-top:10px;
	height:60px;
}

.col_media_text
{
	font-family:'GothBook', Arial, Helvetica;
	font-size:10pt;
	text-align:center;
	padding-top:10px;
	height:110px;
}

.hold_50
{
	width:50%; margin:0 auto;
}

.hold_60
{
	width:60%; margin:0 auto;
}

.hold_70
{
	width:70%; margin:0 auto;
}

.in_icon
{
	width:60%;
	margin:0 auto;
}

.in_col
{
	width:75%;
	margin:0 auto;
}

.copyw
{
	background-color:#d1cbce;
	font-size:9pt;
	padding:25px 0px 25px 50px;
}

.icon_text
{
	text-transform:uppercase;
	text-align:center;
	padding-top:7px;
	font-family:'GothBookThin', Arial, Helvetica;
	font-size:8pt;
}

.read_more
{
	border:2px solid #222;
	font-family:'GothBold', Arial, Helvetica;
	text-transform:uppercase;
	width:100px;
	text-align:center;
	padding:12px 15px;
	border-radius:1px;
	cursor:pointer;
	margin:0 auto;
	font-size:9pt;
}

.read_more:hover
{
	border:2px solid #400588;	
	color:#400588;
}


.read_more_wht
{
	border:2px solid #fff;
	font-family:'GothBold', Arial, Helvetica;
	text-transform:uppercase;
	width:100px;
	text-align:center;
	padding:12px 15px;
	border-radius:1px;
	cursor:pointer;
	margin:0 auto;
	color:#fff;
	font-size:9pt;
}

.read_more_wht:hover
{
	border:2px solid #400588;	
	color:#400588;
}

.menu_mob_wrap
{
	display:none;
}

.pad_30
{
	padding:30px;
}

.gallery_img
{
	width:18%;
	margin:10px;
	float:left;
}

.gallery_img img
{
	display:block;
	width:100%;
}

.sect_title
{
	font-style:normal;
	font-size:14pt;
	padding-bottom:0px;
	text-transform:uppercase;
	padding-bottom:5px;
}

.no_href
{
	text-decoration:none;
	color:#333;
}

.ahref
{
	text-decoration:none;
	font-family:'GothBook', Arial, Helvetica;
	font-weight:bold;
	color:#222;
}

.ahref:hover
{
	color:#330170;
}

.fthref
{
	text-decoration:none;
	font-family:'GothBook', Arial, Helvetica;	
	color:#222;
}

.fthref:hover
{
	color:#330170;
}

.clients .col_4 {
	min-height: 120px;
}

.clients img {
    width: 212px;
    height: 50px;
}

.gap_10
{
	width:100%;	float:left;	height:10px;
}

.gap_30
{
	width:100%;	float:left;	height:20px;
}

.gap_50
{
	width:100%;	float:left;	height:30px;
}

.gap_70
{
	width:100%;	float:left;	height:50px;
}

.gap_80
{
	width:100%;	float:left;	height:60px;
}

.gap_90
{
	width:100%;	float:left;	height:70px;
}

.gap_110
{
	width:100%;	float:left;	height:90px;
}

.gap_140
{
	width:100%;	float:left;	height:110px;
}

.gap_160
{
	width:100%;	float:left;	height:120px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #aaa;
   /*opacity:  1;*/
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #aaa;
   /*opacity:  1;*/
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #aaa;
}


#contact_wrap
{
	width:60%;
	margin:0 auto;
	padding:51% 0px 0px 0px;	
}

.holding .col_2 {
    width: 47% !important;
    padding-right: 3% !important;
}

#contact_wrap input
{
	padding:5px 9px;
	color:#eee;
	width:250px;
	outline:none;
	background-color:transparent;
	border:1px solid #888;
	margin:0px 20px 0px 0px;
}

.sub-button
{
	background-color:#eee;
	border:1px solid #eee;
	border-radius:2px;
	font-weight:bold;
	cursor:pointer;
	padding:5px 15px;
	outline:none;
	color:#63C;
}

.img-responsive {
	max-width: 100%;
    height: auto;
}


*{margin: 0; padding: 0;}  
#menu{float:left; text-align:center; color:#222}  
#menu ul{list-style-type:none;}  
#menu ul li{float: left; position: relative; text-align:left;}  
#menu ul li:hover{color: #222; text-decoration:none; cursor:pointer;}  
#menu ul li a{color: #222; font-family:arial; display: block; text-decoration:none; font-family: 'GothBook', sans-serif;}  
#menu ul li a:hover{color: #400588;}  
#menu ul li ul{position: absolute; top:0px; left:0; display: none; background-color: rgba(255,255,255,0.9); width:120px; border-bottom:2px solid #ccc; z-index:999; padding-top:0px; font-size:9pt;}  
#menu ul li:hover > ul{display: block;}  
#menu ul li ul li{float: none; position: relative; border-bottom:0px solid rgba(0,0,0,0);}  
#menu ul li ul li a{whitewhite-space: nowrap; line-height:23px; padding:10px;}  
#menu ul li ul li a:hover{background-color: rgba(225,225,225,0.8);}  
#menu ul li ul li ul{position: absolute; top:0px; left:200px; display: none; background-color: #fff; width:120px; padding-top:0px;}


.csr_about
{
	text-align:justify; padding-left:35px; width:90%;
}


@media (min-width: 992px) and (max-width: 1400px) {
	.our_vision {
		height: 740px !important;
	}
}

@media only screen and (max-width: 800px) 
{
	.col_6
	{
		float:left;
		width:33.33%;
		margin:0px 0px 10px 0px;
	}

	.holding .col_2 {
		width: 100% !important;
		padding-right: 0% !important;
	}
	
	.icon_text
	{
		text-transform:uppercase;
		text-align:center;
		padding-top:7px;
		font-family:'GothBookThin', Arial, Helvetica;
		font-size:8pt;
	}
	
	.hold_70
	{
		width:100%; margin:0 auto;
	}
	
	.sect_head
	{
		text-align:center;
		font-size:22pt;
		font-weight:bold;
		width:100%;
		float:left;
		padding:10px 0px 20px 0px;
		font-family:'GothBold', Arial, Helvetica;
	}
	
	.sect_text
	{
		width:80%;
		font-size:11pt;
		margin:0 auto;
		text-align:center;
		line-height:25px;
		color:#222;
		font-family:'GothBook', Arial, Helvetica;
	}
	
	.col_2
	{
		float:left;
		width:100%;
	}
	
	.sect_in_lrg
	{
		padding:10px;
		float:left;
	}
	
	.sub_wrap
	{
		width:100%;
		margin:0 auto;
		background-size:cover;
		background-position:center;
		background-repeat:no-repeat;
	}
	
	.col_3
	{
		float:left;
		width:50%;
		margin:0px 0px 10px 0px;
	}
	
	.hold_50
	{
		width:100%; margin:0 auto;
	}
	
	.col_3_b
	{
		float:left;
		width:100%;
		margin:0px 0px 20px 0px;
	}
	
	.hold_60
	{
		width:100%; margin:0 auto;
	}
	
	.col_4
	{
		float:left;
		width:50%;
	}
	
	.in_col
	{
		width:90%;
		margin:0 auto;
	}
	
	.col_40
	{
		float:left;
		margin:0px 0px 20px 0px;
		width:100%;
	}
	
	.col_60
	{
		float:left;
		width:100%;
	}
	
	.nav_wrap
	{
		display:none;
	}
	
	.menu_mob_wrap
	{
		display:block;
	}
	
	.img_adjust
	{
		padding: 0px 0px 0px 0px;
		width:90%;
		margin:0 auto;
	}
	
	.about_text
	{
		width:90%;
		margin:0 auto;
		text-align:left;
		line-height:22px;
		font-size:10pt;
		color:#111;
		font-family:'GothBook', Arial, Helvetica;
	}
	
	.csr_about
	{
		text-align:justify; padding:0px 0px 30px 0px; width:90%;
	}
	
	.sect_head
	{
		text-align:center;
		margin:0 auto;
		font-size:28pt;
		font-weight:bold;
		width:90%;
		float:left;
		padding:10px 0px 20px 0px;
		font-family:'GothBold', Arial, Helvetica;
	}
	
	.profile_title
	{
		width:90%;
		margin:0 auto;
		text-align:left;
		text-transform:uppercase;
		line-height:22px;
		font-size:16pt;
		color:#111;
		font-family:'GothBold', Arial, Helvetica;
	}
	
	.profile_pos
	{
		width:90%;
		margin:0 auto;
		text-align:left;
		text-transform:capitalize;
		line-height:22px;
		font-size:12pt;
		color:#111;
		font-family:'GothBook', Arial, Helvetica;
	}
	
	.col_35
	{
		float:left;
		width:100%;
	}
	
	.col_65
	{
		float:left;
		width:100%;
	}
	
	.col_5_gallery
	{
		width:48%;
		margin:0.7%;
		float:left;
	}
	
	.sect_text_col_b
	{
		width:100%;
		margin:0 auto;
		text-align:center;
		letter-spacing:1.5px;
		line-height:21px;
		font-family: 'lato', sans-serif;
	}
	
	.col_3_gallery
	{
		width:100%;
		margin:0px 0px 20px 0px;
		float:left;
	}
}