
nav:not(.mm-menu)
{
	display: none;
}

.nav_click a
{
	background: center center no-repeat transparent;
	background-size:80%;
	background-image:url(../images/mob-menu.png);

	display: block;
	width: 50px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 15px;
}
.content
{
	padding: 150px 50px 50px 50px;
}