
#SPSideContainerTD
{
    position: relative;
    z-index: 1;
}
.SPResizeDiv
{
    cursor: w-resize;
    width: 3px;
    height: 100%;
}
.SPPaddingText
{
    padding-left: 3px; 
    padding-right: 3px; 
}
.SPLayoutTable
{
    width:100%;
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-style: none none none none;
    border-collapse: collapse;
    vertical-align: top;
    margin-bottom: -1px;
}
.SPFormDiv
{
    border-top: 0px;
    border-left: 1px solid #c4ced7;
    border-right: 1px solid #c4ced7;
    border-bottom: 1px solid #c4ced7;
    background-color: #F5F5F5;
}
.SPFloat_right
{
    float:right;
    margin: 5px;
}
.SPMargin
{
    margin: 2px;
}
.SPWhiteBG
{
    padding: 0px 0px 0px 0px;
}
.SPFrameLayoutTable
{
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-style: none none none none;
    border-collapse: collapse;
    vertical-align: top;
    padding: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
}
.SPFrameLayoutCell
{
    border-collapse: separate;  
}
.SPBody
{
    vertical-align: top;
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    border-style: none none none none;
    color: #4A598C;
    font-size: 11px;
    background-color: #F5F5F5;
}
.SPLayoutCell
{
    border-width: 0px 0px 0px 0px;
    border-spacing: 0px;
    padding: 0px 0px 0px 0px;
    border-style: none none none none;
    -moz-border-radius: 0px 0px 0px 0px;
    vertical-align: top;
    overflow: hidden;
}
.SPLayoutCell .tabTable
{
  width:135px;
}
.SPLayoutCell .tabTableSelected
{
    background-color: #F5F5F5;
    width:135px;
}
.SPMenuTable
{
    margin-top: -2px;
    border-top: 1px solid #c4ced7;
    border-left: 1px solid #c4ced7;
    border-right: 1px solid #c4ced7;
    border-bottom: 0px;
    vertical-align: top;
    width:200px;
}
.SPMenuIconTD
{
    width:20px;
    padding-left:5px;
}
.SPMenuTextTD
{
    width:125px;
    padding-left:5px;
}
html[dir="rtl"] .SPMenuIconTD
{
    padding-left:0px;
    padding-right:5px;
}
.SPMenuIconTD>img
{
    position:relative;
    display:block;
}
.SPMenuCloseIconTD
{
    width:17px;
    padding-right:5px;
}
html[dir="rtl"] .SPMenuCloseIconTD
{
    padding-left:5px;
    padding-right:0px;
}
.SPMenuInfoIconTD
{
    width:17px;
    padding-right:0px;
}
.SPDummyClass
{
    background : transparent;
}
.SPMessageDiv
{
    padding: 5px 20px;
    border-width: 1px;
    border-style: solid;
    border-color: Blue;
    font-weight: bold;
}
a.SPCollapsibleSectionTitle
{
    color : #333333;
    font-weight : bold;
    text-decoration : none;
}
a:hover.SPCollapsibleSectionTitle
{
    text-decoration : underline;
}
