
body, html {
    height: 100%;
}
body {
    color: #333333;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    margin: 0px;
}
div#ariaLog
{
    position: absolute;
    overflow: hidden;
    border: 0px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    width: 1px;
    clip: rect(0 0 0 0);
}
div#topnav, .topnav
{
    position:relative;
    height:43px;
    border-bottom: solid 1px #333333;
    box-shadow: rgba(0,0,0,0.4) 0px 5px 5px;
}
div#brandingBarShadowProvider
{
    position:absolute;
    left:0px;
    right:0px;
    top:-6px;
    height:6px;
    z-index:901;
    box-shadow: rgba(0,0,0,0.18) 0px 5px 5px;
}

div#carousel.caroTop.caroExpanded + div#brandingBarShadowProvider
{
    box-shadow: rgba(0,0,0,0.24) 0px 5px 5px;
}


/*.BrandingBar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}*/

div#topnavOracleBranding, div#topnavSessionInfo
{
    position: absolute;
    top:0px;
    bottom:1px;
}

div#topnavOracleBranding
{
    z-index: 1;
    /* Measured width = 228 */
    left: 0px;
}

html[dir="rtl"] div#topnavOracleBranding
{
    left: auto;
    right: 0px;
}

div#topnavSessionInfo
{
    left:0px;
    right: 0px;
}
img#oracleImage, img#loginBrandingLogo {
    margin-top:13px; /* container is 42 px tall, object is 30px tall, (42 - 16) / 2 equals 13 */
    height:16px;
    margin-left:10px;
    padding-left:4px;
    padding-right:4px;
}

img#loginBrandingLogo {
    margin-top:11px;
}

html[dir="rtl"] img#oracleImage, html[dir="rtl"] img#loginBrandingLogo {
    margin-left:0px;
    margin-right: 10px;
}

a#e1MRoleBacklink
{
    color: #f2f2f2;
    position: absolute;
    display: block;
    top: 29px;
    left:340px;
}
.isIBMWSRP a#e1MRoleBacklink
{
    top: 24px;
}

html[dir="rtl"] a#e1MRoleBacklink
{
    left:auto;
    right: 340px;
}

div#breadcrumbBarDiv
{
    display:none;
    margin-top:-10px;
    padding-top:9px;
    padding-left:8px;
    background-color:#eaf0f6;
    border-color: #1e4a6d;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    box-shadow: inset 0px -7px 5px -7px rgba(0,0,0,.65);
}

html[dir="rtl"] div#breadcrumbBarDiv
{
    padding-left:0px;
    padding-right:8px;
}

.BrandingNavBar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    height: 50px;
}
.loginBrandingBar {
    height: 35px;
}
.AFBrandingBar {
    background-color: #1e4a6d;
    color: #f2f2f2;
}
#RIDesignActions .AFBrandingBar {
    margin: 5px 0px -5px -3px;
    padding-bottom: 4px;
    padding-right: 8px;
}
.brand-bar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    margin-bottom: 10px;
    width: 100%;
    z-index: 500;
}
.ConveyorBelt {
    height: 34px;
    overflow: hidden;
    padding-left: 1px;
}
.BrandingAppNavContainer {
    position: absolute;
    top: 34px;
    right: 20px;
}
DIV.AppNavbarButton {
    border-radius: 1px;
    margin-left: -10px;
    color: #ffffff;
    padding: 4px 4px 1px 32px;
    height: 24px;
    border-color: #D9DFE3;
    filter: none;
    text-shadow: none;
    cursor:pointer;
}
.af_button_link-cell {
    display: inline-block;
    vertical-align:bottom
}
OBJECT {
    z-index: 1;
}
INPUT {
    font-size: 8pt;
}
TEXTAREA {
    font-family: inherit;
    font-size: 8pt;
}
SELECT {
    font-size: 11px;
}
.e1container A {
    color: #333333;
    border-radius:3px;
}
.e1container A:VISITED {
    color: #333333;
}
.e1container A:HOVER {
    color: #499ce0;
}
div#e1formDiv
{
    background-color: #F7F8F9;
    -webkit-tap-highlight-color: rgba(0,0,0,0);  /* transparent tap-highlight for iPad */
}
div#e1formDiv:focus
{
    outline:none;
}
.noOutline
{
    outline:none;
}
TABLE {
font-size: 11px;
border: 0px none;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}
TABLE.padded {
padding: 1px;
width: 100%;
}
.border {
border: 1px solid #D9DFE3;
padding: 0px 0px 0px 0px;
width: 100%;
vertical-align: top;
background-color: #F5F5F5;
color: #000000;
}
.noborder {
border: 0px solid black;
padding: 0px 0px 0px 0px;
width: 100%;
vertical-align: top;
}
.wideTable {
width: 100%;
vertical-align: top;
}
.tallTable {
height: 100%;
vertical-align: top;
}
.tallAndWideTable {
width: 100%;
height: 100%;
vertical-align: top;
}
.pagelogo {
background-repeat: no-repeat;
background-position: center center;
width: 410px;
height: 30px;
vertical-align: middle;
padding: 0px 0px 0px 10px;
}
.topbarlinksoffset {
height: 25px;
}
.topbarlinkscontainer {
height: 20px;
background-color: #FAFAFA;
}
.RIMenuTable{
background-repeat: repeat-x;
background-position: center top;
border-width: 0px 0px 0px 0px;
vertical-align: top;
}
.CompositeTitleBar{
border-width: 0px 0px 0px 0px;
vertical-align: top;
background-color: transparent;
}
.RIMenuTableDynamic{
background-repeat: repeat-x;
background-position: center top;
border-width: 0px 0px 0px 0px;
vertical-align: top;
}
.RIMenuTableHover{
background-repeat: repeat-x;
background-position: center top;
border-width: 0px 0px 0px 0px;
vertical-align: top;
}
.RIEnabledDesignActions, .RIDisabledDesignActions{
width:100%;
vertical-align:middle;
}
.RIEnabledDesignActions{
opacity:1;
filter:alpha(opacity=100);
}
.RIDisabledDesignActions{
opacity:0.2;
filter:alpha(opacity=20);
}
.RIEnabledDesignActions td, .RIDisabledDesignActions td{
    vertical-align: bottom;
}
.RIEnabledDesignActions .RIAction{
cursor: pointer;
}
.RIDisabledDesignActions .RIAction{
cursor: not-allowed;
}
.RIAction{
    border-width: 0px 0px 0px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2px;
}
.RIAction>div {
    padding: 5px 8px 3px 3px;
}
.RIActionHover>div {
    background-color: #00AEFF;
    background-repeat: repeat-x;
    background-position: center top;
    color: #000000;
}
.RIActionImage{
    padding-left: 5px;
    padding-right: 5px;
    vertical-align : middle;
}
.RITabHover .RITab{
background-position: left bottom;
background-repeat: repeat-x;
}
.RIFloadingContainer{
background-color: #00AEFF;
background-repeat: repeat-x;
border-color: #A8CEFC #00AEFF #00AEFF #A8CEFC;
color: #000000;
margin: 0px;
padding-top: 1px;
padding-bottom: 3px;
}
.RIMenuTableDesign{
color: white;
background-repeat: repeat-x;
background-position: center top;
border-width: 0px 0px 0px 0px;
vertical-align: top;
}
.RISourceBG{
background-color: #FFD17C;
}
.RILogicBG{
background-color: #D4ABFF;
}
.RIRuleBG{
background-color: #DEFCE1;
}
.RITriggerBG{
background-color: #FFA0DF;
}
.RICompositeHoverBG{
background-color: #00AEFF;
}
.CafeOneCursorRow td{
background-color: #FFCD66 !important;
background-repeat: repeat-x !important;
background-position: center top !important;
}
.e1toolbar {
color: #000000;
background-color: #C9DAEB;
border-top: #D9DFE3 1px solid;
border-left: #D9DFE3 1px solid;
border-right: #D9DFE3 1px solid;
background-repeat: repeat-x;
background-position: bottom;
padding: 0px 0px 0px 0px;
}
.e1toolbar TD {
height: 15px;
color: #333333;
}
.e1toolbar TD.componenttitle {
padding: 0px 5px 0px 5px;
font-size: 10pt;
font-weight: bold;
vertical-align: middle;
color: #343434;
height: 18px;
border-width: 0px 0px 0px 0px;
}
.e1toolbar TD.componenttitle A {
font-size: 8pt;
}
.e1toolbar TD.componenttitle A:ACTIVE {
font-size: 8pt;
}
.e1toolbar TD.componenttitle A:VISITED {
font-size: 8pt;
}
.e1toolbar TD.componenttitle A:HOVER {
font-size: 8pt;
color: #CC0033;
}
.e1toolbar TD.buttons {
background-color: #C9DAEB;
color: #000000;
width: 1%;
text-align: right;
vertical-align: middle;
}
.e1toolbar TD.buttons A {
font-size: 8pt;
}
.e1toolbar TD.buttons A:ACTIVE {
font-size: 8pt;
}
.e1toolbar TD.buttons A:VISITED {
font-size: 8pt;
}
.e1toolbar TD.buttons A:HOVER {
font-size: 8pt;
color: #CC0033;
}
.e1gridtoolbar {
    color: #000000;
    background-color: #F2F4F7;
    border-top: 1px solid #D6DFE6;
    border-left: 1px solid #D6DFE6;
    border-right: 1px solid #D6DFE6;
    padding: 0px 0px 0px 0px;
}
.e1gridtoolbar TD {
height: 15px;
color: #333333;
}
.e1gridtoolbar TD.componenttitle {
padding: 0px 5px 0px 5px;
font-weight: bold;
vertical-align: middle;
height: 18px;
border-width: 0px 0px 0px 0px;
}
.e1gridtoolbar TD.componenttitle A {
font-weight: normal;
color: #333333;
}
#PerseonalizationBar {
    position: relative;
    left: 0px;
    top: -62px;
    height: 50px;
    width: 100%;
    z-index: 101;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-color: #000000;
}
#PerseonalizationBar.withBreadcrumbs
{
    top: -80px;
}
#PerseonalizationBar #oracleImage {
    width: 132px;
}
#PerseonalizationBar .appname {
    color: #f2f2f2;
    white-space: nowrap;
}
#oracleImage.topLeftTable
{
    position: relative;
    top: -5px;
}
.appname.topLeftTable
{
    position: relative;
    top: 2px;
    left: 3px;
}
html[dir="rtl"] .appname.topLeftTable
{
    right: 3px;
}
.JSGridHeaderBack {
    overflow: hidden;
    background-color: #F2F4F7;
    border-bottom: 1px solid #D6DFE6;
}
.JSSelectHeader {
    background-color: #F2F4F7;
    border-right: 1px solid;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-color: #D6DFE6;
}
.JSSelectHeader_rtl {
    background-color: #F2F4F7;
    border-right: 1px solid;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-color: #D6DFE6;
}
.JSSelectGrid, .JSSelectGrid_rtl {
    background-color: #F7F9FC;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top:  none;
    border-left: none;
    border-color: #D6DFE6;
}
.mainnav {
font-weight: bold;
background-color: #FAFAFA;
color: #FFFFFF;
width: 100%;
height: 43px;
border: 0px none;
padding: 0px 0px 0px 0px;
}
.mainnav TD {
color: #FFFFFF;
}
.mainnavlink A {
color: #FFFFFF;
}
.mainnavlink A:ACTIVE {
color: #FFFFFF;
}
.mainnavlink A:VISITED {
color: #FFFFFF;
}
.mainnavlink A:HOVER {
color: #CC0033;
}
.topimagecell, .topimagecell_rtl {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}
.toptext {
    color: inherit;
}
.secnav {
width: 100%;
height: 20px;
border: 0px none;
padding: 0px 0px 0px 0px;
background-color: #F5F5F5;
color: #000000;
}
.secnav TD {
height: 20px;
color: #000000;
}
.secnav TD.seperator {
height: 1px;
}
.secnav A {
color: #000000;
}
.secnav A:ACTIVE {
color: #000000;
}
.secnav A:VISITED {
color: #000000;
}
.secnav A:HOVER {
color: #CC0033;
}
.secnav SPAN {
color: #000000;
}
.component {
width: 100%;
height: 100%;
vertical-align: top;
padding: 0px 0px 0px 0px;
}
.HugeHeading {
color: #4A598C;
font-size: 18px;
font-weight: bold;
}
#formTitleTable {
    overflow: hidden;
    margin: 0px;
    left: 0px;
    right: 0px;
    border-radius: 1px 1px 0px 0px;
    background: -webkit-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: -moz-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: linear-gradient(#F5F5F5 0%, #F0F0F0 100%); /* MUST BE LAST */
}
.MainHeading {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 4px 0px 4px;
    width: 100%;
}
.TopHeading {
color: #454545;
font-size: 18px;
font-weight: bold;
}
#brandingArea .TopHeading {
    color: #f2f2f2;
}
.SectionHeading {
    border-top: #D9DFE3 1px solid;
    border-right: #D9DFE3 1px solid;
    border-bottom: #D9DFE3 1px solid;
    border-left: #D9DFE3 1px solid;
    width: 100%;
    font-weight: bold;
    background: -webkit-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: -moz-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: linear-gradient(#F5F5F5 0%, #F0F0F0 100%); /* MUST BE LAST */
    color: #000000;
    padding: 3px 3px 3px 3px;
}
.SubHeading {
font-weight: bold;
}
.FieldLabel {
    color: #454545;
}
#brandingArea .FieldLabel {
    color: #f2f2f2;
}
html[dir="rtl"] .FieldLabel {
    padding-right: 2px;
}
.FieldLabelSmall {
    font-size: 8pt;
    color: #454545;
}
HR {
border-top: #D9DFE3 1px solid;
border-right: white 0px solid;
border-bottom: white 0px solid;
border-left: white 0px solid;
height: 1px;
}
.HR1 {
border-top: #AAAAAA 1px solid;
border-right: white 0px solid;
border-bottom: white 0px solid;
border-left: white 0px solid;
height: 1px;
}
.HR2 {
border-top: #CCCCCC 1px solid;
border-right: white 0px solid;
border-bottom: white 0px solid;
border-left: white 0px solid;
height: 1px;
}
.RaisedBorders {
border-top: #D9DFE3 1px solid;
border-right: #D9DFE3 1px solid;
border-bottom: #D9DFE3 1px solid;
border-left: #D9DFE3 1px solid;
}
.BlackBorders {
border-top: black 1px solid;
border-right: black 1px solid;
border-bottom: black 1px solid;
border-left: black 1px solid;
}
.ClearBorders {
border-top: black 0px solid;
border-right: black 0px solid;
border-bottom: black 0px solid;
border-left: black 0px solid;
}
.GridBorder {
border-top: #D6DFE6 1px solid;
border-right: #D6DFE6 1px solid;
border-bottom: #D6DFE6 1px solid;
border-left: #D6DFE6 1px solid;
}
.BoldBorder {
border-top: #D6DFE6 2px solid;
border-right: #D6DFE6 2px solid;
border-bottom: #D6DFE6 2px solid;
border-left: #D6DFE6 2px solid;
}
.QBECell {
font-size: 8pt;
border-left: white 1px solid;
border-top: white 1px solid;
border-right: #EDF6FF 1px solid;
border-bottom: #EDF6FF 1px solid;
background-color: #EDF6FF;
color: #000000;
}
.QBECell_rtl {
font-size: 8pt;
border-right: white 1px solid;
border-top: white 1px solid;
border-left: #EDF6FF 1px solid;
border-bottom: #EDF6FF 1px solid;
background-color: #EDF6FF;
color: #000000;
}
.GridHeaderCell, .GridHeaderCell_rtl {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-top: none;
    border-color: #D6DFE6;
    background-color: #F2F4F7;
}
.GridHeaderCell DIV, .GridHeaderCell_rtl DIV, .GridHeaderCell SPAN, .GridHeaderCell_rtl SPAN {
font-size: 8pt;
color: #343434;
}
.GridHeaderReqdInd {
width: 8px;
height: 15px;
border: 0px;
background-repeat: no-repeat;
}
.ShowPopup {
width: 48px;
height: 48px;
border: 0px;
background-repeat: no-repeat;
}
.popupWindow {
    opacity: 1;
    border: 1px solid #c4ced7;
    border-radius: 1px;
    background: #f9f9f9;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .45);
}
.popupTitleBar, .ui-dialog-titlebar {
    /* linear-gradient top-to-bottom - each browser uses different syntax */
    background: -webkit-linear-gradient(#f5f5f5 0%,#F0F0F0 100%);
    background: -moz-linear-gradient(#f5f5f5 0%,#F0F0F0 100%);
    background: linear-gradient(#f5f5f5 0%,#F0F0F0 100%); /* MUST BE LAST */
    border-bottom: 1px solid #c4ced7;
    height: 23px;
}
.popupTitle, .ui-dialog-title {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:14px;
    font-weight: bold;
    color: #252525;
    padding-left:10px;
    padding-right:5px;
    height: 23px;
    line-height: 23px;
    cursor: move;
}
td.popupTitle {
    padding: 0px;
}
.popupTitle table {
    width: 100%;
    font-size:14px;
}
.popupErrorText
{
    margin: 3px;
}
.ui-dialog {
    z-index:1000;
}
.ui-dialog-titlebar-custom-close {
    /* Extra padding to account for a jQuery span vs. popupWindow div for .ui-dialog-title (for right alignment) */
    padding-right: 8px;
}
#timeoutDialogText {
    /* Indenting the message text. */
    padding-left: 10px;
}
#modalIframetd[type="9"]
{
    padding-top: 10px;
    padding-bottom: 10px;
}
.e1HelpLayoutCell .e1HelpLayoutCell img {
    padding-top: 1px; /* this lines up the help icon in upper left of form */
}
.helpOptionsSiblingColumn img,
.imageDiv16 {
    padding-top: 4px;
    padding-left: 1px;
    padding-right: 3px;
    cursor: pointer;
}
.helpOptionsSiblingColumn.touchEnabled img,
.imageDiv16.touchEnabled {
    padding-left: 3px;  /* adding a little more space on touch devices */
}
.jdeErrorBtn img {
    padding-top: 0px;
}
.imageDiv16 {
    float: right;
}
html[dir="rtl"] .imageDiv16 {
    float: left;
}
html[dir="rtl"] .popupTitle {
    padding-left:5px;
    padding-right:10px;
}
.TextReqdInd {
    font-size: 16pt;
    font-weight: bold;
    vertical-align: -30%;
    text-align: left;
    color: #0572ce;
}
.GridHeaderAscDescArrow {
width: 11px;
height: 17px;
border: 0px;
background-repeat: no-repeat;
}
.SelectedGridHeaderCell {
font-size: 8pt;
border-top: #D3DCE8 1px solid;
border-right: #4A598C 1px solid;
border-bottom: #4A598C 1px solid;
border-left: #D3DCE8 1px solid;
background-color: #939CBA;
color: #000000;
}
.SelectedGridHeaderCell DIV {
font-size: 8pt;
color: #000000;
}
.SelectedGridHeaderCell SPAN {
font-size: 8pt;
color: #000000;
}
.GridBorder .GridCell, .GridBorder .GridCell_rtl, .SelectedGridCell, .SelectedGridCell_rtl {
background-color: #FFFFFF;
border-left: none;
border-top: none;
border-right: 1px solid;
border-bottom: 1px solid;
border-color: #EEEEEE;
color: #333333;
font-weight: normal;
}
.gridCell, 
.gridCell_rtl,
.selectedGridCell,
.selectedGridCell_rtl
{
  line-height:23px;
  vertical-align: middle;		
}
.GridCell_disabled  {
border-bottom: white 1px solid;
border-right: white 1px solid;
background-color: #A9A9A9;
color: #000000;
}
.GridCell_highlighted  {
border-top: #F2F2F5 1px solid;
border-left: #F2F2F5 1px solid;
border-bottom: white 1px solid;
border-right: white 1px solid;
background-color: #000080;
color: #ffffff;
}
.GridCell_pastelocation {
background-color: #008000 !important;
color: #ffffff !important;
}
.GridCell_disabled_rtl {
border-top: #F2F2F5 1px solid;
border-right: #F2F2F5 1px solid;
border-bottom: white 1px solid;
border-left: white 1px solid;
background-color: #A9A9A9;
color: #000000;
}
.GridCell_highlighted_rtl {
border-top: #F2F2F5 1px solid;
border-right: #F2F2F5 1px solid;
border-bottom: white 1px solid;
border-left: white 1px solid;
background-color: #000080;
color: #ffffff;
}
.GridCellAlt {
border-top: #D3DCE8 1px solid;
border-left: #D3DCE8 1px solid;
border-bottom: white 1px solid;
border-right: white 1px solid;
background-color: #D3DCE8;
color: #000000;
font-weight: normal;
}
.GridCellAlt_rtl {
border-top: #D3DCE8 1px solid;
border-right: #D3DCE8 1px solid;
border-bottom: white 1px solid;
border-left: white 1px solid;
background-color: #D3DCE8;
color: #000000;
font-weight: normal;
}
.SelectedGridCell, .SelectedGridCell_rtl {
  background-color: #e4f0fa;
}
table.gridborder table tr:hover td.SelectedGridCell,
table.gridborder table tr:hover td.SelectedGridCell_rtl
{
  background-color: #d4dfe8;
}
table.gridborder table tr:hover td.GridCell,
table.gridborder table tr:hover td.GridCell_rtl
{
  background-color: #ebeced;
}
table.gridborder table tr td:first-child
{
  background-color: #F7F9FC;
}
table.gridborder table tr:hover td:first-child
{
  background-color: #d6d7d8;
}
table.gridborder table tr td.SelectedGridCell:first-child
{
  background-color: #DAE9F5;
}
table.gridborder table tr:hover td.SelectedGridCell:first-child
{
  background-color: #ccdae6;
}
.SelectedGridCellAlt {
border-top: #C9CEDD 1px solid;
border-right: #C9CEDD 1px solid;
border-bottom: white 1px solid;
border-left: white 1px solid;
background-color: #C9CEDD;
color: #000000;
font-weight: normal;
}
.SelectedGridCellAlt_rtl {
border-top: #C9CEDD 1px solid;
border-left: #C9CEDD 1px solid;
border-bottom: white 1px solid;
border-right: white 1px solid;
background-color: #C9CEDD;
color: #000000;
font-weight: normal;
}
.TabBody {
    margin-top: -2px;
    background-color: #FFFFFF;
    border: 1px solid #C4CED7;
    -moz-border-radius: 0px 7px 7px 7px;
    -webkit-border-radius: 0px 7px 7px 7px;
    border-radius: 0px 7px 7px 7px;
}
html[dir="rtl"] .TabBody {
    -moz-border-radius: 7px 0px 7px 7px;
    -webkit-border-radius: 7px 0px 7px 7px;
    border-radius: 7px 0px 7px 7px;
}
.TabBody A {
color: #333333;
}
.TabBody A:ACTIVE {
color: #333333;
}
.TabBody A:VISITED {
color: #333333;
}
.TabBody A:HOVER {
color: #CC0033;
}
.TabBody TD {
color: #333333;
}
.TabBodyWide {
background-color: #F5F5F5;
color: #000000;
border-bottom: #D9DFE3 1px solid;
border-left: black 0px solid;
border-right: black 0px solid;
border-top: black 0px solid;
}
.TabBodyWide A {
color: #333333;
}
.TabBodyWide A:ACTIVE {
color: #333333;
}
.TabBodyWide A:VISITED {
color: #333333;
}
.TabBodyWide A:HOVER {
color: #CC0033;
}
.TabBodyWide TD {
color: #000000;
}
.ActiveTab {
background-color: #0572CE;
color: #145C9E;
}
.ActiveTab A {
color: #145C9E;
}
.ActiveTab A:ACTIVE {
color: #145C9E;
}
.ActiveTab A:VISITED {
background-color: #0572CE;
color: #145C9E;
}
.tabTable, .tabTable_rtl {
    border-top: 0px solid #A3BED8;
    border-left: 0px solid #A3BED8;
    border-right: 0px solid #A3BED8;
    border-bottom: 1px solid #EBF2FC;
    padding: 2px 8px 2px 8px;
    width: 100%;
    height: 23px;
}
.tabTableSelected, .tabTableSelected_rtl,
.hoverTabTableSelected {
    padding: 2px 8px 2px 8px;
    border-top: 3px solid #0572CE;
    border-right: 1px solid #C4CED7;
    border-left: 1px solid #C4CED7;
    background-color: #FFFFFF;
    z-index: 100;
    position: relative;
}
.hoverTabTableSelected {
    border-top: 3px solid #c2dfff;
    position: static;  /* otherwise, border doesn't show in IE8 */
}
.tabCenterTableHighBg {
    height: 29px;
}
.ActiveTabLink {
text-decoration: none;
font-weight: bold;
color: #145C9E;
cursor: default;
}
.ActiveTabLink:HOVER {
text-decoration: none;
color: #145C9E;
}
.ActiveTabBorder {
background-color: #D9DFE3;
}
.ActiveTabTop {
background-color: #0572CE;
color: #145C9E;
border-top: 1px solid #D9DFE3;
}
.ActiveTabRight {
background-color: #0572CE;
color: #145C9E;
border-right: 1px solid #D9DFE3;
}
.ActiveTabRight_rtl {
background-color: #0572CE;
color: #145C9E;
border-left: 1px solid #D9DFE3;
}
.ActiveTabBottom {
background-color: #0572CE;
color: #145C9E;
border-right: 1px solid #D9DFE3;
border-left: 1px solid #D9DFE3;
border-bottom: 1px solid #0572CE;
}
.ActiveTabLeft {
background-color: #0572CE;
color: #145C9E;
border-left: 1px solid #D9DFE3;
}
.ActiveTabLeft_rtl {
background-color: #0572CE;
color: #145C9E;
border-right: 1px solid #D9DFE3;
}
.NoTabFiller {
border-bottom: 1px solid #EBF2FC;
}
.InactiveTab {
background-color: #D9E3EC;
color: #145C9E;
}
.InactiveTabBorder {
background-color: #D9DFE3;
}
.InactiveTabTop {
background-color: #D9E3EC;
color: #145C9E;
border-top: 1px solid #D9DFE3;
}
.InactiveTabRight {
background-color: #D9E3EC;
color: #145C9E;
border-right: 1px solid #D9DFE3;
}
.InactiveTabRight_rtl {
background-color: #D9E3EC;
color: #145C9E;
border-left: 1px solid #D9DFE3;
}
.InactiveTabBottom {
background-color: #D9E3EC;
color: #145C9E;
border-right: 1px solid #D9DFE3;
border-left: 1px solid #D9DFE3;
border-bottom: 1px solid #D9DFE3;
}
.InactiveTabLeft {
background-color: #D9E3EC;
color: #145C9E;
border-left: 1px solid #D9DFE3;
}
.InactiveTabLeft_rtl {
background-color: #D9E3EC;
color: #145C9E;
border-right: 1px solid #D9DFE3;
}
.InactiveTab A {
text-decoration: none;
color: #145C9E;
}
.InactiveTab A:ACTIVE {
text-decoration: none;
color: #145C9E;
}
.InactiveTab A:VISITED {
text-decoration: none;
color: #145C9E;
}
a.clickablelink {
text-decoration: none;
color:#003286;
}
a.clickablelink:hover  {text-decoration:underline}
a.clickablelink:visited  {color:#72007C}
.tablink {
text-decoration: none;
color: #145C9E;
font-weight:bold;
}
a.tablink {
text-decoration: none;
color: #145C9E;
cursor:pointer;
}
a.tablink:HOVER {
    color: #145C9E;    text-decoration: underline;
}
.disabledTablink {
text-decoration: none;
color: #9e9e9e;
cursor: default;
}
.ToolbarText {
FONT-SIZE: 8pt;
TEXT-DECORATION: none;
}
.MenuBar {
    color: #000000;
    padding: 0px 3px 0px 0px;
    border-top: 1px solid #D9DFE3;
    border-bottom: 1px solid #D9DFE3;
    border-radius: 1px 1px 0px 0px;
    background-color: #ffffff;
}
.MenuBar TD {
color: #000000;
}
.MenuBar>tbody>tr>td>table>tbody>tr>td {
    border: 1px solid transparent;
    cursor: pointer;
}
.MenuBar>tbody>tr>td>table>tbody>tr>td td { /* remove border from td within td */
    border-bottom: 0px;
}
.MenuBar>tbody>tr>td>table>tbody>tr>td[valign]:active {
    border: 1px solid #c4ced7;
}
.MenuBar A {
color: #333333;
}
.MenuBar A:ACTIVE {
color: #333333;
}
.MenuBar A:VISITED {
color: #333333;
}
.MenuBar A:FOCUS {
outline: none;
}
#WebMenuBar img {
    position: relative;
    top: 2px;
}
#WebMenuBar .touchEnabled img {
    top: 0px;
}
#WebMenuBar .WebLabel {
    height: 22px;
}
#WebMenuBar .touchEnabled .WebLabel {
    height: 20px;
}
#WebMenuBar .WebLabel .FieldLabelSmall {
    top: 4px;
    position: relative;
}
table#WebMenuBarFrame>tbody>tr:last-child>td {
    padding: 0px;
}
.MenuActive {
background-color: #104376;
color: #FFFFFF;
}
.MenuActive NOBR {
background-color: #104376;
color: #FFFFFF;
}
.MenuActive TABLE {
background-color: #104376;
color: #FFFFFF;
}
.MenuActive TR {
background-color: #104376;
color: #FFFFFF;
}
.FreezeMenu {
PADDING-TOP: 8px;
PADDING-BOTTOM: 8px;
display: none;
position: absolute;
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #FFFFFF 1px solid;
BORDER-RIGHT: #000000 1px solid;
BORDER-TOP: #FFFFFF 1px solid;
z-index: 99;
color: #000000;
background-color: #FFFFFF;
}
.MenuDropdownBack TD, .MenuDropdownBack_rtl TD {
color: #000000;
}
.MenuItem {
text-decoration: none;
cursor: pointer;
color: #000000;
}
.MenuItem A:visited {
text-decoration: none;
cursor: pointer;
color: #000000;
}
.MenuItem A:active {
text-decoration: none;
cursor: pointer;
color: #FFFFFF;
background-color: #4A598C;
}
.MenuItem A:hover {
text-decoration: none;
cursor: pointer;
color: #FFFFFF;
}
.MenuItem A:focus {
text-decoration: none;
cursor: pointer;
color: #FFFFFF;
background-color: #4A598C;
}
.MenuAnchorItem {
text-decoration: none;
cursor: pointer;
color: #000000;
padding-left: 12px;
padding-right: 12px;
width: 100%
}
.MenuItemDisabled {
text-decoration: none;
display: none;
cursor: default;
color: #888888;
min-width: 150px;
}
.MenuItemSubMenu {
cursor: pointer;
color: #000000;
width: 100%;
}
.GroupBox {
    background-color: #FFFFFF;
    border: 1px solid #dfe4e7;
    border-radius: 7px;
}
.CollapsableContainer {
    background-color: #FFFFFF;
    border-left: 1px solid #D9DFE3;
    border-right: 1px solid #D9DFE3;
    border-bottom: 1px solid #D9DFE3;
}
.SubForm_header {
    overflow: hidden;
    margin: 0px;
    padding: 0px 3px 0px 0px;
    left: 0px;
    right: 0px;
    border: 1px solid #D9DFE3;
    border-radius: 1px 1px 0px 0px;
    background: -webkit-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: -moz-linear-gradient(#F5F5F5 0%, #F0F0F0 100%);
    background: linear-gradient(#F5F5F5 0%, #F0F0F0 100%); /* MUST BE LAST */
}
.SubForm_header-disclose {
    white-space: nowrap;
    border-bottom: 1px solid #D7D7C5;
    background-color: transparent;
    border-color: transparent;
}
.SubForm_header-undisclosed-icon-style {
    display:block;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: default;
    width: 24px;
    height: 24px;
}
.SubForm_header-title {
    border-width: 0px;
    cursor: default;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid #D7D7C5;
    background-color: transparent;
    border-color: transparent;
    color: #252525;
    font-weight: bold;
    vertical-align: middle;
}
.ProcInd {
    position: absolute;
    top: 32px;
    z-index: 20000;
}
#e1menuAppIframe .ProcInd {
    top: 5px;
}
.af_progressIndicator_indeterminate {
    padding: 0px 0px 0px 0px;
    border-radius: 2px;
    border: 1px solid #DFE4E7;
    height: 14px;
    width: 112px;
    background-repeat: repeat-x;
}
.InYourFaceError {
background-color: #FFF9F9;
color: black;
border-style: solid solid solid solid;
border-color: red red red red;
border-top-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
}
.InYourFaceWarning {
background-color: #FFFFF9;
color: black;
border-style: solid solid solid solid;
border-color: yellow yellow yellow yellow;
border-top-width: 1px;
border-left-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
}
.GroupHeading {
    font-weight: bold;
    color: #252525;
}
FORM {
margin: 0px 0px 0px 0px;
}
.FormAboveGrid {
padding: 0px 0px 0px 7px;
}
.FormAboveGrid_rtl {
padding: 0px 7px 0px 0px;
}
.FormLabel {
width: 100%;
height: 20px;
vertical-align: middle;
}
.BlackBottomBorder {
border-style: solid solid solid solid;
border-color: black black black black;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-width: 1px;
}
.leftnavcontainer A {
color: #333333;
}
.leftnavcontainer A:ACTIVE {
color: #333333;
}
.leftnavcontainer A:VISITED {
color: #333333;
}
.leftnavcontainer A:HOVER {
color: #CC0033;
}
.leftnavcontainer {
color: #000000;
background-color: #F7F8F9;
width: 100%;
}
.leftnavcontainer TD {
color: #000000;
}
.leftnavactive {
font-weight: bold;
}
.leftnavactivelink {
color: #000000;
text-decoration: none;
font-weight: bold;
}
a.leftnavactivelink {
color: #000000;
text-decoration: none;
font-weight: bold;
}
a.leftnavactivelink:ACTIVE {
color: #000000;
text-decoration: none;
font-weight: bold;
}
a.leftnavactivelink:VISITED {
color: #000000;
text-decoration: none;
font-weight: bold;
}
.leftnavsub {
color: #3C3C3C;
background-color: #D4DEE7;
font-weight: bold;
vertical-align: middle;
width: 100%;
height: 18px;
}
.treebullet {
width: 9px;
height: 9px;
background-position: center;
background-repeat: no-repeat;
}
.treeactivesection {
color: #333333;
background-color: #FFFFFF;
border-top: #D4DDE9 1px solid;
border-bottom: #D4DDE9 1px solid;
}
.treeactivesectionbottomonly {
color: #333333;
background-color: #FFFFFF;
border-bottom: #D4DDE9 1px solid;
}
.treeactiveitem {
background-color: #104376;
color: #FFFFFF;
border-top: #D9DFE3 1px solid;
border-bottom: #D9DFE3 1px solid;
}
.treeactiveitem TD {
color: #FFFFFF;
}
.treeactiveitem A {
color: #FFFFFF;
}
.treeactiveitem A:active {
color: #FFFFFF;
}
.treeactiveitem A:visited {
color: #FFFFFF;
}
.treeactiveitem A:hover {
color: #FCFC5B;
}
.treeactiveitem .treebullet {
width: 9px;
height: 9px;
background-position: center;
background-repeat: no-repeat;
}
.OLAFTopNavBar {
background-color: #F5F5F5;
color: #000000;
width: 100%;
height: 25px;
padding: 0px 0px 0px 5px;
border-style: solid solid solid solid;
border-color: black black #D9DFE3 black;
border-top-width: 0px;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-width: 1px;
}
.OLAFNavBarLinkCell {
border-left: 1px solid #D9DFE3;
padding: 5px 10px 5px 10px;
font-size: 8pt;
color: #000000;
}
.OLAFNavBarLinkCell_rtl {
border-right: 1px solid #D9DFE3;
padding: 5px 10px 5px 10px;
font-size: 8pt;
color: #000000;
}
.OLAFNavBarLinkCell A, .OLAFNavBarLinkCell_rtl A {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
.OLAFNavBarLinkCell A:ACTIVE, .OLAFNavBarLinkCell_rtl A:ACTIVE {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
.OLAFNavBarLinkCell A:VISITED, .OLAFNavBarLinkCell_rtl A:VISITED {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
.OLAFNavBarLinkCell A:HOVER, .OLAFNavBarLinkCell_rtl A:HOVER {
text-decoration: underline;
font-size: 8pt;
color: #CC0033;
}
.hugeprint {
font-size: 18px;
}
.bigprint {
font-size: 14px;
}
.mainprint {
font-size: 11px;
}
.littleprint {
font-size: 8pt;
}
.fineprint {
font-size: 7pt;
}
.copyright {
font-size: 7pt;
text-align: center;
background-color: #F5F5F5;
color: #000000;
width: 100%;
padding: 2px 2px 2px 2px;
border-style: solid solid solid solid;
border-color: black black black black;
border-top-width: 1px;
border-left-width: 0px;
border-right-width: 0px;
border-bottom-width: 1px;
}
.navbarlink {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
.navbarlink:ACTIVE {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
.navbarlink:VISITED {
text-decoration: none;
font-size: 8pt;
color: #000000;
}
a.navbarlink:HOVER {
text-decoration: underline;
font-size: 8pt;
color: #CC0033;
}
.textfield {
background-repeat: repeat-x;
border-color: #AEB4BD #E0E3E8 #E0E3E8 #AEB4BD;
border-style: solid;
border-width: 1px;
color: #333333;
margin: 1px;
overflow-x: hidden;
overflow-y: auto;
padding: 2px 2px 0px 3px;
}

.textareawordwrap{
white-space:pre-wrap;
word-wrap: break-word;
}

.textfielddisabled {
color: #808080;
background-color: #FFFFFF;
border-width: 1px;
border-style: solid;
border-color: #CCCCCC;
}
.autosuggesttextfield::-ms-clear {
    display:none;
}
.popupIndicator
{
    vertical-align:top;
}
.popupIndicator img
{
    position:absolute;
    top:2px;
    left:2px;
}
html[dir="rtl"] .popupIndicator>img
{
    left:auto;
    right:2px;
}
.button, .FAVbutton, .buttonstylenormal, .ui-button {
    background-color: #E4E8EA;
    /* linear-gradient bottom-to-top - each browser uses different syntax */
    background: -moz-linear-gradient(top, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%);
    background: -webkit-linear-gradient(bottom, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%);
    background: linear-gradient(to top, #E4E8EA 0%, #E8EBED 50%, #f1f3f4 96.36%, #fff 100%); /* MUST BE LAST */
    box-shadow: inset 0px 1px 0px #FFFFFF;
    border: 1px solid #C4CED7;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
    color: #000000;
    font-size: 11px;
    text-align: center;
    text-shadow: 0px 1px 0px #FFFFFF;
}
.buttondis, .buttondisabled, .Prefbuttondisabled {
    background-color: #f4f6f7;
    border: 1px solid #e0e6eb;
    border-radius: 2px;
    text-decoration: none;
    white-space: nowrap;
    color: #9E9E9E;
    font-size: 11px;
    text-align: center;
}
.RCUXbuttonMouseOver, .button:HOVER, .buttonstylenormal:HOVER, .FAVbuttonMouseOver {
    background: linear-gradient(#F7F8F9, #F7F8F9); /* keeps iPad buttons from 'rounding' */
    background-color: #F7F8F9;
    border: 1px solid;
    border-color: #0572CE;
    font-size: 11px;
    color: #0572CE;
    text-shadow: none;
}
.RCUXbuttonMouseDown, .button:ACTIVE, .buttonstylenormal:ACTIVE, .FAVbuttonMouseDown {
    background: linear-gradient(#0572CE, #0572CE); /* keeps iPad buttons from 'rounding' */
    background-color: #0572CE;
    border: 1px solid;
    border-color: #0572CE;
    font-size: 11px;
    color: #FFFFFF;
    text-shadow: none;
    box-shadow: none;
}
.ui-dialog-buttonset {
    padding: 10px 10px 10px 10px;
}
#continueSessionBtn {
    padding: 1px 6px 1px 6px;
    position: relative;
    left: 30px;
    /* Mirroring loginTable buttons. */
    height: 28px;
    font-size: 12px;
}
#endSessionBtn {
    padding: 1px 6px 1px 6px;
    position: relative;
    left: 70px;    
    /* Mirroring loginTable buttons. */
    height: 28px;
    font-size: 12px;
}
.topborder {
border-top: #D9DFE3 1px solid;
}
TD.gridheader {
padding: 0px 2px 0px 2px;
vertical-align: middle;
color: #333333;
background-color: transparent;
}
.customNodeFlyOut {
width: 20px;
height: 13px;
}
.customNodeFlyOut_rtl {
width: 20px;
height: 13px;
}
.customNodeFlyOutHidden {
width: 20px;
height: 13px;
}
.customNodeFlyOutHidden_rtl {
width: 20px;
height: 13px;
}
.treeactiveitem .customNodeFlyOutHidden {
width: 20px;
height: 13px;
}
.treeactiveitem .customNodeFlyOutHidden_rtl {
width: 20px;
height: 13px;
}
.UIBlockingDiv {
cursor: auto;
cursor: not-allowed;
background-color: #E8E8E8;
}
.tfdisabled {
background: #DDDDDD;
border: 1px solid #DADFEA;
color: #534741;
margin: 1px;
overflow-x: hidden;
overflow-y: auto;
padding: 1px 2px 1px 3px;
}
.selectLabel
{
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
}
.RCUXComboBox{
border-color: #AEB4BD #E0E3E8 #E0E3E8 #AEB4BD;
border-style: solid;
border-width: 1px;
color: #333333;
margin: 1px;
font-size: 11px;
}
.RCUXComboBox#RILayoutSelectionForm {
    margin-top:4px;
}
.RCUXComboBoxDisabled{
background: #DDDDDD;
border: 1px solid #DADFEA !important;
color: #534741 !important;
}
.checkboxText {
    vertical-align: 15%;
    color: #333333;
}
.cbdisabled {
    vertical-align: 15%;
    color: #b9babc;
}
.accessibility {
height: 0px;
width: 0px;
overflow: hidden;
position: absolute;
background: #000000 !important;
color: #FFFFFF !important;
}
.treebulletbatch {
width: 10px;
height: 10px;
color: #6699cc;
background-position: center;
background-repeat: no-repeat;
}
.treebulletother {
width: 10px;
height: 10px;
color: #33cc00;
background-position: center;
background-repeat: no-repeat;
}
.errorTitle A {
color: #000000;
}
.errorTitle A:ACTIVE {
color: #000000;
}
.errorTitle A:VISITED {
color: #000000;
}
.errorTitle A:HOVER {
color: #656565;
}

table.mainLoginTable
{
    color: #f2f2f2;
    font-size:13px;
}
table.mainLoginTable input
{
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #DFE4E7;
    color: #333333;
    border-radius: 2px;
    background-color: #FCFDFE;
    border: 1px solid #DFE4E7;
    padding: 6px 5px 5px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0px;
}
table.mainLoginTable>tbody>tr>td:first-child
{
    white-space: nowrap;
    text-align: right;
    padding-right: 4px;
    min-width:82px;
}
table.mainLoginTable>tbody>tr>td:first-child.loginButton
{
    padding-left:0px;
    padding-right: 0px;
}
table.mainLoginTable tr.pertainsToLoginEnvAndRole
{
    display: none;
}
table.mainLoginTable[advancedstate="block"] tr.pertainsToLoginEnvAndRole
{
    display: table-row;
}
#loginTable input[TYPE="button"], #loginTable input[TYPE="submit"]
{
    height: 28px;
    font-size: 12px;
    font-weight:bold;
}
.loginText {
font-weight: bold;
color: #666666;
}
.loginlabel {
    margin:0px;
    padding: 0px 0px 3px 0px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
}
.opttext {
white-space:pre-wrap;
color:#000000;
}
.textstylenormal {
color:#000000;
}
.margin-top5 {
margin-top: 5px;
}

.iosLoginLabel {
    margin:0px;
    padding: 0px 0px 10px 0px;
    font-size:16px;
    font-weight:bold;
    color:#f2f2f2;
}
.iosOptText {
    white-space:pre-wrap;
    font-size:14px;
    color:#f2f2f2;
}
.iosLoginPageTextStyle {
    font-size:14px;
    color:#f2f2f2;
}
.iosLoginPageTextField {
    background-repeat: repeat-x;
    border-color: #AEB4BD #E0E3E8 #E0E3E8 #AEB4BD;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-size: 14px;
    margin: 1px;
    width: 400px;
    height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px 2px 1px 3px;
}
#loginTable input.iosLoginPageButtonStyle {
    font-size:14px;
    color:#000000;
    padding: 0px;
    color: #586072;
    border: 1px solid #787F93;
    background-color: #FCFEFE;
    cursor: pointer;
    background-repeat: repeat-x;
    background-position: bottom;
    width: 200px;
    height: 40px;
}
        
/* popup calendar and calculator classes */
.CalnBorder {
    width: 247px;
    border: 1px solid #c4ced7;
    border-radius: 1px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .45);
}
.CalcBorder {
    width: 218px;
    border: 1px solid #c4ced7;
    border-radius: 1px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .45);
}
.topCalnRow {
    padding-top: 10px;
    height: 44px;
}
.topCalcRow {
    padding-top: 5px;
    height: 35px;
}
.topCalnRow img {
    cursor: pointer;
}
#calnSelect {
    height: 26px;
    font-size: 12px;
}
#calnYearInput {
    height: 20px;
    line-height: 23px;
    font-size: 12px;
    text-align: right;
    padding-right: 2px;
}
html[dir="rtl"] #calnYearInput {
    text-align: left;
    padding-left: 2px;
}
.yearSelImgUp, .yearSelImgDn {
    height: 26px;
    width: 23px;
    margin-left: -3px;
    background-color: #E4E8EA;
    border: 1px solid #C4CED7;
    border-radius: 2px;
}
.yearSelImgUp:HOVER, .yearSelImgDn:HOVER {
    background-color: #F7F8F9;
    border: 1px solid;
    border-color: #0572CE;
}
.yearSelImgUp:ACTIVE, .yearSelImgDn:ACTIVE {
    background-color: #0572CE;
    border: 1px solid;
    border-color: #0572CE;
}
.dayOfWeekHeader {
    text-align: center;
    height: 15px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #737373;
}
.dayRow, .calcButtonRow {
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}
.dayRow td {
    padding-left: 5px;
    padding-right: 5px;
    width: 35px;
}
.dayRow td:hover, .dayRow td div:hover {
    text-decoration: underline;
}
.calcButtonRow td {
    padding-left: 3px;
    padding-right: 3px;
}
.calcButton {
    width: 34px;
    height: 20px;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
}
.calcBspButton {
    width: 80px;
    height: 20px;
    line-height: 17px;
    font-size: 12px;
    font-weight: bold;
}
.weekDay {
    color: #333333;
}
.weekendDay {
    color: #7E8694;
}
.nextMonthDay, .prevMonthDay {
    color: #B7D1DF;
}
.daySelected {
    color: #FFFFFF;
    background: #0572ce;
}
.today {
    height: 25px;
    width: 25px;
    border: 1px solid #0572ce;
}
.timeHeader {
    border-top: 1px solid #C4CED7;
    padding-top: 5px;
    width: 98px;
    text-align: center;
}
.UTCHeader {
    border-top: 1px solid #C4CED7;
    padding-top: 5px;
    text-align: center;
}
td.forTime {
    width: 20px;
}
input.forTime {
    max-width: 2em;
}
.UTCSelect {
    padding-left: 15px;
}
.calcReadOut {
    padding-left: 10px;
    padding-right: 10px;
}
#calcReadOut {
    width: 170px;
    font-size: 12px;
    background-color: #F5F5F5;
}

.formdiv {
position:relative;
overflow:auto;
height:100%;
width:100%;
}
.stylenormal {
    color: #000000;
    background-position:top left;
    background-color: #F5F5F5;
    background-repeat:repeat-x;
    margin-left:0px;
    margin-top:0px;
    margin-right: 0px;
    margin-bottom:0px;
}
.loginBodyAuto {
    overflow: auto;
}
.loginBodyHidden {
    overflow: hidden;
}
.loginEnvDiv {
width: 100%;
overflow: auto;
}
.envTableCell {
text-align:left;
}
.envTableCell[headers="c4"]{
text-align:center;
}
.loginEnvHeader {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 2px;
    height: 30px;
    border-bottom: 1px solid #D6DFE6;
}
.loginNoBorder {
border: 0px none;
}
.logo {
border-bottom:1px solid #FFFFFF;
background-color:#FFFFFF;
}
.topbody {
background-position:right;
background-color: #F5F5F5;
background-repeat:repeat-y;
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
}
.bottomborder {
border-bottom:1px solid #FFFFFF;
}
.appname {
    font-size: 16px;
    cursor: default;
}
div#userAndEnvContainer
{
    position:absolute;
    right:0px;
    padding-right: 32px;
    top:0px;
    bottom:0px;
    z-index:1;
}
html[dir="rtl"] div#userAndEnvContainer
{
    right:auto; /* IE doesn't support initial */
    padding-right: 0px; /* IE doesn't support initial */
    left: 0px;
    padding-left: 32px;
}
html[isappopenedinnewwindow="true"] div#userAndEnvContainer
{
    padding-right: 12px;
}
html[dir="html"][isappopenedinnewwindow="true"] div#userAndEnvContainer
{
    padding-right: 0px; /* IE doesn't support initial */
    padding-left: 12px;
}

div#usernameDiv
{
    font-size:13px;
    font-weight:bold;
    margin-top: 8px;
}
div#envDiv
{
    margin-top:-2px;
    font-size:10px;
}

div.e1MenuBarItem
{
    cursor:pointer;
    display: inline-block;
    position: relative;
    top:3px;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align:bottom;
    height:36px;    
    width:36px;
    *display: inline;  /* hack to support IE WebCenter */
    zoom: 1;  /* hack to support IE WebCenter */
}


div.e1MenuBarItemChild
{
    height:33px;
}

div#userSessionDropdown
{
    display:none;
    position:absolute;
    right: 10px;
    width:211px;
    top:38px;
    border: 1px solid #c8d1da;
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.4) 0px 1px 5px;
    z-index: 1005;
}

html[dir="rtl"] div#userSessionDropdown
{
    right:auto; /* IE doesn't support initial */
    left: 10px;
}

div#userSessionDropdown>div
{
    min-height: 32px;    
    padding-left: 2px;
    padding-right: 2px;
}
div#personalizeDiv
{
    padding-bottom: 4px;
}

div#helpAndSignOut
{
    background-color: #e8edf4;
    position:relative;
}

div#helpAndSignOut>a
{
    text-decoration: none;
}

div#signOutLinkDiv
{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    width: 138px;  /* e1LogoutLink + 2px */
}
a#e1LogoutLink
{
    display: inline-block;
    height: 29px;
    width: 136px;
}

html[dir="rtl"] div#signOutLinkDiv
{
    left: auto; /* IE doesn't support initial */
    right: 0px;
}

div#helpLinkDiv
{
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
}

html[dir="rtl"] div#helpLinkDiv
{
    right: auto; /* IE doesn't support initial */
    left: 0px;
}

.userSessionDropdownIcon
{
    height:32px;
    width:32px;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    vertical-align:middle;
}

.userSessionDropdownHeading
{
    color: #454545;
    font-size: 12px;
    font-weight: bold;

    display: inline-block;
    /* Cheat downward a couple pixels from true center */
    position: relative;
    top: 2px;
}

div#userSessionDropdown>div>:hover span.userSessionDropdownHeading
{
    text-decoration: underline;
}

div#userSessionDropdown>div>div
{
    cursor:pointer;
}

div#topLevelClickCatcher
{
    position: absolute;
    display:none;
    background-color: rgba(127,0,0,0.7);
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
}

div#menuAndFastPathContainer
{
    height:40px;
    background-color: #1E4A6D;    /* needed for portals */
}

div#menuAndFastPathContainer.notPortal
{
    position:absolute;
    top:0px;
    left:230px;
}

html[dir="rtl"] div#menuAndFastPathContainer.notPortal
{
    right: 230px;
    left: auto; /* IE doesn't support initial */
}

#TE_FAST_PATH_BOX, div#fastPathContainer a, div#fastPathFieldAndButtonDivider
{
    height: 23px;
}

#TE_FAST_PATH_BOX
{
    background-color:#eaf0f6;
    border: 1px solid #b4bfcb;
    color: #9badbf;
    border-radius:5px;
    font-size:12px;
    padding-left:12px;
    padding-right:35px;
    width:173px;
    vertical-align:middle;
    font-weight:bold;
    margin:0px;
    -webkit-appearance: none;
}
html[dir="rtl"] #TE_FAST_PATH_BOX
{
    padding-left:35px;
    padding-right:12px;
}

:focus#TE_FAST_PATH_BOX, div#fastPathContainer a:focus
{
    outline: none;
}

:focus#TE_FAST_PATH_BOX
{
    border: 1px solid #24496d;
    color: #122433;
    background-color:#f2f2f2;
}

/* correct the color contrast of the default placeholer color for accessiblity */
#TE_FAST_PATH_BOX::-webkit-input-placeholder { /* webkit */
   color: #626262;
}
#TE_FAST_PATH_BOX::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #626262;
   opacity:  1;
}
#TE_FAST_PATH_BOX:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #626262;
}

div#fastPathFieldAndButtonDivider,
#fastPathButton
{
    position:absolute;
    top:8px;
    left:196px;
    width: 30px;
    background-position: center center;
    background-repeat:no-repeat;
}
div#fastPathFieldAndButtonDivider
{
    display:inline-block;    
    width:3px;
    vertical-align:middle;
    background-position: center center;
    background-repeat: no-repeat;
}

html[dir="rtl"] div#fastPathFieldAndButtonDivider,
html[dir="rtl"] #fastPathButton
{
    left:0px; /* IE doesn't support initial */
    right:196px;
}
/*
html[dir="rtl"] div#fastPathFieldAndButtonDivider, html[dir="rtl"] div#fastPathContainer a
{
    // Necessary to overcome a bug in chrome where these otherwise render behind fastpath field 
    position: relative; 
}
*/
div#fastPathContainer label
{
    display: none;
}

div#menuContainer
{
    height: 39px;
    margin-left: 60px;
    margin-right: 60px;
    display: inline-block;    
}

div#fastPathContainer
{
    vertical-align:bottom;
    display:inline-block;
    height:40px;
    line-height: 40px;
    height:30px;
    line-height: 30px;
    margin-top: 3px;
    margin-left:7px;
    margin-right: 7px;
}


.padding-right12 {
padding-right:12px;
}
.loginTop {
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px solid #D9DFE3;
    height: 35px;
}
.loginValignTop {
vertical-align: top;
}
.loginValignBottom {
vertical-align: bottom;
}
.loginErrorPadding {
padding: 2px;
color: inherit;
}
.loginErrorMargin {
    border: 0px none;
    margin: 0px 0px 0px 0px;
}
.iosLoginErrorMargin {
    margin-left: 88px;
}
.iosLoginLegalDisclaimer>div>span {
    margin-left: 88px;
}
.loginButtonWidth {
width: 155px;
}
.loginFrameBorder {
background-color: #FFFFFF;
border-radius: 7px 7px 7px 7px;
-moz-box-shadow: 1px 1px 1px 1px #000;
-webkit-box-shadow: 1px 1px 1px 1px #000;
box-shadow: 1px 1px 1px 1px #000;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000')";
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#000000');
}
.loginFrameTableMargin {
margin: 0px 0px 0px 36px;
}
.loginFrameTable {
border: 0px none;
height: 180px;
width: 350px;
}
.boxcontent {
background: transparent;
margin: 0px;
text-align: left;
}
.loginTable {
width: 100%;
height: 100%;
border: 0px none;
}
.loginTable input
{
    /* Have to explicitely set font for input's to resolve a bug in IE where password inputs use different, narrower font and render narrower */
    font-family: Arial, Helvetica, sans-serif;
}
::-ms-reveal
{
    /* hide IE 10 password reveal eye icon due to security concern */
    display: none;
}
.loginLogoTABLE {
width: 100%;
height: 65px;
border: 0px none;
}
.loginFrameTD {
vertical-align: middle;
height: 100%;
}
.loginTopSpace {
width:100%;
background-color:#EDEDED;
border: 0px none;
}
.loginBottomSpace {
width:100%;
background-color:#F4F4F4;
border: 0px none;
}
.loginMiddleSpace {
height: 20%;
}
.loginTopLinesTD {
width: 352px;
}
.loginPeopleBgTD {
background-color:#F4F4F4;
}
.loginPeopleTD {
border: 0px none;
width: 417px;
height: 54px;
background-repeat: no-repeat;
}
.loginGlobalTopTD {
width: 352px;
height: 180px;
}
.loginGlobalTD {
width: 352px;
height: 79px;
}
.loginGrayBg {
background-color: #E9E9E9;
}
.loginLightBlueTable {
width: 100%;
height: 236px;
border: 0px none;
background-repeat: repeat-x;
}
.CopyrightRCUX {
padding-left:12px;
}
.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #D9DFE3;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    bottom: 0px;
    position: relative;
}
.legalTermsTABLE {
font-size: 8pt;
color: #000000;
width: 100%;
border: 0px none;
}
.legalTermsTABLE DIV {
    font-size: 8pt;
    color: #dedede;
}
.legalTermsTABLE DIV A {
    color: #dedede;
}
.legalTermsTABLE DIV A:HOVER {
    color: #ffffff;
}
.legalTermsTABLE DIV A:ACTIVE {
    color: #b7e0ff;
}
.HTMLMOWarning {
color : #000000;
background-color : #C9CEDD;
BORDER-BOTTOM: #000000 1px solid;
BORDER-LEFT: #000000 0px solid;
BORDER-RIGHT: #000000 0px solid;
BORDER-TOP: #000000 0px solid;
}

.prefItem
{
    padding: 3px 6px 5px 6px;
}
#resetDeviceSpecificPages, #clearBcHistory, #PrefChangeNativeContainerLinkButton
{
    position: relative;
    left: 4px;
    right: 4px;
}
#PrefSaveClose
{
    position: relative;
    left: 30px;
}
#PrefCancel
{
    position: relative;
    left: 70px;
}
html[dir="rtl"] #PrefSaveClose
{
    left: auto;
    right: 30px;
}
html[dir="rtl"] #PrefCancel
{
    left: auto;
    right: 70px;
}

.FavoritesLabel {
text-decoration: none;
cursor: pointer;
color: #000000;
-ms-transform:skewX(-20deg);
transform:skewX(-20deg);
-webkit-transform:skewX(-20deg);  /*font-style:italic;*/ 
font-weight: bold;
min-width:150px;
}
.FavoritesPopupLabel, .PrefPopupLabel {
text-decoration: none;
cursor: default;
color: #000000;
min-width:150px;
}
.FavoriteGridCellEven {
border-left: white 0px solid;
border-bottom: #D1D3DA 0px solid;
border-right: #D1D3DA 0px solid;
background-color: #F2F2F5;
color: #000000;
}
.FavoriteGridCellOdd {
border-left: white 0px solid;
border-bottom: #D1D3DA 0px solid;
border-right: #D1D3DA 0px solid;
background-color: #F9F9F9;
color: #000000;
}
.FormRowLabels {
text-decoration: none;
cursor: pointer;
color: #000000;
-ms-transform:skewX(-20deg);
transform:skewX(-20deg);
-webkit-transform:skewX(-20deg);  /* font-style:italic;*/
font-weight: bold;
min-width:150px;
}
.showMenu,
.MenuDropdownBack,
.MenuDropdownBack_rtl {
    display: block;
    z-index: 999;

    position: absolute;
    border-top: 1px solid #C4CED7;
    border-left: 1px solid #C4CED7;
    border-right: 1px solid #C4CED7; /* IE8 doesn't recognize box-shadow, so need a border here */
    border-bottom: 1px solid #C4CED7; /* IE8 doesn't recognize box-shadow, so need a border here */
    background-color: #FFFFFF;
    color: #000000;
    padding: 0px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .35);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .35);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, .35);
/* Don't use MS filter here - it seems to break EnterpriseOne navigation menus on older versions of IE. */
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')"; */
/*    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000') progid:DXImageTransform.Microsoft.Alpha(opacity=95); */
}
div#e1MRoleTable.showMenu,
div#preferenceDiv.showMenu { /* these divs should only use class showMenu for portals */
    margin-top: 33px;  /* for portals */
}
#e1MRoleSelect
{
    width: 140px;
}
.OCLMenu {
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
}
.MenuNormal {
    height: 28px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}
.HoverMenuItem
{
    height: 28px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ebeced;
    cursor: pointer;
}
.MenuNormal a {
    color: #145c9e;
    text-decoration: none;
}
.HoverMenuItem a {
    color: #145c9e;
    text-decoration: underline;
}
#OCLList,
.MenuNormal td,
.HoverMenuItem td {
    font-size: 12px;
    vertical-align: middle;
}
table.MenuNormal>tbody>tr>td,
table.HoverMenuItem>tbody>tr>td {
    padding-left: 1px;
}
#ManageFav {
    padding-left: 5px;
    padding-right: 5px;
}
#AddToFav {
    padding-left: 5px;
    padding-right: 5px;
}
table#ActionsSubMenuTable>tbody>tr>td {
    padding-left: 6px;
    padding-right: 2px;
}
html[dir="rtl"] table#ActionsSubMenuTable>tbody>tr>td {
    padding-left: 2px;
    padding-right: 6px;
}
.MenuSep {
    width: 100%;
}
.hideMenu {
display:none;
}
.menulabel {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
    cursor: default;
    text-decoration: none;
    vertical-align:middle;
    font-size: 12px;
}
.topmenulabel {
text-align: left;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 1px;
padding-top: 1px;
height: 22px;
white-space: nowrap;
cursor: default;
text-decoration: none;
color:#003286;
}
.ArrowImg {
padding-left: 3px;
padding-right: 3px;
}
div#e1BreadcrumbBar {
    height: 12px;
}
div#e1BreadcrumbBar td div[role="menuitem"] {
    cursor: pointer;
    white-space: nowrap;
    font-size: 10px;
    text-decoration: none;
}
div#e1BreadcrumbBar>table>tbody>tr {
    color: #666666;
}
div#e1BreadcrumbBar>table>tbody>tr>td:last-child>div:first-child {
    font-weight:bold;
}
div#e1BreadcrumbBar td div[role="menuitem"]:hover {
    text-decoration: underline;
}

.GenericAppIcon, .GenericReportIcon, .GenericOVRIcon, .ManageFavIcon, .AddToFavIcon,
.ReportDoneIcon, .ReportErrorIcon, .ReportProcessIcon, .ReportQueueIcon, .ReportWaitIcon
{
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 5px;
}
.ContextMenuAnchorItem {
text-decoration: none;
cursor: pointer;
color: #000000;
padding-left: 8px;
padding-right: 8px;
width: 100%
}
#emptyChildNode {
    padding: 0px;
    cursor: default;
}
.UIShellJDETitle {
color:#0D4988;
display:block;
font-size:18px;
padding-bottom:0.1em;
}
.topBannerStyle {
    background-color: #F5F5F5;
    padding-left: 10px;
    padding-right: 10px;
}
div#menutitle {
    height: 5px;
    display:none;
}
.topnavtable {
    background-color: #F5F5F5;
    border-bottom: 1px solid #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    z-index: 500;
}
div#OpenIndicatorFloatLyr{
border:none;
border-width:0px;
position:absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
z-index:2000000000;
background-color: transparent;
}
.loadingMessageText{
color: #779EC7;
font-size: 14px;
font-weight: bold;
padding-left: 15px;
line-height: 40px;
vertical-align: top;
}
div.RoundedBorders{
position:absolute;
border-radius: 7px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
background-color: #EBF1F5; 
border-bottom: 2px solid #BFBFBF;
border-right:  2px solid #BFBFBF;
border-top: 1px solid #BFBFBF;
border-left:  1px solid #BFBFBF;
}
div.InnerBorder{
position:absolute;
left:2px;
right: 2px;
top: 2px;
bottom: 2px;
}

div#e1menuAppIframediv,
div#caroHolder{
    background-color:#1e4a6d;
    position:absolute;
    overflow:hidden;
    left:0px;
    right:0px;
    top:43px;
    bottom:0px;
}
div#e1menuAppIframediv.oneTimeWindow
{
    background-color:#ffffff;
}
#innerRCUX #e1ExternalAppIframe
{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
div#caroDebug {
    display:none;
}

div#caroDebug{
    z-index:2000;
    position:absolute;
    background-color: #dedede;
    border: 1px solid #000000;
    width:400px;
    height:200px;
    overflow:scroll;
    top:120px;
    right:120px;
    opacity:0.9;
    filter:alpha(opacity=90);   
}

canvas#gesturePad{
    display:none;
    z-index:2000;
    position:absolute;
    background-color: #dedede;
    border: 1px solid #000000;
    width:250px;
    height:250px;
    top:0px;
    right:5px;
    opacity:0.5;
}

div#gestureText{
    display:none;
    z-index:2000;
    position:absolute;
    background-color: #dedede;
    border: 1px solid #000000;
    width:250px;
    height:40px;
    top:250px;
    right:5px;
    opacity:0.5;
}

div#carousel {
    position:absolute;
    border-width: 0px;
    z-index: 900;
}

div#carousel.caroTop, div#carousel.caroBottom {
    left:0px;
    right:0px;
    height:95px;
    background-color:#eaebeb;
}

div#carousel.caroTop, div#carousel.caroTop div.caroTab[active="true"]>div 
{
/*    background-color:#f5f5f5;  */
    /* Use a slightly different background color when docked along the top so as to exactly match branding area. */
}


div[whichCaption="label_two_rows"]#carousel.caroTop, div[whichCaption="label_two_rows"]#carousel.caroBottom {
    height:101px; 
}

div[tilesize="small"]#carousel.caroBottom,div[tilesize="small"]#carousel.caroTop {
    height:56px;
}

div[tilesize="small"][whichCaption="label_two_rows"]#carousel.caroBottom,div[tilesize="small"][whichCaption="label_two_rows"]#carousel.caroTop {
    height:68px;
}

div#carousel.caroLeft,div#carousel.caroRight
{
    top:2px;
    bottom:4px;
    width:188px;
}

div#caroLeftRightTopBorderProvider
{
    display: none;
}

div#carousel.caroLeft div#caroLeftRightTopBorderProvider, div#carousel.caroRight div#caroLeftRightTopBorderProvider
{
    position:absolute;
    display: block;
    height: 1px;
    left: -7px;
    right: -7px;
    top: -2px;
    background-color: #082943;    
}

div#carousel.caroTop.caroExpanded
{
    top:0px;
}
div#carousel.caroBottom.caroExpanded
{
    bottom:0px;
}
div#carousel.caroLeft.caroExpanded
{
    left:5px;
}
div#carousel.caroRight.caroExpanded
{
    right:7px;
}

div#carousel.caroTop.caroCollapsed
{
    top:-95px;
}
div[whichCaption="label_two_rows"]#carousel.caroTop.caroCollapsed
{
    top:-101px;
}
div#carousel.caroBottom.caroCollapsed
{
    bottom:-95px;
}
div[whichCaption="label_two_rows"]#carousel.caroBottom.caroCollapsed
{
    bottom:-101px; 
}
div[tilesize="small"]#carousel.caroTop.caroCollapsed
{
    top:-56px;
}
div[whichCaption="label_two_rows"][tilesize="small"]#carousel.caroTop.caroCollapsed
{
    top:-68px; 
}
div[tilesize="small"]#carousel.caroBottom.caroCollapsed
{
    bottom:-56px;
}
div[whichCaption="label_two_rows"][tilesize="small"]#carousel.caroBottom.caroCollapsed
{
    bottom:-68px; 
}
div#carousel.caroLeft.caroCollapsed
{
    left:-188px;
}
div#carousel.caroRight.caroCollapsed
{
    right:-188px;
}

div#caroBar
{
    position:absolute;
    cursor: pointer;
}

div.caroTop div#caroBar, div.caroBottom div#caroBar
{
    border-width: 0px;
    height:0px;
    left:49.5%;
}
div.caroBottom.caroCollapsed div#caroBar
{
    height:11px;  /* should match [div#e1AppFrameContainer.caroBottom.caroCollapsed] bottom */
    width:100%;
    left:0px;
    background-color:#1e4a6d;
}

div.caroTop div#caroBar
{
  bottom:2px;
}

div.caroBottom div#caroBar
{
  top:-11px;
}

div.caroLeft div#caroBar,div.caroRight div#caroBar
{
    background-color:#eaf0f6;
    height:22px;
    top:50%;
    width:9px;
    margin-top: -11px;

    border-width: 1px;
    border-style:solid;
    border-color:#c4ced7;
}


div.caroLeft div#caroBar
{
    right:-10px;
    border-radius:0px 3px 3px 0px;
}
div.caroLeft.caroExpanded div#caroBar
{
    right:-18px;
}

div.caroRight div#caroBar
{
    left:-10px;
    border-radius:3px 0px 0px 3px;
}
div.caroRight.caroExpanded div#caroBar
{
    left:-18px;
}

div.caroBarArrow
{
    display:none;
}

div.caroTop div#caroBar div.caroBarArrow, div.caroBottom div.caroBarArrow
{
    display: block;
    position:absolute;
    left:49.5%;

    height:11px;
    width:24px;

    border-width: 1px;
    border-style:solid;
    border-color:#c4ced7;

    background-color: #eaf0f6;

    z-index:2;
}

div.caroTop div#caroBar div.caroBarArrow
{
    border-top-color:#eaf0f6;
    border-radius:0px 0px 3px 3px;
}
div.caroBottom div.caroBarArrow
{
    border-bottom-color:#eaf0f6;
    border-radius:3px 3px 0px 0px;
}



div#caroGlobalEventEater
{
  z-index:80000;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-color:#ffffff;
  opacity:0.0;
  filter:alpha(opacity=00);
}

div#caroGlobalEventEater.off
{
  display:none;
}

div#caroGlobalEventEater[debug="true"]
{
  background-color:#ff0000;
  opacity:0.2;
  filter:alpha(opacity=20);
}

div#e1AppFrameContainer
{
    position:absolute;
    overflow:hidden;
    z-index:100;
}

div#e1AppFrameContainer.caroTop
{
    left:0px;
    bottom:0px;
    right:0px;
}
div#e1AppFrameContainer.caroBottom
{
    top:0px;
    left:0px;
    right:0px;
}
div#e1AppFrameContainer.caroLeft
{
    top:0px;
    bottom:0px;
    right:0px;
}
div#e1AppFrameContainer.caroRight
{
    top:0px;
    left:0px;
    bottom:0px;
}

div#e1AppFrameContainer.caroTop.caroExpanded
{
    top:95px;
}
div[whichCaption="label_two_rows"]#e1AppFrameContainer.caroTop.caroExpanded
{
    top:101px; 
}
div#e1AppFrameContainer.caroBottom.caroExpanded
{
    bottom:95px;
}
div[whichCaption="label_two_rows"]#e1AppFrameContainer.caroBottom.caroExpanded
{
    bottom:101px;
}
div[tilesize="small"]#e1AppFrameContainer.caroTop.caroExpanded
{
    top:56px;
}
div[whichCaption="label_two_rows"][tilesize="small"]#e1AppFrameContainer.caroTop.caroExpanded
{
    top:68px; 
}
div[tilesize="small"]#e1AppFrameContainer.caroBottom.caroExpanded
{
    bottom:56px;
}
div[whichCaption="label_two_rows"][tilesize="small"]#e1AppFrameContainer.caroBottom.caroExpanded
{
    bottom:68px; 
}
div#e1AppFrameContainer.caroLeft.caroExpanded
{
    left:200px;
}
div#e1AppFrameContainer.caroRight.caroExpanded
{
    right:202px;
}

div#e1AppFrameContainer.caroTop.caroCollapsed
{
    top:0px;
}
div#e1AppFrameContainer.caroBottom.caroCollapsed
{
    bottom:11px;  /* should match CARO.CONSTANTS.CARO_COLLAPSED_CONTAINER_BOTTOM in carousel.js */
}
div#e1AppFrameContainer.caroLeft.caroCollapsed
{
    left:7px;
}
div#e1AppFrameContainer.caroRight.caroCollapsed
{
    right:7px;
}

iframe#e1menuAppIframe
{
    position:absolute;
    z-index: inherit;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}
div#caroContentHolder
{
    position: absolute;
    left:0px;
    right:0px;
    background-color:#eaf0f6;
}

div.caroTop div#caroContentHolder
{
    top:0px;
    bottom:2px;
}

div.caroBottom div#caroContentHolder
{
    bottom:0px;
    top:2px;
}

div#caroContentHolder>div
{
    position:absolute;
    margin-left:4px;
    margin-right:4px;
}

div.caroTile
{
  position: absolute;
  width:64px;
  height:54px;
  border: 1px solid transparent;
  cursor:pointer;
}
div.caroTile[isactivetile="true"],
div.caroTile[active="true"]
{
  background-color:#ffffff;
  border: 1px solid #c4ced7;
}

div[whichCaption="label_two_rows"] div.caroTile
{
  height: 66px;
}
div[tilesize="large"] div.caroTile
{
  width:84px;
  height:93px;
}
div[tilesize="large"][whichCaption="label_two_rows"] div.caroTile
{
  height:99px;
}

div.caroTileMainGraphic
{
  width:38px;
  height:38px;
  background-repeat: no-repeat;
  background-position: center;
}

div[tilesize="small"] div.caroTileMainGraphic
{
  margin-left:12px;
}
html[dir="rtl"] div[tilesize="small"] div.caroTileMainGraphic
{
  margin-left:auto;
  margin-right:10px;
}

div[tilesize="large"] div.caroTileMainGraphic
{
  width:74px;
  height:62px;
}
div.filter
{
  position: static;
  height:38px;
  background-repeat: no-repeat;
  background-position: center;
}

div.caroTile div.filter
{
  -moz-border-radius:5px;
  border-radius:5px;
}

div[tilesize="large"] div.caroTile div.filter
{  
  -moz-border-radius:10px;
  border-radius:10px;
}

div.caroTile div.glare
{
  background-size: 100%;  
}

div[tilesize="small"] div.caroTile img.glare
{
    margin-top:-38px;
}

div[tilesize="large"] div.caroTile img.glare
{
    margin-top:-76px;
}

img.tileImg
{
    border-width: 0px;
}

div[tilesize="large"] div.caroTile  img.tileImg
{
    padding-left:7px;
}
div[tilesize="large"] div.caroTile[isactivetile="true"]  img.tileImg,
div[tilesize="large"] div:hover.caroTile  img.tileImg
{
    width:70px;
    height:70px;
}

div[tilesize="small"] img.tileImg
{
    width:38px;
    height:38px;
}

div[tilesize="small"] div.caroTile[isactivetile="true"]  img.tileImg,
div[tilesize="small"] div:hover.caroTile  img.tileImg
{
    width:40px;
    height:40px;
}
div[tilesize="small"] div.caroTile[isactivetile="true"]  div.caroTileMainGraphic,
div[tilesize="small"] div:hover.caroTile  div.caroTileMainGraphic
{
  margin-left:11px;
}

div.listTextSpacer>span[active="true"]
{
    color:#000000;
}

div.caroLeft>div#caroContentHolder,div.caroRight>div#caroContentHolder
{
    display:none;
}

div.caroTop>div#listContentHolder,div.caroBottom>div#listContentHolder
{
    display:none;
}

div.listHeader
{
    color: #e9eff5;
    background-color: #1e4a6d;
    position:relative;
    min-height: 24px;
    cursor: pointer;    
}
div:hover.listHeader
{
    color: #ffffff;
}

div#listContentHolder[positioning=true] div.caroList
{
    position: absolute;
    width: 100%;
}

div.caroList[moveable=true]
{
    cursor:move;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    z-index:2000;
}

div.caroList[immoveable=true]
{
    cursor:not-allowed;
}

div.caroLeft div#listContentHolder
{
    margin-left:0px;
    margin-right:0px;
}
div.caroRight div#listContentHolder
{
    margin-left:0px;
    margin-right:0px;
}

div.listArrow
{
    position: absolute;
    top:0px;
    left:0px;
    width:13px;
    height:13px;
}
div.listArrowBox
{
    position:absolute;
    top:5px;
    left:5px;
    width:13px;
    height:13px;
}
html[dir="rtl"] div.listArrowBox
{
    left: auto;
    right:5px;
}

div.listHeader.expanded div.listArrow
{
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    transform:rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
html[dir="rtl"] div.listHeader.collapsed div.listArrow
{
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    transform:rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
}

div.listHeaderTextPositionHelper
{
    position:absolute;  
    line-height:24px;
    left:23px;
    right:0px;
}

html[dir="rtl"] div.listHeaderTextPositionHelper
{
    left: 0px;
    right: 23px;
}

span.listHeaderText
{
    font-size:12px;
    text-decoration:none;
    white-space:nowrap ;
    line-height:24px;
    padding-left:2px;
    padding-right:2px;
}

span.listHeaderTextSizer
{
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
}

div.listItem
{
    font-size: 12px;
    color: #394545;
    text-align: center;
    text-shadow: 0px 1px 0px #FFFFFF;
    width:100%;
    position:absolute;
    min-height:32px;
    cursor:pointer;
}
div:hover.listItem
{
    color: #0000FF;
}

div[active="true"].listItem,
div[isActiveTile="true"].listItem
{
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #c4ced7;
}

td.listIcon
{
    width:32px;
    max-width:32px;
    min-height:32px;
    height:32px;
}


table.listItem
{
    width:100%;
    border:0px;
    border-collapse:collapse;
    table-layout: fixed;
}

td.listIcon
{
    text-align:center;
}

table.listItem td
{
    vertical-align:middle;
    padding:0px;  
}

td.listIcon img
{
    height:20px;
    width:20px;
}

td.listText, div.listTextSpacer>span
{
    width:156px;
    min-width:156px;
    max-width:156px;
    text-align:left;

    /* The following lines provide best effort for cross-browser wrapping of 
        longstringswithnospacesanywhere.  Including browsers not currently 
        supported just in case they become supported in the future so the 
        syntax doesn't have to be re-researched.  */
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    -ms-word-wrap : break-word; /* IE 8+ (preferred over word-wrap) */
}

html[dir="rtl"] td.listText
{
    text-align:right;
}

div.listContentOuter
{
    position: relative;
    overflow:hidden;
    background-color: #eaf0f6;
    border-bottom: 1px solid #082943;
    -webkit-overflow-scrolling:touch;
}
div.listContentInner
{
    position:absolute;
    border: 0px solid #880000;
    left:0px;
    right:0px;
    overflow:hidden;
}

div.caroList[moveable=true], div.listItem[moveable=true], div.caroTile[moveable=true], div.tab[moveable=true]
{
    border-color: #00d6fd;
    opacity:0.5;
    filter:alpha(opacity=50);
}

div.listItem[moveable=true]
{
    cursor:move;
    margin-top:-2px;
    margin-bottom:-2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    z-index:2000;
}

div.caroList[activatefordrop=true]
{
    cursor:move;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #66ff66;
    background-color: #bcc1c7;
    z-index:2000;
    opacity:0.5;
    filter:alpha(opacity=50);
}

div.listItem[activatefordrop=true]
{
    margin-top:-2px;
    margin-bottom:-2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #66ff66;
}

div.caroTile[moveable=true]
{
    cursor:move;
    z-Index:2000;
    border-width: 2px;
    border-style: solid;
}

div.caroTile[activatefordrop=true]
{
    background-color: #bcc1c7;
}

div.caroTile[activatefordrop=true] div.caroTileMainGraphic
{
     border-color:#66ff66;
}

div.caroTile[moveable=true], 
div.caroTile[moveable=true] div.caroTileMainGraphic,
div.caroTile[moveable=true] div.caroTileMainGraphic img
{
    background-color: transparent;
}

div.listItem[immoveable=true]
{
    margin-top:-2px;
    margin-bottom:-2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color: #000000;
    cursor:not-allowed;
}

div.caroTile[immoveable=true]
{
    cursor:not-allowed;
}

div.caroTile[immoveable=true] div.caroTileMainGraphic
{
    border-color:#000000;
}


div.caroTile[immoveable=true] div.caroTileMainGraphic
{
    border-width:1px;
    margin-left: -1px;    /*  0px - 1px */
    margin-top: -1px;     /*  0px - 1px */
    margin-bottom: -1px;  /*  0px - 1px */
    height: 78px; /* 76 + 2 */
    width: 78px; /* 76 + 2 */
}

div[tilesize="small"] div.caroTile[immoveable=true] div.caroTileMainGraphic
{
    border-width:1px;
    margin-left: 11px;    /* 12px - 1px */
    margin-top: -1px;     /*  0px - 1px */
    margin-bottom: -1px;  /*  0px - 1px */
    height: 40px; /* 38 + 2 */
    width: 40px; /* 38 + 2 */
}

div.ccPlaceholder
{
    line-height:100px;
    color: #ffffff;
    font-family:Arial,Helvetica,Sans;
    font-size: 48pt;
    left: 0px;
    right: 0px;
    text-align:center;    

    opacity:0;
}

div#caroTabBar
{
  position:absolute;
  left:0px;
  margin:0px;
  width:1000px;
  height:26px;  
  line-height:25px;
  border-width:0px;
  background-color:#1e4a6d;
  opacity:0;
  filter:alpha(opacity=0);   
}
div#caroTabBar.stealthed
{
    background-color:transparent;

}

html[dir="rtl"] div#caroTabBar
{
  left: auto;
  right: 0px;
}

div.caroTop div#caroTabBar
{
    bottom: -24px;
}

div.caroBottom div#caroTabBar
{
  top:-24px;
}

div.caroTab
{
  cursor:pointer;

  color: #c4ced7;
  font-size: 1.1em;

  position:absolute;
  display:block;
  top:0px;
  white-space: nowrap;
  overflow: visible;
}
div.caroTop div.caroTab
{
  top:-2px;
}

div.caroTab[moveable=true]
{
 cursor:move;
 z-index:99;
 opacity:0.5;
 filter:alpha(opacity=50);
}

div.caroTab[immoveable=true]
{
 cursor:not-allowed;
}

div.caroLeft div.caroTab,div.caroRight div.caroTab,div.caroLeft div.caroTabBar,div.caroRight div.caroTabBar
{
  display:none;
}

div.stealthed, div.stealthed div
{
    opacity: 0;
    filter: alpha(opacity=0);
}

div.stealthed div.caroTab, div.caroTabBar.stealthed
{
    display: block;
}

div.captionSpacer
{
    display:none;
    position: absolute;
    width: 500px;
    height: 50px;
}

div.listTextSpacer
{
    position:absolute;
    display:none;
    width:156px;
    min-width:156px;
    max-width:156px;    
    height:96px;
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    -ms-word-wrap : break-word; /* IE 8+ (preferred over word-wrap) */

}

div.caroTileCaption div, div.captionSpacer>span, div.captionSpacer
{
    margin-top: 1px;
    /* The following lines provide best effort for cross-browser wrapping of 
        longstringswithnospacesanywhere.  Including browsers not currently 
        supported just in case they become supported in the future so the 
        syntax doesn't have to be re-researched.  */
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
    -ms-word-wrap : break-word; /* IE 8+ (preferred over word-wrap) */
}

div.caroTile[isActiveTile="true"] div.caroTileCaption div
{
    color:#000000;
}

div[tilesize="small"] div.caroTileCaption div, div[tilesize="small"] div.captionSpacer>span
{
    font-size: 7pt;
}

div.caroTileCaption div
{
  text-align: center;
}

div.caroTileCaption
{
    font-size: 8pt;
    color:#7C7E80;
    margin-right: 4px;
}
html[jdeaccessibility="true"] div.caroTileCaption {
    /* need more contrast for accessibility */
    color:#394545;
}
div:hover.caroTile div.caroTileCaption {
    color:#000000;
}

html[dir="rtl"] div.caroTileCaption
{
    margin-right: auto;
    margin-left: 4px;
}

div[tilesize="small"] div.caroTileCaption
{
    margin-right: 2px;
}

html[dir="rtl"] div[tilesize="small"] div.caroTileCaption
{
    margin-right: auto;
    margin-left: 2px;
}

div.labelCaptionDiv, div.appIDCaptionDiv, div.formIDCaptionDiv, div.labelTwoRowsCaptionDiv
{
    display:none;
}

div#carousel[whichCaption="appID"] div.appIDCaptionDiv
{
    display: block;
}

div#carousel[whichCaption="formID"] div.formIDCaptionDiv
{
    display: block;
}
div#carousel[whichCaption="label"] div.labelCaptionDiv
{
    display: block;    
}

div#carousel[whichCaption="label_two_rows"] div.labelTwoRowsCaptionDiv
{
    display: block;    
}

div#showHideCaroTabs>div.caroTabM>span
{
    display:inline-block;
    width:14px;
    height:14px;
    margin-top:3px;
}
div#showHideCaroTabs
{
    border-left: 1px solid #082943;
}
html[dir="rtl"] div#showHideCaroTabs
{
    border-left: 0px;
    border-right: 1px solid #082943;
}

div#showHideCaroTabs>div.caroTabR, div#caroTabBar
{
    border-radius: 0px 6px 0px 0px;
}
div.caroTop div#showHideCaroTabs>div.caroTabR, div.caroTop div#caroTabBar
{
    border-radius: 0px 0px 6px 0px;
}
html[dir="rtl"] div#showHideCaroTabs>div.caroTabR, html[dir="rtl"] div#caroTabBar
{
    border-radius: 6px 0px 0px 0px;
}
html[dir="rtl"] div.caroTop div#showHideCaroTabs>div.caroTabR, html[dir="rtl"] div.caroTop div#caroTabBar
{
    border-radius: 0px 0px 0px 6px;
}


a.panControl
{
    position:absolute;
    display:none;
    cursor:pointer;
}

a.panControl[necessary="true"]
{
    display:block;
    background-color:#dbe5ee;
    opacity:0.75;
    z-index: 999;
}

a.panControl.up
{
    top:0px;
    border-bottom:1px solid #a2b0bf;
}
a:active.panControl.up
{
    height:13px;
    border-bottom:2px solid #a2b0bf;
}

a.panControl.down
{    
    bottom:0px;
    border-top:1px solid #a2b0bf;
}
a:active.panControl.down
{    
    bottom:-1px;
    border-top:2px solid #a2b0bf;
}

a.panControl.up,a.panControl.down
{
    width:188px;
    height:14px;
}

a.panControl.left,a.panControl.right
{
    width:15px;
    height:66px;
}

div[tilesize="large"] a.panControl.left, div[tilesize="large"] a.panControl.right
{
    height: 99px;
}

a.panControl.left
{
    left:0px;
    border-right:1px solid #a2b0bf;
}
a:active.panControl.left
{
    left:-1px;
    border-right:2px solid #a2b0bf;
}

a.panControl.right
{
    right:0px;
    border-left:1px solid #a2b0bf;
}
a:active.panControl.right
{
    width:14px;
    border-left:2px solid #a2b0bf;
}

a:hover.panControl
{
    opacity:0.9;
}
a:active.panControl
{
    opacity:1;
}

a.recentReportsRefreshControl, a.closeFolderControl, a.backFolderControl, a.refreshWatchlistControl
{
    display:inline-block;
    width:20px;
    height:12px;
}

a.closeFolderControl
{
    width:12px;
}
div.listHeaderTextPositionHelper>a.backFolderControl
{
    position: absolute;
    right: 24px;
    top: 6px;
}
html[dir="rtl"] a.backFolderControl
{
    margin-right: 0px;
    margin-left: 8px;
}

a.backFolderControl[ctlDisabled="true"]
{
    display: none;
}

div.listHeaderTextPositionHelper>a.recentReportsRefreshControl, div.listHeaderTextPositionHelper>a.closeFolderControl
{
    display:block;
    position: absolute;
    right: 6px;
    top: 6px;
}
html[dir="rtl"] div.listHeaderTextPositionHelper>a.recentReportsRefreshControl, html[dir="rtl"] div.listHeaderTextPositionHelper>a.closeFolderControl
{
    right:auto;
    left: 6px;
}

a:active.refreshWatchlistControl
{
    position:relative;
    left:1px;
    top:1px;
}

a:hover.backFolderControl[ctlDisabled="true"]
{
    display: none;
}

a:active.backFolderControl[ctlDisabled="true"]
{
    display: none;
}

div.caroDetailPane,
div.tabdetail
{
    width:220px;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border:1px solid #c4ced7;
    background-color:#f9f9f9;
    position:absolute;
    display: none;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:10px;
    padding-left:10px;

     z-index:2;

    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, .40);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, .40);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .40);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

    background-position: center;    
}
