
.wizardTaskList{
	width: 180px;
}

.wizardTaskListHeader{
	background-color: #E9EDF4;
	color: #000000;
	BORDER-BOTTOM: #284277 1px solid;
	BORDER-LEFT: #284277 1px solid;
	BORDER-RIGHT: #284277 1px solid;
	BORDER-TOP: #284277 1px solid;
	height:22px;
}


.wizardTaskListHeaderTitle{
	width:100%;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-align: left;
	padding-left:5px;
}

.wizardTaskListBodyContainer{
	BORDER-LEFT: #284277 1px solid;
	BORDER-RIGHT: #284277 1px solid;
	BORDER-BOTTOM: #284277 1px solid;	
	padding-top:3px;
	padding-bottom:3px;
	padding-left:5px;
	padding-right:5px;
}

.wizardPageHeader{
	background-color: #E9EDF4;
	color: #000000;
	BORDER-BOTTOM: #284277 1px solid;
	BORDER-LEFT: #284277 1px solid;
	BORDER-RIGHT: #284277 1px solid;
	BORDER-TOP: #284277 1px solid;
	height:22px;
}

.wizardPageHeaderTitle{
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	padding-left:5px;
}

.wizardTaskIcon{
	width: 15px;
	padding-top:2px;
	vertical-align:top;
}


.wizardTask{
	font-family: Arial;
	font-size: 9pt;
	padding-left:3px;
	padding-top:1px;
	padding-bottom:1px;
	padding-right:1px;
}

.wizardTaskLink{
	font-family: Arial;
	font-size: 9pt;
	color:#000000;
}

a.wizardTaskLink:HOVER{
	color: #0000FF;
}

.wizardTaskLink:VISITED{
	color: #000000;
}


.wizardTaskIconSelected{
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}

.wizardTaskSelected{
	border-right:1px solid #000000;
	border-top:1px solid #000000;
	border-bottom:1px solid #000000;
}

.wizardTaskLinkSelected{
	font-weight: bold;
}

.wizardProgressBar{
	background-color:#C9C9F4;
	border:1px solid black;
	font-family: Arial;
	font-size: 8pt;
	color:#000000;
	text-align:center;
}