<div class="side-app">

	<!-- page-header -->
	<div class="page-header">
		<ol class="breadcrumb">
			<!-- breadcrumb -->
			<li class="breadcrumb-item"><a href="<?= $this->Html->url('/') ?>">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Banking Details</li>
		</ol><!-- End breadcrumb -->
		<div class="ml-auto">
			<div class="input-group">
				<a href="<?= $this->Html->url('/bankingetails/add') ?>" class="btn pull-right hidden-sm-down btn-success">Add New Bank Detail</a>

			</div>
		</div>
	</div>
	<!-- End page-header -->

	<!-- row -->
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header pb-0">
					<div class="card-title">Banking Details</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table id="example" class="table table-striped table-bordered text-nowrap w-100">
							<thead>

								<tr>
									<th class="wd-15p">id</th>
									<th class="wd-15p">customer</th>
									<th class="wd-15p">IBAN_No</th>
									<th class="wd-15p">Account_No</th>
									<th class="wd-15p">Bank_Name</th>
									<th class="wd-15p">country_id</th>
									<th class="wd-15p">status</th>
									<th class="wd-15p">created</th>
									<th class="wd-15p">modified</th>
									<th class="wd-15p">Actions</th>
								</tr>
							</thead>
							<tbody>
								<?php
	$i = 0;
	foreach ($bankingetails as $bankingetail):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
								<tr<?php echo $class;?>>
									<td><?php echo $bankingetail['Bankingetail']['id']; ?>&nbsp;</td>
									<td>
										<?php echo $this->Html->link($bankingetail['Customer']['id'], array('controller' => 'customers', 'action' => 'view', $bankingetail['Customer']['id'])); ?>
									</td>
									<td><?php echo $bankingetail['Bankingetail']['IBAN_No']; ?>&nbsp;</td>
									<td><?php echo $bankingetail['Bankingetail']['Account_No']; ?>&nbsp;</td>
									<td><?php echo $bankingetail['Bankingetail']['Bank_Name']; ?>&nbsp;</td>
									<td>
										<?php echo $this->Html->link($bankingetail['Country']['title'], array('controller' => 'countries', 'action' => 'view', $bankingetail['Country']['id'])); ?>
									</td>
									<td>
										<?php if($customer['Customer']['status']==0){?>
										<i class="fa fa-times-circle" style="font-size: 30px;color:red"></i>
										<?php }else{?>
										<i class="fa fa-check-circle" style="font-size: 30px;color:green"></i>
										<?php }?>
									</td>
									<td><?php echo $bankingetail['Bankingetail']['created']; ?>&nbsp;</td>
									<td><?php echo $bankingetail['Bankingetail']['modified']; ?>&nbsp;</td>

									<td>
										<div class="input-group">


											<?= $this->Html->link(
								'<span><i class="fe fe-eye"></i></span>',
								['action' => 'view',  $bankingetail['Bankingetail']['id']],
								['escape' => false,  'class' => 'btn bg-primary text-white mr-2 btn-sm','data-toggle'=>'tooltip','data-placement'=>"top",'data-original-title'=>'View']
							) ?>


											<?= $this->Html->link(
								'<span><i class="si si-pencil"></i></span>',
								['action' => 'edit',  $bankingetail['Bankingetail']['id']],
								['escape' => false,  'class' => 'btn btn-yellow text-white mr-2 btn-sm','data-toggle'=>'tooltip','data-placement'=>"top",'data-original-title'=>'Edit']
							) ?>
											<?= $this->Html->link(
								'<span><i class="si si-trash"></i></span>',
								['action' => 'delete',  $bankingetail['Bankingetail']['id']],
								['escape' => false,  'class' => 'btn bg-danger text-white btn-sm','data-toggle'=>'tooltip','data-placement'=>"top",'data-original-title'=>'Delete'], sprintf(__('Do you want to delete %s?', true), $bankingetail['Bankingetail']['id'])
							) ?>
										</div>
									</td>
									</tr>
									<?php endforeach; ?>

							</tbody>
						</table>
					</div>
				</div>
				<!-- table-wrapper -->
			</div>
			<!-- section-wrapper -->
		</div>
	</div>
	<!-- row end -->

</div>
<!--


<div class="bankingetails index">
	<h2><?php __('Bankingetails');?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id');?></th>
			<th><?php echo $this->Paginator->sort('customer_id');?></th>
			<th><?php echo $this->Paginator->sort('IBAN_No');?></th>
			<th><?php echo $this->Paginator->sort('Account_No');?></th>
			<th><?php echo $this->Paginator->sort('Bank_Name');?></th>
			<th><?php echo $this->Paginator->sort('country_id');?></th>
			<th><?php echo $this->Paginator->sort('status');?></th>
			<th><?php echo $this->Paginator->sort('created');?></th>
			<th><?php echo $this->Paginator->sort('modified');?></th>
			<th><?php echo $this->Paginator->sort('modified_by');?></th>
			<th class="actions"><?php __('Actions');?></th>
	</tr>
	<?php
	$i = 0;
	foreach ($bankingetails as $bankingetail):
		$class = null;
		if ($i++ % 2 == 0) {
			$class = ' class="altrow"';
		}
	?>
	<tr<?php echo $class;?>>
		<td><?php echo $bankingetail['Bankingetail']['id']; ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($bankingetail['Customer']['id'], array('controller' => 'customers', 'action' => 'view', $bankingetail['Customer']['id'])); ?>
		</td>
		<td><?php echo $bankingetail['Bankingetail']['IBAN_No']; ?>&nbsp;</td>
		<td><?php echo $bankingetail['Bankingetail']['Account_No']; ?>&nbsp;</td>
		<td><?php echo $bankingetail['Bankingetail']['Bank_Name']; ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($bankingetail['Country']['title'], array('controller' => 'countries', 'action' => 'view', $bankingetail['Country']['id'])); ?>
		</td>
		<td><?php echo $bankingetail['Bankingetail']['status']; ?>&nbsp;</td>
		<td><?php echo $bankingetail['Bankingetail']['created']; ?>&nbsp;</td>
		<td><?php echo $bankingetail['Bankingetail']['modified']; ?>&nbsp;</td>
		<td><?php echo $bankingetail['Bankingetail']['modified_by']; ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View', true), array('action' => 'view', $bankingetail['Bankingetail']['id'])); ?>
			<?php echo $this->Html->link(__('Edit', true), array('action' => 'edit', $bankingetail['Bankingetail']['id'])); ?>
			<?php echo $this->Html->link(__('Delete', true), array('action' => 'delete', $bankingetail['Bankingetail']['id']), null, sprintf(__('Are you sure you want to delete # %s?', true), $bankingetail['Bankingetail']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page %page% of %pages%, showing %current% records out of %count% total, starting on record %start%, ending on %end%', true)
	));
	?>	</p>

	<div class="paging">
		<?php echo $this->Paginator->prev('<< ' . __('previous', true), array(), null, array('class'=>'disabled'));?>
	 | 	<?php echo $this->Paginator->numbers();?>
 |
		<?php echo $this->Paginator->next(__('next', true) . ' >>', array(), null, array('class' => 'disabled'));?>
	</div>
</div>
<div class="actions">
	<h3><?php __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Bankingetail', true), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Customers', true), array('controller' => 'customers', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Customer', true), array('controller' => 'customers', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Countries', true), array('controller' => 'countries', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Country', true), array('controller' => 'countries', 'action' => 'add')); ?> </li>
	</ul>
</div>-->