@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular) format('truetype');
}
/* arabic */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('NotoSans-Bold.ttf'), url(../fonts/NotoSans-Bold.ttf) format('truetype');
}
/* arabic */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat ExtraBold'), local('NotoSans-BoldItalic.ttf'), url(../fonts/NotoSans-BoldItalic.ttf) format('truetype');
}
body{
    font-family: 'Noto Sans', sans-serif !important;
}

.slick-active .custom-slick-dot{
    color: #2ba78a!important;
}
.custom-slick-dot .loader::after{
    background: #2ba78a!important;
}
.kikdAh .custom-slick-dot span{
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 18px!important;
}
.hero{
    margin-bottom:70px;
}
.hero h1{
    line-height: 45px;
    font-size: 30px;
    font-weight: normal;
    margin-top: 20px;
    letter-spacing: 0;
    text-align:justify;
}
.no-secret p,.container-2.white_color p{
    color: #fff;
}
.page-home .no-secret p.text-5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}
.page-home .hero .left{
    padding-top: 8.635417vw;
}
/*.hrrMRC .title-text{
background: linear-gradient(transparent 65%, #2ba78a) center center / 0% 75% no-repeat;
}*/
.effect-link span {
    /*text-transform: uppercase;*/
    font-size: 15px;
}
.btn{
    background: #383838;
    color: #fff;
}
.btn:hover {
    color: #fff;
    background: #2ba78a;
}
.btn-dark:hover {
    color: #383838;
    background: #fff;
}
.btn-dark {
    color: #fff;
    background: #383838;
}
.hide_contrnt{
    display: none!important;
}
.new_contact .text,.contact .text{
    color: #fff;
}
.page{
    /*padding-top: 70px;*/
}
.page-home .no-secret .text-3{
    font-size: 18px;
    line-height: 23px;
}
footer .effect-link span{
    text-transform: none;
    font-size: .9375vw;
}
.text-6{
    /*font-size: 18px;*/
}
.register_form{
    width: 50%;
    float: left;
    margin-left: 30px;
}
.page-get-started.register_page{
    background: #f5f5f5;
    margin-top: 50px;
}
.img{
    width: 40%;
    float: right;
    text-align: center;
    height: 600px;
}
.img img{
    width: 500px;
    position: relative;
    bottom: 185px;
}
.register_form.form-group button[type=submit] {
    border: unset;
    margin-top: 30px;
    display: block;
}
.select-container {
    height: 40px;
}
.form button:not(.btn).active{
    color: #fff;
}
.section {
    padding-top: 40px;
}
.register_page .form-group .form-header__header {
    font-size: 26px;
    font-weight: bold;
    color: #2ba78a;
}
.register_page .text-9{
    font-size: 18px;
}
.register_page .form-header{
    text-align: left;
    margin-bottom: 50px;
}
.kikdAh .custom-slick-dot .loader {
    width: 70px!important;
    margin: 0px 15px!important;
}
.kikdAh .custom-slick-dot {
    font-size: 30px;
}
.kikdAh .slick-dots li:nth-child(3).slick-active .custom-slick-dot .loader3::after{
    animation: 12s ease 0s infinite normal none running iqWJWd;
}
.kikdAh .custom-slick-dot{
    font-size: 30px;
}
.page-home .no-secret .clients img {
    max-height: 6.166667vw;
}
.page-home .no-secret .text-5.second_txt{
    padding: 70px 0 0 0;
    font-size: 1.4583333333vw;
    font-weight: bold;
}
.shape-overlays__path:nth-of-type(3) {
    fill: #2ba78a;
}
.multi-columns .items .item .title.service_title {
    font-weight: 600;
}
.contact .container-2 {
    width: 90%;
    padding-left: 4.875vw;
    padding-right: 4.875vw;
}

.section.contact{
    padding-top: 55px;
    padding-bottom: 50px;
}
.section.contact .text-6{
    line-height: 2;
}
.section.services{
    padding-top: 70px;
}
.hamburger {
    border-radius: 0; 
}
footer .col .head {
    font-weight: bold;
}
/*.slick-list::before{
    content: "Business goals achieved with ESL";
    color: #383838;
    font-size: 40px;
    font-weight: bold;
}*/
.hamburger:after {
    border-radius: 0; 
}
.text-3 {
    letter-spacing: 0;
}
#scroll-down {
    padding-top: 79px;
}
.page-home .no-secret .text-5{
    padding-top: 8.083333vw;
}
.btn .btn-text,.btn:hover .btn-text {
    font-weight: bold;
}
.page-home .services {
    padding-bottom: 4.739583vw;
}
.section.form {
    padding-top: 70px;
}
.login_page{
    padding-top: 40px;
    background: #f5f5f5;
    padding-bottom: 40px;
}
.login_tabs{
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #e1e0d5;
}
.login_tabs li.nav-item {
    width: 50%;
    text-align: center;
}
.login_tabs.nav-pills .nav-link {
    border-radius: 0;
    padding: 30px;
}
.login_tabs.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2ba78a;
}
.login_tabs a:hover {
    color: #383838;
}
a:hover {
    color: #383838;
    text-decoration: none;
}
.login_tabs .tab-content{
    padding: 35px 20px;
}
.form_content{
    margin-left: auto;
    margin-right: auto;
}
.login_page h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.form_content .form-control{
    height: 46px;
    line-height: 46px;
    padding-left: 18px;
    border-radius: 0;
    border: 1px solid #383838;
    background: none;
}
.form-control:focus {
    border-color: unset;
    box-shadow: unset;
    color: #383838;
}
.form_content .form-group{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.btn_login{
    text-align: center;
    margin-top: 25px;
}
.btn_login .btn-primary {
    border-color: unset;
    border-radius: unset;
    line-height: 15px;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: unset;
}
.register__form .form-control{
    margin-top: 20px;
}
.register__form select.form-control:not([size]):not([multiple]){
    height: 46px;
}
.styles__Time{
    text-align: left;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    margin-top: 20px;
}
.styles__Divider{
    width: 100%;
    height: 1px;
    background: rgb(204, 204, 204);
    margin: 20px 0px 25px;
}
.styles__Title .title-text{
    display: inline;
    font-size: 34px;
    width: 100%;
    margin-bottom: 10px;
    color: #383838;
    line-height: 1.18;
    transition: background-size 0.4s ease 0s;
    background: linear-gradient(transparent 65%, #2ba78a) center center / 0% 75% no-repeat;
    cursor: pointer;
}
.styles__Item:hover .title-text{
    background-size: 100% 100%;
}
.styles__Item .styles__ImageWrapper{
    transition: transform 0.2s ease 0s;
    display: block;
    height: 200px;
}
.styles__Item .styles__ImageWrapper img{
    height: 100%;
}
.styles__Item:hover .styles__ImageWrapper {
    transform: scale(0.95);

}
.styles__ShortDescription{
    font-size: 20px;
    width: 100%;
    color: #383838;
    line-height: 1.6;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.styles__ContentWrapper{
    height: 270px;
    margin-bottom: 25px;
}
.Content.blog_page{
    padding-top: 40px;
    padding-bottom: 40px;
}
.styles__Profile{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.styles__ProfileImage{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.styles__ProfileContent{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    overflow: hidden;
}
.styles__ProfileName{
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.styles__ProfilePosition{
    font-size: 18px;
}
.hQhVBL {
    position: relative;
    width: 100%;
    height: 500px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.dqpqpY {
    position: absolute;
    width: 45%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
.fQUIsU {
    font-size: 90px;
    font-weight: bold;
    line-height: 1;
}
.fQUIsU {
    font-size: 90px;
    font-weight: bold;
    line-height: 1;
}
.fejQrV {
    width: 100%;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 130% 120%;

}
ul.pagination{
    justify-content: center;
}
.page-item .page-link{
    line-height: 25px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #2ba78a;
    border-color: #2ba78a;
}
.page-link {
    color: #2ba78a;
}
.page-link:hover {
    color: #2ba78a;
    text-decoration: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.bUfuRq {
    width: 100%;
    height: 39.5833vw;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.paging span{
    z-index: 1;
    color: #fff;
    background-color: #383838;
    border-color: #383838;
    padding: 10px;
}
.post_page .styles__ContentWrapper {
    height: auto;
    margin-bottom: 25px;
}
.post_page .title-text{
    font-size: 48px;
}
.paging span:hover{
    color: #fff;
    background-color: #2ba78a;
    border-color: #2ba78a;
}
.paging span a{
    height: 100%;
    display: inline-block;
}
.paging span a:hover{
    color: #fff;
}
.paging span.current{
    color: #fff;
    background-color: #2ba78a;
    border-color: #2ba78a;
}
.error-message{
    color: red;
    margin-top: 10px;
}
#flashMessage{
    text-align: center;
}
.capacha{
    text-align: center;
    padding-top: 20px;
}
.capacha p{
    height: 46px;
    border: 1px solid #000;
    line-height: 42px;
}
.slick-track{
    margin-top:15px;
}
.new_contact{
    display:none;
}
.page-get-started .hero h1{
    font-weight: bold;
}
.page-get-started .section.hero{
    margin-bottom: 20px;
    padding-bottom: 25px;
}
.page-get-started .section.form {
    padding-top: 30px;
}
.css-dd4ji1-control ,.css-dd4ji1-control:focus,.css-dd4ji1-control:active,.css-dd4ji1-control:hover{
    background-color: rgb(245 245 245)!important;
}
@media (max-width: 767px){
    .hQhVBL {
        flex-direction: column;
        height: 400px;
    }
    .dqpqpY {
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
    .fQUIsU {
        font-size: 50px;
    }
}
@media (max-width: 414px){
    .fejQrV {
        background-position: -80px center;
        background-size: 86% 100%;
        width: 200%;
    }
}

@media (min-width: 2000px){
    .page-home .hero {
        margin-bottom: 150px;
    }
}

@media (min-width: 768px){
    nav .logo {
        width: 14.03125vw;
    }
    footer .bottom img {
        width: 12.03125vw;
    }
    .page-home .meet-and-hire .item {
        padding: 15px;
        position: relative;
    }

    .page-home .meet-and-hire .item .name {
        /*position: absolute;
        top: 30px;
        left: 95px;*/
        font-weight: bold;
        line-height: 18px;
        font-size: .9375vw;
    }
    .text-8 {
        font-size: 12px;
        line-height: 17px;
    }
    .page-home .meet-and-hire .item .read-more {
        padding-top: 8px;
        font-weight: bold;
        /*top: 5px;*/
    }
    .page-home .meet-and-hire .item .image-container {
        margin-bottom: 20px;
    }
    .page-home .no-secret .text-3 {
        line-height: 33px;
        font-size: 19px;
    }
    footer .col a {
        font-size: .9375vw;
    }
    .contact .text .text-2 {
        font-size: 22px;
    }
    .section__title {
        margin-bottom: 3.5vw;
    }
    .section__sub-title {
        margin-bottom: 5.166667vw;
    }
    .multi-columns .items .item {
        margin-bottom: 3.041667vw;
    }
    .section.services_section{
        padding-top: 70px;
    }
    .page-home .services .accordion-container .item .name {
        font-size: 1.7708333333vw;
        padding: 12px 0;
        font-weight: bold;
        font-size: 1.4583333333vw;
    }
    .get-started-steps .item .name {
        font-size: 1.4583333333vw;
        font-weight: bold;
    }
    .page-home .services .accordion-container .item .description {
        font-size: 1.0416666667vw;
        line-height: 20px;
    }
    .page-home .meet-and-hire {
        padding-top: 6.4375vw;
    }
    footer .bottom .right {
        line-height: 2.083333vw;
    }
    .services_section.multi-columns .items{
        margin-top: -50px;
    }
    .services .image-container {
        margin-right: 0; 
        margin-top: 20px;
    }
    .section.no-secret {
        padding-bottom: 3.25vw;
    }
    .page-home .meet-and-hire .left {
        padding-top: 2.8125vw;
    }

    .text-2 {
        font-size: 2vw!important;
    }
    .meet-and-hire .text-2 {
        font-size: 22px!important;
    }
    .page-home .meet-and-hire {
        padding-bottom: 10.25vw;
    }
    .page-home .hero .right {
        display: block;
        width: 22.9vw;
    }
    .page-get-started .form-group .form-header__header{
        font-size: 1.4vw;
        font-weight: bold;
    }
    .page-get-started .container-5 {
        width: 50.770833vw;
    }
    .page-get-started .form input::placeholder,.page-get-started .form textarea::placeholder{
        font-size:14px;
    }
    .css-1wa3eu0-placeholder{
        font-size:14px;
    }
    .page-home .no-secret>img {
        left: 2.25vw;
        top: 2.208333vw;
        width: 12.25vw;
    }
    footer .bottom.justify-between {
        align-items: center;
    }
    .section.no-secret {
        padding-top: 100px;
    }

    /*.page-get-started .form button:not(.btn) {
        font-size: .8375vw;
        font-weight: 700;
    }*/

}
@media (min-width: 1400px){
    #wrapper {
        bottom: -140px; /* -3vw*/
    }
    .section.no-secret{
        margin-top: 165px;
    }
}
@media (min-width: 1350px) and (max-width: 1400px){
    #wrapper {
        bottom: -140px; /* -3vw*/
    }
    .section.no-secret{
        margin-top: 165px;
    }
}
@media (min-width: 1200px) and (max-width: 1350px){
    #wrapper {
        bottom: -175px; /* -3vw*/
    }
    .section.no-secret{
        margin-top: 200px;
    }
}
@media (min-width: 1150px) and (max-width: 1300px){
    .slick-list::before {
        font-size: 33px;
    }
    .section.no-secret {
        padding-top: 100px;
    }
}
@media (min-width: 1150px) and (max-width: 1200px){
    #wrapper {
        bottom: -175px; /* -3vw*/
    }
    .section.no-secret{
        margin-top: 200px;
    }
    .kikdAh .slick-dots{
        bottom: -70px;
    }
}
@media (min-width: 992px) and (max-width: 1149px){

    #wrapper {
        bottom: -170px;
    }
    .section.no-secret{
        margin-top: 200px;
    }
    .contact .container-2 {
        width: 100%;
    }
    .slick-list::before {
        font-size: 35px;
    }
    .contact .container-2 {
        padding-left: 6.875vw;
        padding-right: 6.875vw;
    }
    nav a.c-button--marquee span {
        font-size: 13px;
        width: 9.510417vw;
    }
    .page-home .meet-and-hire .left {
        padding-top: 4.8125vw;
    }

}

@media (min-width: 768px) and (max-width: 991px){
    .effect-link span {
        margin-right: 10px;
    }
    .meet-and-hire .text-6{
        font-size: 1.0416666667vw
    }
    .meet-and-hire-item .text-8{
        margin-bottom: 5px;
    }
    .text-8 {
        font-size: .9375vw;
        line-height: 1.5;
    }
    .page-home .meet-and-hire .item .name {
        line-height: 1.5;
        margin-bottom: 5px;
    }
    #wrapper {
        bottom: -18vw;
    }
    .section.no-secret{
        margin-top: 135px;
    }
    .slick-list::before {
        font-size: 35px;
        line-height: 35px;
    }
    .hero h1{
        line-height: 35px;
    }
    nav a.c-button--marquee span {
        font-size: 1.5vw;
        width: 8.510417vw;
    }
    .contact .container-2 {
        padding-left: 2.875vw;
        padding-right: 2.875vw;
        width: 90%;
    }
    .kikdAh .custom-slick-dot span {
        margin-left: 2px!important;
    }
    /*.contact*/
}
@media (max-width: 767px){
    .cursor-pointer.logo{
        width: 180px;
    }
    .slick-list::before {
        font-size: 20px;
    }
    .hero h1 {
        line-height: 25px;
        font-size: 18px;
        letter-spacing: 0px;
    }
    .kikdAh .custom-slick-dot .loader {
        width: 40px!important;
        margin: 0px 15px!important;
    }
    .page-home .no-secret .text-3 {
        font-size: 15px;
        line-height: 23px;
    }
    .page-home .no-secret p.text-5 {
        font-size: 15px;
    }
    .page-home .no-secret .text-5.second_txt {
        font-size: 15px;
    }
    /*.clients img:nth-child(1){
    display: none;
}*/
    .page-home .no-secret .clients img {
        max-height: 10.166667vw;
    }
    .meet-and-hire .text-6{
        font-size: 15px;
    }
    .meet-and-hire .text-2{
        font-size: 20px;
    }
    .page-home .hero {
        padding-top: 20px;
    }
    .btn {
        font-size: 14px;
        height: 45px;
        line-height: 45px;
        padding-left: 35px;
        padding-right: 10px;
        font-weight: bold;
    }
    .btn .arrow {
        width: 12px;
        height: 22px;
        top: 11px;
        background-repeat: no-repeat;
    }
    .btn .arrow-left {
        left: 15px;
    }
    .btn .arrow-right {
        right: -20px;
        top: 11px;
        height: 22px
    }
    .meet-and-hire-item .text-7 {
        font-size: 16px;
        font-weight: bold;
    }
    .meet-and-hire-item .text-8 {
        font-size: 15px;
    }
    .page-home .meet-and-hire .item .read-more {
        padding-top: 3.25vw;
    }
    .page-home .meet-and-hire .item {
        padding: 20px;
    }
    .services_section .text-2{
        font-size: 20px;
    }
    .services_section .text-6 {
        font-size: 15px;
        margin-top: 15px;
    }
    .services_section.section{
        padding-top: 70px;
    }
    .page-home .multi-columns.services_section .item .title {
        font-size: 20px !important;
    }
    .contact .container-2 {
        width: auto;
    }
    .contact .text-2{
        font-size: 20px;
        line-height: 1.6;
    }
    .contact .text-6{
        font-size: 15px;
        line-height: 1.6;
    }
    .contact .btn {
        font-size: 15px;
        padding: 0 30px 0 60px;
        height: 60px;
        line-height: 60px;
    }
    .contact .btn .arrow {
        top: 14px;
    }
    .contact .btn .arrow-left {
        left: 25px;
    }
    .text-2{
        font-size: 20px;
    }
    .page-home .accordion-container .name, .page-home .get-started-steps .name {
        font-size: 16px !important;
        font-weight: bold;
    }
    .page-home .services .accordion-container .item .description {
        font-size: 15px;
    }
    .accordion {
        padding-top: 15.5px;
        padding-bottom: 15.5px;
    }
    .get-started-steps .item .description {
        font-size: 15px;
    }
    .section {
        padding-top: 70px;
    }
    .page-home .services .link-container {
        margin-top: 20px;
    }
    footer .effect-link span {
        font-size: 15px;
    }
    footer .col a {
        line-height: .5 !important;
        font-size: 15px;
    }
    footer .bottom a{
        width: 100%;
    }
    footer .bottom img {
        width: 180px;
    }
    .kikdAh ul.slick-dots{
        justify-content: center!important;
    }
    footer .col a.email {
        line-height: 15px!important;
    }

}
@media (min-width: 626px) and (max-width: 768px){
    .slick-list::before {
        font-size: 33px;
    }
    .hero h1{
        font-size: 30px;
        line-height: 40px;
    }
    .hero {
        margin-bottom: 0;
    }
    footer .grid.grid-cols-1 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .meet-and-hire .text-6{
        font-size: 16px;
    }
    .page-home .no-secret .text-3 {
        font-size: 16px;
    }
    .page-home .no-secret p.text-5 {
        font-size: 18px;
    }
    .page-home .no-secret .text-5.second_txt {
        font-size: 18px;
    }
}
@media (max-width: 500px){
    .hero {
        margin-bottom: 0;
    }
    .global-menu__item.started_link{
        /*color: #fff;
        opacity: 1;
        position: relative;
        bottom: 50px;*/
    }


}
.hero h1{
    text-align: center;
}
.page-home .hero h1{
    text-align: left;
}

.fGuXqz {
    position: absolute;
    left: 40px;
    height: 700px;
    object-fit: cover;
}
.foveKv {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding: 120px 0px;
    background: rgb(71, 71, 71);
    position: relative;
    overflow: hidden;
}
.gjjTia {
    padding-top: 0px;
    padding-bottom: 40px !important;
}
.ibXbq {
    color: rgb(225, 224, 213);
    font-weight: 700;
    font-size: 2.29167vw;
    z-index: 9999;
}
.jegGtt {
    font-size: 1.04167vw;
    font-family: SofiaPro-Regular;
    line-height: 1.6;
    color: rgb(225, 224, 213);
    margin-top: 40px;
    width: 43.75vw;
    text-align: center;
    z-index: 9999;
}
.iXVvcC {
    width: 170px;
    height: 170px;
    object-fit: contain;
    margin-top: 70px;
    margin-bottom: 10px;
    z-index: 9999;
}
.new_hero h1{
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -1.8px;
    font-size: 40px;
}
.new_hero h2 {
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: .38px;
    font-size: 22px;
}
.image-lang{
    padding-top: 10px;
    margin-right: 0;
    background: #383838;
    display: inline-block;
    width: 50px;
    height: 150px;
    text-align: center;
}
.image-lang img{
    width: 100px;
    height: 50px;
    transform: rotate(90deg);
    display: block;
    margin-top: -10px;
}
.image-lang span{
    transform: rotate(-90deg);
    display: block;
    position: relative;
    top: 40px;
    right: 0;
    color: #fff;
    font-weight: bold;
}
.fBEOfW {
    position: absolute;
    width: 300px;
    height: 212px;
    padding-left: 135px;
    top: 0px;
    left: -300px;
    z-index: 10;
}
.fBEOfW .share-button {
    float: left;
    margin-top: 15px;
}
.fBEOfW .share-button {
    display: block;
    position: relative;
    height: 30px;
}
.fBEOfW .share-button-secondary {
    overflow: hidden;
    margin-left: 15px;
    height: 30px;
}
.fBEOfW .share-button-secondary-content {
    font-family: sans-serif;
    font-size: 0.75em;
    background: rgb(255, 227, 0);
    display: block;
    height: 30px;
    text-align: left;
    padding-left: 24px;
    padding-right: 18px;
    line-height: 30px;
    color: rgb(36, 36, 36);
    border-radius: 0px 15px 15px 0px;
    transform: translate3d(-100%, 0px, 0px);
    transition: transform 175ms ease 0s;
}
.fBEOfW .share-button-primary {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    background: rgb(43 167 138);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    left: 0px;
    top: 50%;
    margin-top: -15px;
}
.fBEOfW .share-button-icon {
    display: block;
    color: rgb(43 167 138);
    position: absolute;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-top: 1px;
}
@media (max-width: 1540px){
    .fBEOfW {
        position: relative;
        height: auto;
        left: 0px;
        display: flex;
        padding-left: 0px;
        margin-bottom: 20px;
    }
    .fBEOfW .share-button {
        margin-top: 0px;
        width: 30px;
        margin-right: 20px;
    }
    .fBEOfW .share-button-secondary-content {
        display: none;
    }

}
@media (min-width: 768px){
    .new_hero.section{
        padding-top: 6.25vw;
    }
}

/* new login style */

.login_page.new_login_page h1 {
    text-align: left;
    padding-left: 15px;
    font-size: 20px;
    margin-bottom: 0;
}
.new_login_page .form_content .form-group{
    margin-left: 0; 
    margin-right: 0; 
    margin-bottom: 40px;
}
.new_login_page .btn_login {
    text-align: center;
    margin-top: 25px;
}
.show_hide_content{
    align-self: flex-end;
    text-align: right;
    padding-right: 25px;
    position: relative;
    top: 5px;
}
.show_hide_content h3{
    font-size: 15px;
}
.show_btn,.show_btn:hover{
    color: #2ba78a;
}
.login_content form{
    padding-top: 20px;
}
.new_login_page .register_content h1{
    padding-left: 0;
}
.register_content .show_hide_content{
    padding-right: 15px;
}
.checkbox_text{
    text-align: left;
    align-self: center;
}
.login_text{
    text-align: right;
}
.checkbox_text .show_hide_content{
    text-align: left;
}
@media (min-width: 768px){
    .new_login_page .img_content img{
        /*position: relative;
        top: -80px;*/
        width: 340px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 768px){
    .new_login_page .img_content img{
        display: none;
    }
}

/* faq page */

.twtr-header{
    display: none;
}
.help_esl_page .menu__link-inner,.help_esl_page footer .effect-link span,.help_esl_page footer .col a,.help_esl_page footer .bottom .right a{
    color: #383838;
}
.twtr-color-bg--blue-extra-dark {
    background-color: #fff;
}
.twtr-color--blue-light {
    color: #383838;
    font-size: 30px;
    line-height: 30px;
}
.u01__search-input,.u01__search-input:focus{
    color: #383838;
}
.u01__search-input::placeholder{
    color: #383838!important;
}
.twtr-color-bg--blue-dark {
    background-color: #383838;
}
.u01__search-focus-indicator.is-active, .u01__search-form:hover .u01__search-focus-indicator, .u01__search-input:focus+.u01__search-focus-indicator {
    -ms-transform: scaleY(2);
    transform: scaleY(2);
    -webkit-backface-visibility: hidden;
    background-color: #2ba78a;
}
.twtr-color-fill--blue-dark {
    fill: #383838;
}
.twtr-underline--blue-dark{
    background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#2ba78a,#2ba78a);
    background-size: .05em 2px,.05em 2px,2px 2px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-position: 0 98%,100% 98%;
}
.twtr-type--bold-18,.hp01__popular-link{
    color: #2ba78a;
}
@media (min-width: 1200px){
    .c02__title {
        margin-top: 1rem;
        margin-right: 1.5rem;
    }
    .u01__search-submit-icon {
        width: 35px;
        height: 35px;
        margin-top: .375rem;
    }
    .hp01__topic-catalog {
        padding-bottom: 3rem;
    }
}
.c02__header-wrapper {
    min-height: 100px;
}
.u01__search-input {
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 25px;
    line-height: 3rem;
}
.hp01__divider-line {
    border-top: 2px solid #92e0ce;
}
.search_line.hp01__divider-line {
    max-width: 97%;
    height: 2px;
    text-align: center;
    border-top: 2px solid #e1e0d5;
    margin-top: 1.5rem;
    margin-bottom: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px){
    .hp01__topic-list:last-of-type {
        display: contents;
    }
    li.hp01__topic-list-item {
        width: 50%;
    }
}

.hcfe {
    background: #fbfbfb;
    position: relative;
    width: 100%;
}
.hcfe .accordion-homepage{
    padding: 0;
}
.effect-link span{

}
.accordion-homepage .selected .overflow{
    min-height: 100px;
}
.hcfe a{
    color:#383838;
}
.hcfe a:hover {
    text-decoration: none;
}
.accordion-homepage .parent.selected {
    background: #f5f5f5;
}
.accordion-homepage .parent a:hover {
    background: #f5f5f5;
}
.accordion-homepage .parent h2 svg {
    fill: #2ba78a;
}
@media (min-width: 48.1875rem){
    .accordion-homepage h2 {
        padding: 5px 1.25rem 5px 2rem;
    }
}

/* directory page */
.arrow.arrow-right.reset_btn_right{
    background-image: url(../img/ic-arrow-right.svg);
}
.arrow.arrow-left.reset_btn_left{
    background-image: url(../img/ic-arrow-right_3.svg);
}
.btn.reset_btn{
    background: #2ba78a;
}
.btn.reset_btn:hover{
    background: #383838;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: unset;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: unset;
    background-color: unset;
    border-color: unset;
}
.contact.subscribe{
    margin-top: 30px;
}
@media (min-width: 768px){
    .section.subscribe {
        margin-left: 55px;
        margin-right: 55px;
    }
}
.btn-dark.focus, .btn-dark:focus {
    box-shadow: unset;
}
.btn-dark:hover,.btn-dark {
    border: unset;
    border-radius: unset;
}
.directory_page .modal-title {
    font-size: 14px;
}
.checkbox_group{
    /*padding-left: 20px;*/
}
.directory_page .modal-body .form-group {
    margin-bottom: 2.166667vw;
}
.form_content textarea.form-control{
    height: 70px;
}
.agree_link{
    color: #2ba78a;
}
.result_tabel{
    margin-top: 30px;
}
.table-bordered {
    border: 1px solid #383838;
}
.table thead th {
    border-bottom: 1px solid #383838;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #383838;
}
.search_title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.login_page.directory_page {
    background: transparent;
}
.form_group_title{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.directory_page .modal-header{
    background: #f3f3f3;
}
.label_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.label_container:hover input ~ .checkmark {
    background-color: #ccc;
}

.label_container input:checked ~ .checkmark {
    background-color: #2ba78a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label_container input:checked ~ .checkmark:after {
    display: block;
}

.label_container .checkmark:after {
    left: 9px;
    top: 6px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.search_form{
    /*padding: 30px;
    border: 1px solid #383838;*/
}
.table_row{
    justify-content: center;
}
#flashMessage.btn-danger{
    padding: 20px;
}
#flashMessage.alert-success {
    padding: 20px;
}
@media (max-width: 768px){
    .help_esl_page nav{
        height: 115px;
    }
    .hp01__content{
        padding-top: 20px;
    }
    .hcfe:not(html) {
        margin-top: 40px;
    }
}

.twtr-type--bold-24, .twtr-type--roman-24{
    font-size: 23px;
}
.twtr-underline--blue-dark{
    color: #2ba78a;
}
.hcfe p{
    line-height:20px;
}
.accordion-homepage .parent a{
    height:auto;
    line-height: 20px;
}
.page-about .ideas .items .item{
    min-height: 300px;
    margin-top: 25px;
}
.page-about .page-how-it-works .ideas{
    background: transparent;
}
.no_padding{
    padding-left: 0!important;
    padding-right: 0!important;
}
.login_tabs.nav-pills .nav-link {
    border-radius: 0;
    padding: 25px 25px;
}
.login_page .btn-group-toggle{
    justify-content: center;
    width: 100%;
}
.login_page label.btn.btn-secondary{
    padding: 0 25px;
    justify-content: center;
    text-align: center;
    line-height: 60px;
    height:65px;
    border-radius: 0;
    margin: 0 5px;
    border: 3px solid #e1e0d5;
    background: transparent;
    color: inherit;
    font-weight: normal;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #2ba78a;
    border-color: #e1e0d5;
    box-shadow: unset;
}
.form-group button[type=submit] {
    border: unset; 
}
/* The container */
.custom_radio .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.custom_radio .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.custom_radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom_radio .container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom_radio .container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.custom_radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom_radio .container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.custom_radio .container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.block.read-more.text-7{
    display: none!important;
}
@media (max-width: 768px){
    .login_tabs.nav-pills .nav-link {
        padding: 25px 5px;
        font-size: 14px;
    }
    
}


@media (min-width: 768px){
    .new_hero2 .text-2,.new_hero2 .text-6 {
        padding: 0 80px;
    }
    .login_tabs.nav-pills .nav-link {
        font-size: .9375vw;
    }
    .login_page .btn-group-toggle.row{
        flex-wrap: nowrap;
    }
    .page-about .ideas .items .item .description {
        min-height: 95px;
    }
}