/*@import url(//hello.myfonts.net/count/3b6663);@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500;700&display=swap);@font-face{font-family:'Noto Sans', sans-serif;src:url(/_next/static/media/font.ec20f23f4e4cafc319f9d3ff967bafe0.woff2) format("woff2"),url(/_next/static/media/font.146c786ed575fd2ecfe4b0f6d1891da5.woff) format("woff")}@font-face{font-family:'Noto Sans', sans-serif;src:url(/_next/static/media/font.24f331c85775f55f2244b0e4de1b9102.woff2) format("woff2"),url(/_next/static/media/font.e4fdf7ab26ceb44ff1c6676041063c2e.woff) format("woff")}@font-face{font-family:'Noto Sans', sans-serif;src:url(/_next/static/media/font.29a8941db4ac021bacb157f1fc5bb637.woff2) format("woff2"),url(/_next/static/media/font.5beac916dd3a0a3ab286e2271455dd17.woff) format("woff")}*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

a {
    background-color: transparent
}

b,
strong {
    font-weight: bolder
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

img {
    border-style: none
}

button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

[hidden],
template {
    display: none
}

dl,
h1,
h2,
p {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

html {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a0aec0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #a0aec0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #a0aec0
}

input::placeholder,
textarea::placeholder {
    color: #a0aec0
}

[role=button],
button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h2 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code {
    font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

iframe,
img,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.cursor-pointer {
    cursor: pointer
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.table-cell {
    display: table-cell
}

.grid {
    display: grid
}

.hidden {
    display: none
}

.flex-wrap {
    flex-wrap: wrap
}

.items-end {
    align-items: flex-end
}

.justify-between {
    justify-content: space-between
}

.float-right {
    float: right
}

.float-left {
    float: left
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-10 {
    margin-bottom: 2.5rem
}

.pt-10 {
    padding-top: 2.5rem
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.text-center {
    text-align: center
}

.align-middle {
    vertical-align: middle
}

.w-1\/2 {
    width: 50%
}

.w-full {
    width: 100%
}

.z-10 {
    z-index: 10
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
}

.grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

.rotate-90 {
    --transform-rotate: 90deg
}

@-webkit-keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    50% {
        opacity: .5
    }
}

@keyframes pulse {
    50% {
        opacity: .5
    }
}

@-webkit-keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

@keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        animation-timing-function: cubic-bezier(.8, 0, 1, 1)
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0, 0, .2, 1);
        animation-timing-function: cubic-bezier(0, 0, .2, 1)
    }
}

@-webkit-keyframes "intervalHamburgerBorder" {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    80% {
        transform: scale(1.6)
    }
    to {
        opacity: 0;
        transform: scale(1.6)
    }
}

@keyframes "intervalHamburgerBorder" {
    0% {
        opacity: 1;
        transform: scale(1)
    }
    80% {
        transform: scale(1.6)
    }
    to {
        opacity: 0;
        transform: scale(1.6)
    }
}

.demo-3 {
    --color-text: #fbd54a;
    --color-bg: #fff;
    --color-link: #fff;
    --color-link-hover: #bfb5b5;
    --color-info: #fff;
    --color-main-bg: #24262d;
    --path-fill-1: #000;
    --path-fill-2: #1d1d1f;
    --path-fill-3: #fbd54a;
    --color-title: #fff;
    --font-family-title: 'Noto Sans', sans-serif;
    --font-size-title: 5vmax;
    --font-weight-title: 400;
    --color-menu: #fff;
    --color-menu-hover: #fff;
    --font-family-menu: 'Noto Sans', sans-serif;
    --font-size-menu: 4vmax;
    --font-weight-menu: 400;
    --button-bg: #2ba78a;
    --button-circle: #ada4a4;
    --button-line: #fff
}

.js body {
    opacity: 0;
    transition: opacity .3s
}

.js body.render {
    opacity: 1
}

.global-menu {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100
}

.global-menu__item {
    color: var(--color-menu);
    font-family: var(--font-family-menu);
    font-size: var(--font-size-menu);
    font-weight: var(--font-weight-menu);
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
    display: block;
    margin: .25em 0;
    transition: transform .3s, opacity .3s;
    transition-timing-function: ease-in
}

.global-menu__item.active,
.global-menu__item:hover {
    color: var(--color-menu-hover)
}

.global-menu__item:first-of-type {
    transition-delay: 0s
}

.global-menu__item:nth-of-type(2) {
    transition-delay: .05s
}

.global-menu__item:nth-of-type(3) {
    transition-delay: .1s
}

.global-menu__item:nth-of-type(4) {
    transition-delay: .15s
}

.global-menu__item--demo-3 {
    transition: transform .1s, opacity .1s;
    transform: translateY(100%);
    transition-timing-function: ease-out
}

.global-menu__item--demo-3:first-of-type,
.global-menu__item--demo-3:nth-of-type(2),
.global-menu__item--demo-3:nth-of-type(3),
.global-menu__item--demo-3:nth-of-type(4) {
    transition-delay: 0s
}

.global-menu__item.is-opened {
    opacity: 1;
    transform: translateY(0) rotate(0);
    pointer-events: auto;
    transition-timing-function: ease
}

.global-menu__item.is-opened:first-of-type {
    transition-delay: .85s
}

.global-menu__item.is-opened:nth-of-type(2) {
    transition-delay: .8s
}

.global-menu__item.is-opened:nth-of-type(3) {
    transition-delay: .75s
}

.global-menu__item.is-opened:nth-of-type(4) {
    transition-delay: .7s
}

.global-menu__item--demo-3.is-opened {
    transition-duration: .3s
}

.global-menu__item--demo-3.is-opened:first-of-type {
    transition-delay: .65s
}

.global-menu__item--demo-3.is-opened:nth-of-type(2) {
    transition-delay: .7s
}

.global-menu__item--demo-3.is-opened:nth-of-type(3) {
    transition-delay: .75s
}

.global-menu__item--demo-3.is-opened:nth-of-type(4) {
    transition-delay: .8s
}

.global-menu__item--demo-3.is-opened:nth-of-type(5) {
    transition-delay: .85s
}

.global-menu__item--demo-3.is-opened:nth-of-type(6) {
    transition-delay: .9s
}

.global-menu__item--demo-3.is-opened:nth-of-type(7) {
    transition-delay: .95s
}

.global-menu__item--demo-3.is-opened:nth-of-type(8) {
    transition-delay: 1s
}

.shape-overlays {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}

.shape-overlays.is-opened {
    pointer-events: auto
}

.shape-overlays__path:first-of-type {
    fill: var(--path-fill-1)
}

.shape-overlays__path:nth-of-type(2) {
    fill: var(--path-fill-2)
}

.shape-overlays__path:nth-of-type(3) {
    fill: var(--path-fill-3)
}

.shape-overlays__path:nth-of-type(4) {
    fill: var(--path-fill-4)
}

.hamburger {
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 110;
    border-radius: 50%;
    background-color: var(--button-bg);
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.hamburger,
.hamburger:after {
    width: 64px;
    height: 64px;
    display: block
}

.hamburger:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    border: 4px solid var(--button-circle);
    border-radius: 50%;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-name: intervalHamburgerBorder;
    animation-name: intervalHamburgerBorder;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.hamburger:hover .hamburger__line-in:after,
.hamburger:hover .hamburger__line-in:before {
    transform: translateX(200%)
}

.hamburger:hover .hamburger__line-in--01:after,
.hamburger:hover .hamburger__line-in--01:before,
.hamburger:hover .hamburger__line-in--02:after,
.hamburger:hover .hamburger__line-in--02:before,
.hamburger:hover .hamburger__line-in--03:after,
.hamburger:hover .hamburger__line-in--03:before {
    transition-duration: 1s
}

.hamburger:hover .hamburger__line-in--cross01:after,
.hamburger:hover .hamburger__line-in--cross01:before,
.hamburger:hover .hamburger__line-in--cross02:after,
.hamburger:hover .hamburger__line-in--cross02:before {
    transition-duration: 0s
}

.hamburger__line {
    width: 28px;
    overflow: hidden;
    z-index: 10
}

.hamburger__line,
.hamburger__line-in {
    height: 2px;
    position: absolute;
    transition-duration: .6s;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1)
}

.hamburger__line-in {
    width: 84px;
    top: 0;
    left: 0
}

.hamburger__line-in:before {
    left: -56px
}

.hamburger__line-in:after,
.hamburger__line-in:before {
    width: 28px;
    height: 2px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    background-color: var(--button-line);
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    transition-property: transform
}

.hamburger__line-in:after {
    left: 0
}

.hamburger__line--01 {
    left: 18px;
    top: 24.6px
}

.hamburger__line--02 {
    left: 18px;
    top: 31px
}

.hamburger__line--03 {
    left: 18px;
    top: 37.4px
}

.hamburger__line--cross01 {
    left: 18px;
    top: 31px;
    transform: rotate(45deg)
}

.hamburger__line--cross02 {
    left: 18px;
    top: 31px;
    transform: rotate(-45deg)
}

.hamburger__line-in--cross01 {
    transform: translateX(-33.3%);
    transition-delay: 0s
}

.hamburger__line-in--cross02 {
    transform: translateX(-33.3%);
    transition-delay: .05s
}

.hamburger__line-in--cross02:after,
.hamburger__line-in--cross02:before {
    transition-delay: .1s
}

.hamburger__line-in--01 {
    transition-delay: .2s
}

.hamburger__line-in--02 {
    transition-delay: .25s
}

.hamburger__line-in--02:after,
.hamburger__line-in--02:before {
    transition-delay: .05s
}

.hamburger__line-in--03 {
    transition-delay: .3s
}

.hamburger__line-in--03:after,
.hamburger__line-in--03:before {
    transition-delay: .1s
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
    transform: translateX(33.3%);
    transition-delay: 0s
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
    transform: translateX(33.3%);
    transition-delay: .05s
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
    transform: translateX(33.3%);
    transition-delay: .1s
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
    transform: translateX(0);
    transition-delay: .25s
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
    transform: translateX(0);
    transition-delay: .3s
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01:after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01:before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02:after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02:before {
    transition-duration: 1s
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01:after,
.hamburger.is-opened-navi:hover .hamburger__line-in--01:before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02:after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02:before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03:after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03:before {
    transition-duration: 0s
}

.mobile-nav {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f5f5f5
}

::-webkit-scrollbar-thumb {
    background: #2ba78a
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}

.bg-light-grey-two {
    background: #f5f5f5
}

.bg-greyish-brown {
    background: #474747
}

@-webkit-keyframes scrolling {
    0% {
        transform: translatex(calc(100% + 30px))
    }
    to {
        transform: translatex(calc(-100% - 30px))
    }
}

@keyframes scrolling {
    0% {
        transform: translatex(calc(100% + 30px))
    }
    to {
        transform: translatex(calc(-100% - 30px))
    }
}

@-webkit-keyframes move-left {
    to {
        transform: translateX(-100%)
    }
}

@keyframes move-left {
    to {
        transform: translateX(-100%)
    }
}

nav {
    padding: 28px 0
}

@media(min-width:768px) {
    nav .logo {
        width: 12.03125vw
    }
}

nav .links {
    display: none
}

@media(min-width:768px) {
    nav .links {
        display: block
    }
}

nav a {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px;
    line-height: 3.125vw;
    height: 3.125vw
}

@media(min-width:768px) {
    nav a {
        font-size: .9375vw
    }
}

nav a.c-button--marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2ba78a;
    overflow: hidden;
    width: 10.4166666667vw;
    transition: .5s
}

nav a.c-button--marquee span {
    width: 6.5104166667vw;
    display: block;
    padding: 0;
    -webkit-animation: move-left 3s linear infinite;
    animation: move-left 3s linear infinite;
    color: #fff;
}

nav a.c-button--marquee span:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
}

.hero {
    padding-top: 6.25vw;
    padding-bottom: 6.25vw
}

.hero h1 {
    margin-bottom: 20px
}

@media(min-width:768px) {
    .hero h1 {
        margin-bottom: 2.0833333333vw
    }
}

.hero h2 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: .38px;
    font-size: 22px
}

@media(min-width:768px) {
    .hero h2 {
        font-size: 1.9791666667vw
    }
}

footer {
    padding: 60px 30px 50px;
    background: #fff
}

@media(min-width:768px) {
    footer {
        padding: 3.125vw 7.2916666667vw 1.875vw
    }
}

footer .grid {
    margin-bottom: .8333333333vw
}

footer .col {
    width: 100%;
    margin-bottom: 40px
}

@media(min-width:768px) {
    footer .col {
        margin-bottom: 0
    }
}

footer .col>div {
    padding-bottom: .8333333333vw
}

footer .col .head {
    line-height: 1 !important;
    margin-bottom: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56
}

@media(min-width:768px) {
    footer .col .head {
        font-size: .9375vw;
        margin-bottom: 1.25vw
    }
}

footer .col a {
    line-height: 1 !important;
    margin-bottom: 24px;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px
}

@media(min-width:768px) {
    footer .col a {
        font-size: .9375vw;
        margin-bottom: 1.25vw
    }
}

footer .col a.email {
    margin-bottom: 3.125vw;
    border-bottom: 3px solid #2ba78a;
    display: inline-block;
    line-height: 10px
}

footer .bottom {
    padding-top: 24px;
    border-top: 1px solid #e1e0d5
}

@media(min-width:768px) {
    footer .bottom {
        padding-top: 1.25vw
    }
}

footer .bottom img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px
}

@media(min-width:768px) {
    footer .bottom img {
        margin-left: 0;
        margin-bottom: 0;
        width: 11.1979166667vw
    }
}

footer .bottom .right {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    width: 100%
}

@media(min-width:768px) {
    footer .bottom .right {
        font-size: .7291666667vw;
        text-align: left;
        width: auto;
        line-height: 2.0833333333vw
    }
}

footer .bottom .right a {
    margin-left: .5208333333vw;
    margin-right: .5208333333vw;
    margin-bottom: 1.25vw;
    display: inline-block
}

@media(min-width:768px) {
    footer .bottom .right a {
        margin-bottom: 0
    }
}

footer .bottom .right .copyright {
    display: block
}

@media(min-width:768px) {
    footer .bottom .right .copyright {
        display: inline-block
    }
}

.btn {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56;
    background: #2ba78a;
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
    padding-right: 20px;
    display: inline-block;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    color: #474747
}

@media(min-width:768px) {
    .btn {
        font-size: .9375vw;
        height: 3.125vw;
        line-height: 3.125vw;
        padding-left: 2.6041666667vw;
        padding-right: 1.0416666667vw
    }
}

.btn * {
    transition: all .3s ease
}

.btn .arrow {
    width: 12px;
    height: 24px;
    position: absolute;
    top: 18px
}

@media(min-width:768px) {
    .btn .arrow {
        width: .625vw;
        height: 1.25vw;
        top: .9375vw;
        background-size: .625vw
    }
}

.btn .arrow-left {
    background-image: url(../img/ic-arrow-right.svg);
    left: 30px
}

@media(min-width:768px) {
    .btn .arrow-left {
        left: 1.5625vw
    }
}

.btn .arrow-right {
    background-image: url(../img/ic-arrow-right_3.svg);
    right: -12px;
    opacity: 0
}

@media(min-width:768px) {
    .btn .arrow-right {
        right: -.625vw
    }
}

.btn .btn-text {
    display: inline-block;
    transition: transform .3s ease
}

.btn:hover {
    color: #2ba78a;
    background: #474747
}

.btn:hover .arrow {
    transform: translateX(-35px)
}

@media(min-width:768px) {
    .btn:hover .arrow {
        transform: translateX(-1.8229166667vw)
    }
}

.btn:hover .btn-text {
    transform: translateX(-25px)
}

@media(min-width:768px) {
    .btn:hover .btn-text {
        transform: translateX(-1.3020833333vw)
    }
}

.btn:hover .arrow-left {
    opacity: 0
}

.btn:hover .arrow-right {
    opacity: 1
}

.btn.hover-white:hover {
    color: #474747;
    background: #fbfbfb
}

.btn.hover-white:hover .arrow-right {
    background-image: url(/img/ic-arrow\ right_3.svg)
}

.btn-dark {
    color: #2ba78a;
    background: #474747
}

.btn-dark:hover {
    color: #474747;
    background: #fbfbfb
}

.btn-dark .arrow-left {
    background-image: url(../img/ic-arrow right.svg)
}

.btn-dark .arrow-right {
    background-image: url(/img/ic-arrow right.svg)
}

.form input,
.form textarea {
    border: 1px solid #474747;
    background: none;
    color: #474747
}

.form input {
    height: 46px;
    line-height: 46px;
    padding-left: 18px;
    border-radius: 0
}

.form textarea {
    padding: 14px;
    height: 100px
}

@media(min-width:768px) {
    .form textarea {
        padding: 1.25vw 1.25vw 1.25vw 1.4583333333vw;
        height: 10.9375vw
    }
}

.form .grid {
    grid-column-gap: .8333333333vw;
    -moz-column-gap: .8333333333vw;
    column-gap: .8333333333vw;
    grid-row-gap: 10px;
    row-gap: 10px
}

@media(min-width:768px) {
    .form .grid {
        grid-row-gap: 1.25vw;
        row-gap: 1.25vw
    }
}

.form button:not(.btn) {
    height: 50px;
    line-height: 50px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43
}

@media(min-width:768px) {
    .form button:not(.btn) {
        font-size: .7291666667vw;
        height: 5.2083333333vw;
        line-height: 5.2083333333vw;
        font-family: 'Noto Sans', sans-serif;
        font-size: 18px;
        line-height: 1.56
    }
}

@media(min-width:768px)and (min-width:768px) {
    .form button:not(.btn) {
        font-size: .9375vw
    }
}

.form button:not(.btn).active {
    background: #2ba78a
}

.form .form-name {
    margin-bottom: .8333333333vw
}

.form .form-name span {
    color: #2ba78a
}

.form .form-description {
    margin-bottom: 2.0833333333vw
}

.form .grid-cols-2 {
    grid-column-gap: .8333333333vw;
    -moz-column-gap: .8333333333vw;
    column-gap: .8333333333vw;
    grid-row-gap: 1.4583333333vw;
    row-gap: 1.4583333333vw
}

.form .file-upload {
    padding: 1.9270833333vw 3.75vw;
    border: 3px dotted #e1e0d5;
    background: #f5f5f5;
    background: url(/png/ic-upload.png) no-repeat 1.1979166667vw #f5f5f5;
    background-size: 1.4583333333vw 1.4583333333vw;
    margin-bottom: 4.1666666667vw
}

.form .file-upload label {
    border-bottom: 3px solid #2ba78a;
    cursor: pointer
}

.form .file-upload .text-7 {
    margin-bottom: .4166666667vw
}

.multi-columns {
    padding: 2.6041666667vw 0
}

@media(min-width:768px) {
    .multi-columns {
        padding: 6.25vw 0
    }
}

.multi-columns .items {
    margin-bottom: 3.6979166667vw
}

.multi-columns .items.grid-cols-3,
.multi-columns .items.md\:grid-cols-3 {
    grid-column-gap: 4.4270833333vw;
    -moz-column-gap: 4.4270833333vw;
    column-gap: 4.4270833333vw
}

.multi-columns .items.md\:grid-cols-4 {
    grid-column-gap: 2.2916666667vw;
    -moz-column-gap: 2.2916666667vw;
    column-gap: 2.2916666667vw
}

.multi-columns .items .item {
    padding-top: 20px;
    margin: 0 auto 20px
}

@media(min-width:768px) {
    .multi-columns .items .item {
        padding-top: 1.0416666667vw;
        margin-bottom: 1.0416666667vw
    }
}

.multi-columns .items .item .image-container {
    width: 170px;
    height: 170px;
    margin: 0 auto 40.5px
}

@media(min-width:768px) {
    .multi-columns .items .item .image-container {
        width: 8.8541666667vw;
        height: 8.8541666667vw;
        margin: 0 auto 2.109375vw
    }
}

.multi-columns .items .item .image-container img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto
}

.multi-columns .items .item .title {
    margin-bottom: 1.0416666667vw
}

.multi-columns.co-develop .item .title {
    min-height: 3.59375vw
}

.section {
    padding-top: 50px;
    padding-bottom: 50px
}

.section.bg-greyish-brown {
    color: #e1e0d5
}

@media(min-width:768px) {
    .section {
        padding-top: 6.25vw;
        padding-bottom: 6.25vw;
        margin-left: 2.6041666667vw;
        margin-right: 2.6041666667vw
    }
}

.section__title {
    margin-bottom: 12px
}

@media(min-width:768px) {
    .section__title {
        margin-bottom: 1.25vw
    }
}

.section__sub-title {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .section__sub-title {
        margin-bottom: 4.1666666667vw
    }
}

.testimonials {
    background: #fbfbfb
}

@media(max-width:767px) {
    .testimonials .container-2 {
        padding: 0
    }
}

.testimonials .title {
    margin-bottom: 80px
}

.testimonials .items {
    width: 100%
}

@media(min-width:768px) {
    .testimonials .items {
        width: auto;
        margin-left: 0
    }
}

.testimonials .item {
    padding-right: 18px
}

@media(min-width:768px) {
    .testimonials .item {
        padding-right: 0;
        width: 22.9166666667vw;
        min-height: 23.4375vw
    }
}

.testimonials .item .background {
    background: #fff;
    padding: 40px 20px
}

@media(min-width:768px) {
    .testimonials .item .background {
        padding: 2.0833333333vw 2.0833333333vw 2.5vw
    }
}

.testimonials .item .image-container {
    margin-bottom: 20px
}

@media(min-width:768px) {
    .testimonials .item .image-container {
        margin-bottom: 1.0416666667vw
    }
}

.testimonials .item .image-container img {
    margin-left: auto;
    margin-right: auto
}

@media(min-width:768px) {
    .testimonials .item .image-container img {
        margin-left: 0;
        margin-right: 0
    }
}

.testimonials .item .content {
    margin-bottom: 20px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px
}

@media(min-width:768px) {
    .testimonials .item .content {
        font-size: .9375vw
    }
}

.testimonials .item .name {
    margin-bottom: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56
}

@media(min-width:768px) {
    .testimonials .item .name {
        font-size: .9375vw
    }
}

.testimonials .item .company-name {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px;
    color: #969596
}

@media(min-width:768px) {
    .testimonials .item .company-name {
        font-size: .9375vw
    }
}

.testimonials .icon-quotes {
    position: absolute;
    width: 11.9270833333vw;
    display: none
}

@media(min-width:768px) {
    .testimonials .icon-quotes {
        display: block
    }
}

.testimonials .icon-quotes.left {
    left: 4.6875vw;
    top: 7.4479166667vw
}

.testimonials .icon-quotes.right {
    right: 4.6875vw;
    top: 30.5729166667vw
}

.vetting-process {
    padding-bottom: 4.5833333333vw;
    padding-left: 30px;
    padding-right: 30px
}

@media(min-width:768px) {
    .vetting-process {
        padding-left: 0;
        padding-right: 0
    }
}

.vetting-process .steps {
    grid-row-gap: 80px;
    row-gap: 80px
}

@media(min-width:768px) {
    .vetting-process .steps {
        grid-row-gap: 7.2916666667vw;
        row-gap: 7.2916666667vw
    }
}

.vetting-process .steps .step {
    margin-left: auto;
    margin-right: auto;
    clear: left;
    position: relative;
    text-align: center
}

@media(min-width:768px) {
    .vetting-process .steps .step {
        text-align: left
    }
}

.vetting-process .steps .step:after {
    content: "";
    background-image: url(/png/ic-arrow-down-long@3x.png);
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 40%;
    background-size: 60px 60px
}

@media(min-width:768px) {
    .vetting-process .steps .step:after {
        width: 3.125vw;
        height: 3.125vw;
        bottom: -3.75vw;
        left: 5.2083333333vw;
        background-size: 3.125vw 3.125vw
    }
}

.vetting-process .steps .step:last-child:after {
    display: none
}

.vetting-process .steps .step .image-container {
    display: none;
    width: 12.5vw;
    height: 12.5vw;
    margin-right: 1.875vw
}

@media(min-width:768px) {
    .vetting-process .steps .step .image-container {
        display: table-cell
    }
}

.vetting-process .steps .step .image-container img {
    max-height: 6.0416666667vw
}

.vetting-process .steps .step .right {
    padding-top: 2.6041666667vw
}

.vetting-process .steps .step .right .name {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.21;
    font-size: 20px;
    margin-bottom: 1.25vw
}

@media(min-width:768px) {
    .vetting-process .steps .step .right .name {
        font-size: 1.4583333333vw
    }
}

.vetting-process .steps .step .right .description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6
}

@media(min-width:768px) {
    .vetting-process .steps .step .right .description {
        font-size: 1.0416666667vw
    }
}

.get-started-steps {
    background: #f5f5f5;
    padding-bottom: 6.25vw;
    margin-bottom: 1.5625vw
}

@media(min-width:768px) {
    .get-started-steps {
        padding-bottom: 6.25vw;
        margin-bottom: 1.5625vw
    }
}

.get-started-steps.container-2 {
    padding-left: 13.125vw;
    padding-right: 13.125vw
}

.get-started-steps img {
    width: 97px;
    margin-bottom: 24px;
    text-align: left
}

@media(min-width:768px) {
    .get-started-steps img {
        width: 5.0520833333vw;
        margin-bottom: 1.25vw
    }
}

.get-started-steps .title {
    margin-bottom: 7.34375vw
}

.get-started-steps .items {
    grid-column-gap: 4.7916666667vw;
    -moz-column-gap: 4.7916666667vw;
    column-gap: 4.7916666667vw;
    grid-row-gap: 20px;
    row-gap: 20px
}

.get-started-steps .item {
    width: 100%;
    text-align: center
}

@media(min-width:768px) {
    .get-started-steps .item {
        text-align: left
    }
}

.get-started-steps .item .name {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px;
    margin-bottom: 1.25vw
}

@media(min-width:768px) {
    .get-started-steps .item .name {
        font-size: 1.7708333333vw
    }
}

.get-started-steps .item .description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    min-height: 90px
}

@media(min-width:768px) {
    .get-started-steps .item .description {
        font-size: 1.0416666667vw;
        min-height: auto
    }
}

.form-group {
    margin-bottom: 4.1666666667vw
}

.form-group .form-header {
    margin-bottom: 20px;
    text-align: center
}

@media(min-width:768px) {
    .form-group .form-header {
        margin-bottom: 2.0833333333vw
    }
}

.form-group .form-header__header {
    margin-bottom: .8333333333vw
}

.form-group button {
    border: 3px solid #e1e0d5
}

.form-group button[type=submit] {
    border: 3px solid red
}

.image-container {
    margin-left: auto;
    margin-right: auto
}

.image-container.image-left,
.image-container.image-left img {
    margin-left: 0
}

.image-container img {
    max-width: 100%;
    max-height: 100%
}

.skillList__group {
    margin-bottom: 3.125vw
}

.skillList__group__name {
    color: #2ba78a;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px;
    margin-bottom: 1.25vw
}

@media(min-width:768px) {
    .skillList__group__name {
        font-size: 1.7708333333vw
    }
}

.skillList .grid-cols-3 {
    grid-column-gap: 4.4270833333vw;
    -moz-column-gap: 4.4270833333vw;
    column-gap: 4.4270833333vw
}

.contact {
    background: #2ba78a;
    padding: 4.1145833333vw 0
}

.contact .text {
    width: 100%;
    text-align: center;
    margin-bottom: 30px
}

@media(min-width:768px) {
    .contact .text {
        width: auto;
        text-align: left;
        margin-bottom: 0
    }
}

.contact .text .text-2 {
    margin-bottom: 10px
}

@media(min-width:768px) {
    .contact .text .text-2 {
        margin-bottom: 0
    }
}

.contact .text .text-6 {
    margin-top: .2604166667vw
}

.contact .btn {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.21;
    font-size: 20px;
    padding: 0 41px 0 79px;
    height: 82px;
    line-height: 82px;
    margin-left: auto;
    margin-right: auto
}

@media(min-width:768px) {
    .contact .btn {
        font-size: 1.4583333333vw;
        margin-left: 0;
        margin-right: 0;
        padding: 0 2.1354166667vw 0 4.1145833333vw;
        height: 4.2708333333vw;
        line-height: 4.2708333333vw
    }
    .contact .btn-talent-apply {
        margin-right: 1.5625vw
    }
}

.contact .btn .arrow {
    width: 16px;
    height: 32px;
    top: 25px;
    background-size: 16px 32px
}

@media(min-width:768px) {
    .contact .btn .arrow {
        width: .8333333333vw;
        height: 1.6666666667vw;
        top: 1.3020833333vw;
        background-size: .8333333333vw 1.6666666667vw
    }
}

.contact .btn .arrow-left {
    left: 40px
}

@media(min-width:768px) {
    .contact .btn .arrow-left {
        left: 2.0833333333vw
    }
}

.contact .btn.btn-talent-apply {
    margin-bottom: 15px
}

@media(min-width:768px) {
    .contact .btn.btn-talent-apply {
        margin-bottom: 0;
        margin-right: 10px
    }
}

.box small {
    color: var(--text);
    display: block;
    margin-top: 8px;
    font-size: 14px
}

.box .slider {
    margin-top: 40px
}

.page {
    overflow: hidden
}

.tab-button {
    border: 3px solid #e1e0d5;
    margin-bottom: 1.4583333333vw;
    display: flex
}

.tab-button button {
    font-size: 24px;
    font-weight: 700;
    height: 50px;
    border: none;
    width: 33.333333%
}

@media(min-width:768px) {
    .tab-button button {
        height: 5.2083333333vw;
        line-height: 5.2083333333vw
    }
}

.tab-button button.active {
    background: #2ba78a
}

@media(max-width:768px) {
    .tab-button button {
        font-size: 14px
    }
}

@media(min-width:768px) {
    nav .menu {
        display: flex
    }
}

nav .menu__link {
    position: relative
}

nav .menu__link:focus,
nav .menu__link:hover {
    color: var(--color-menu-link-hover)
}

@media screen and (min-width:53em) {
    nav .menu {
        text-align: left;
        flex-direction: row
    }
    nav .menu__link:not(:last-child) {
        margin-right: 2.0833333333vw
    }
    nav .title {
        text-align: left
    }
}

.select-container {
    height: 60px
}

nav#dot-nav {
    position: fixed;
    right: 3.125vw;
    top: 20px;
    z-index: 99999
}

nav#dot-nav a {
    border: 2px solid #474747;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: block;
    margin: 10px
}

nav#dot-nav a.active {
    background: #2ba78a
}

#wrapper {
    width: 100%;
    height: 100%;
    bottom: 2vw
}

@media(max-width:1024px) {
    #wrapper {
        bottom: -2vw
    }
}

@media(min-width:768px) {
    #wrapper {
        display: table
    }
}

@media(max-width:768px) {
    #wrapper {
        bottom: -6vw
    }
}

@media(max-width:414px) {
    #wrapper {
        bottom: -12vw
    }
}

#wrapper-inner {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    height: 100%
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
    text-align: center
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px
}

.arrow-down:after {
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #2ba78a;
    border-right: 2px solid #2ba78a;
    transform: rotate(135deg)
}

#scroll-title {
    display: block;
    font-size: 18px;
    letter-spacing: .1em;
    transform: translateY(-25px) rotate(90deg)
}

@media(max-width:1024px) {
    #scroll-title {
        font-size: 14px
    }
}

#scroll-down:before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 90px;
    background: #2ba78a;
    content: " "
}

@media(max-width:1024px) {
    #scroll-down:before {
        height: 35px;
        top: -5px
    }
}

@media(max-width:767px) {
    #scroll-down:before {
        height: 45px;
        top: -5px
    }
}

@-webkit-keyframes elasticus {
    0% {
        transform-origin: 0 0;
        transform: scaleY(0)
    }
    50% {
        transform-origin: 0 0;
        transform: scale(1)
    }
    50.1% {
        transform-origin: 0 100%;
        transform: scale(1)
    }
    to {
        transform-origin: 0 100%;
        transform: scaleY(0)
    }
}

@keyframes elasticus {
    0% {
        transform-origin: 0 0;
        transform: scaleY(0)
    }
    50% {
        transform-origin: 0 0;
        transform: scale(1)
    }
    50.1% {
        transform-origin: 0 100%;
        transform: scale(1)
    }
    to {
        transform-origin: 0 100%;
        transform: scaleY(0)
    }
}

@media(max-width:767px) {
    .page-how-it-works .vetting-process .step {
        display: flex;
        flex-direction: column
    }
    .page-how-it-works .vetting-process .step:first-child .image-container img {
        margin-top: 30px !important
    }
    .page-how-it-works .vetting-process .step .float-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    .page-how-it-works .vetting-process .step .float-left .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 200px;
        width: auto
    }
    .page-how-it-works .vetting-process .step .float-left .image-container img {
        margin-top: 70px;
        margin-bottom: 30px;
        height: 116px;
        -o-object-fit: contain;
        object-fit: contain;
        max-height: 100%
    }
    .page-how-it-works .vetting-process .step .right {
        display: flex;
        flex-direction: column
    }
    .page-how-it-works .vetting-process .step .right .name {
        font-size: 30px;
        margin-bottom: 10px
    }
    .page-how-it-works .vetting-process .steps .step:after {
        bottom: -95px;
        background-size: contain;
        height: 80px;
        width: 80px
    }
    .page-how-it-works .get-started-steps .name,
    .page-how-it-works .multi-columns .title {
        font-size: 30px !important
    }
}

.page-home .hero {
    padding-top: 0;
    padding-bottom: 30px
}

.page-home .hero .left {
    z-index: 9;
    padding-top: 9.6354166667vw
}

@media(min-width:768px) {
    .page-home .hero .left {
        width: 50.6vw;
        margin-right: 6vw
    }
}

.page-home .hero .right {
    display: none;
    padding-top: 2.6041666667vw
}

@media(min-width:768px) {
    .page-home .hero .right {
        display: block;
        width: 27.9vw
    }
}

@media(min-width:2560px) {
    .page-home .hero {
        padding-bottom: 250px
    }
}

.page-home .no-secret .text-3 {
    margin-bottom: 50px
}

@media(min-width:768px) {
    .page-home .no-secret .text-3 {
        margin-bottom: 0
    }
}

@media(max-width:767px) {
    .page-home .no-secret .text-3 {
        text-align: center
    }
}

.page-home .no-secret .text-5 {
    margin-bottom: 20px
}

@media(min-width:768px) {
    .page-home .no-secret .text-5 {
        padding-top: 7.0833333333vw;
        padding-bottom: 2.0833333333vw;
        margin-bottom: 0
    }
}

.page-home .no-secret .clients {
    align-items: center;
    grid-column-gap: 4px;
    -moz-column-gap: 4px;
    column-gap: 4px
}

@media(min-width:768px) {
    .page-home .no-secret .clients {
        grid-column-gap: .5208333333vw;
        -moz-column-gap: .5208333333vw;
        column-gap: .5208333333vw
    }
}

.page-home .no-secret .clients img {
    max-height: 37px;
    margin: 0 auto 10px
}

@media(min-width:768px) {
    .page-home .no-secret .clients img {
        max-height: 4.1666666667vw;
        margin-bottom: 0
    }
}

@media(max-width:768px) {
    .page-home .no-secret .clients {
        display: flex;
        flex-flow: row wrap;
        justify-content: center
    }
    .page-home .no-secret .clients img {
        margin: 15px 0 0
    }
}

.page-home .no-secret>img {
    left: 6.25vw;
    top: 5.2083333333vw;
    width: 6.25vw;
    display: none
}

@media(min-width:768px) {
    .page-home .no-secret>img {
        display: block
    }
}

@media(max-width:767px) {
    .page-home .testimonials .text-2 {
        font-size: 28px !important;
        padding: 0 30px
    }
}

.page-home .testimonials .slick {
    margin-bottom: 40px
}

@media(max-width:767px) {
    .page-home .multi-columns .item .title {
        font-size: 28px !important
    }
    .page-home .accordion-container .name,
    .page-home .get-started-steps .name {
        font-size: 30px !important
    }
}

.page-home .meet-and-hire {
    padding-top: 50px;
    padding-bottom: 50px
}

@media(min-width:768px) {
    .page-home .meet-and-hire {
        padding-top: 8.4375vw;
        padding-bottom: 6.25vw
    }
    .page-home .meet-and-hire .left {
        padding-top: 2.8125vw
    }
}

.page-home .meet-and-hire .left .text-2 {
    margin-bottom: 20px
}

@media(min-width:768px) {
    .page-home .meet-and-hire .left .text-2 {
        margin-bottom: 2.0833333333vw
    }
}

@media(max-width:767px) {
    .page-home .meet-and-hire .left .text-2 {
        text-align: center
    }
}

.page-home .meet-and-hire .left .text-6 {
    margin-bottom: 30px
}

@media(min-width:768px) {
    .page-home .meet-and-hire .left .text-6 {
        margin-bottom: 2.0833333333vw
    }
}

@media(max-width:767px) {
    .page-home .meet-and-hire .left,
    .page-home .meet-and-hire .left .text-6 {
        text-align: center
    }
}

.page-home .meet-and-hire .link {
    margin-bottom: 40px
}

.page-home .meet-and-hire .grid {
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, minmax(0, 1fr))
}

@media(min-width:768px) {
    .page-home .meet-and-hire .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-row-gap: 1.5625vw;
        grid-column-gap: 2.6041666667vw
    }
}

.page-home .meet-and-hire .item {
    padding: 40px
}

@media(min-width:768px) {
    .page-home .meet-and-hire .item {
        padding: 2.0833333333vw
    }
    .page-home .meet-and-hire .item:nth-child(2n) {
        transform: translateY(30px)
    }
}

.page-home .meet-and-hire .item .image-container {
    max-width: 120px;
    height: 80px;
    margin-bottom: 24px
}

@media(min-width:768px) {
    .page-home .meet-and-hire .item .image-container {
        max-width: 6.25vw;
        height: 4.1666666667vw;
        margin-bottom: 1.25vw
    }
}

.page-home .meet-and-hire .item .image-container img {
    max-width: 100%;
    max-height: 100%
}

.page-home .meet-and-hire .item .name {
    margin-bottom: 1rem
}

.page-home .meet-and-hire .item .read-more {
    padding-top: 1.25vw;
    position: relative
}

.page-home .meet-and-hire .item .read-more span {
    position: relative
}

.page-home .meet-and-hire .item .read-more span:after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    margin-top: 5px;
    background-color: #2ba78a;
    transition: width .3s ease-in-out;
    bottom: -6px
}

.page-home .meet-and-hire .item .read-more span:hover:after {
    width: 100%
}

.page-home .services {
    background: #f5f5f5;
    padding-bottom: 9.7395833333vw
}

.page-home .services .title {
    margin-bottom: 107px
}

.page-home .services .accordion-container {
    width: 100%
}

@media(min-width:768px) {
    .page-home .services .accordion-container {
        width: 27.96875vw
    }
}

.page-home .services .accordion-container .item .arrow {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-rotate: 180deg;
    transition-property: transform;
    transition-duration: .1s
}

.page-home .services .accordion-container .item .active .arrow {
    --transform-rotate: 0
}

.page-home .services .accordion-container .item .name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px
}

@media(min-width:768px) {
    .page-home .services .accordion-container .item .name {
        font-size: 1.7708333333vw
    }
}

.page-home .services .accordion-container .item .description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6
}

@media(min-width:768px) {
    .page-home .services .accordion-container .item .description {
        font-size: 1.0416666667vw
    }
}

.page-home .services .accordion-container .item:first-child .accordion {
    border-top: none
}

@media(min-width:768px) {
    .page-home .services .image-container {
        width: 33.6979166667vw;
        height: 21.875vw
    }
}

.page-home .services .image-container img {
    margin-left: auto;
    margin-right: auto
}

.page-home .services .row-1 {
    padding-bottom: 1.96875vw
}

.page-home .services .link-container {
    text-align: center
}

@media(min-width:768px) {
    .page-home .services .link-container {
        text-align: left
    }
}

.page-service .grid-cols-3 .item {
    margin-bottom: 40px
}

.page-service .grid-cols-3 .item .image-container {
    width: 61px;
    height: 40px;
    margin-bottom: 15px
}

@media(max-width:767px) {
    .page-service .bg-light-grey-two .text-2,
    .page-service .get-started-steps .name,
    .page-service .multi-columns .title {
        font-size: 30px !important;
        margin-bottom: 10px !important
    }
    .page-service .bg-light-grey-two .grid-cols-3 {
        display: flex;
        flex-flow: row wrap
    }
    .page-service .bg-light-grey-two .grid-cols-3 .item {
        width: 50%
    }
}

.page-apply-as-a-talent .file-upload {
    padding-right: 20px
}

.page-apply-as-a-talent .file-upload .file-uploaded-item {
    white-space: nowrap
}

@media(max-width:767px) {
    .page-apply-as-a-talent .vetting-process .step {
        display: flex;
        flex-direction: column
    }
    .page-apply-as-a-talent .vetting-process .step:first-child .image-container img {
        margin-top: 30px !important
    }
    .page-apply-as-a-talent .vetting-process .step .float-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%
    }
    .page-apply-as-a-talent .vetting-process .step .float-left .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 200px;
        width: auto
    }
    .page-apply-as-a-talent .vetting-process .step .float-left .image-container img {
        margin-top: 70px;
        margin-bottom: 30px;
        height: 116px;
        -o-object-fit: contain;
        object-fit: contain;
        max-height: 100%
    }
    .page-apply-as-a-talent .vetting-process .step .right {
        display: flex;
        flex-direction: column
    }
    .page-apply-as-a-talent .vetting-process .step .right .name {
        font-size: 30px;
        margin-bottom: 10px
    }
    .page-apply-as-a-talent .vetting-process .steps .step:after {
        bottom: -95px;
        background-size: contain;
        height: 80px;
        width: 80px
    }
    .page-apply-as-a-talent .get-started-steps .name,
    .page-apply-as-a-talent .multi-columns .title {
        font-size: 30px !important;
        margin-bottom: 10px !important
    }
    .page-apply-as-a-talent .file-upload {
        display: flex;
        flex-direction: column;
        background-image: unset
    }
    .page-apply-as-a-talent .file-upload>div {
        width: 100%
    }
    .page-apply-as-a-talent .file-upload>div .text-7,
    .page-apply-as-a-talent .file-upload>div .text-9 {
        text-align: center
    }
    .page-apply-as-a-talent .file-upload .file-uploaded {
        width: 100%;
        padding-left: 0;
        border: none
    }
    .page-apply-as-a-talent .file-upload .file-uploaded .file-uploaded-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    .page-apply-as-a-talent .file-upload .file-uploaded .file-uploaded-item:first-child {
        border-top: 1px solid #e1e0d5;
        margin-top: 15px;
        padding-top: 15px
    }
    .page-apply-as-a-talent .file-upload .file-uploaded .file-uploaded-item .remove-button {
        margin-top: 10px
    }
    .page-our-talents .testimonials .text-2,
    .page-our-talents .testimonials .text-4 {
        font-size: 28px !important;
        padding: 0 30px
    }
    .page-our-talents .testimonials .slick {
        margin-bottom: 40px
    }
    .page-our-talents .testimonials .container-2 .grid.grid-cols-3 {
        display: flex;
        flex-direction: row !important;
        flex-flow: row wrap !important
    }
    .page-our-talents .testimonials .container-2 .grid.grid-cols-3>div {
        width: 33.33% !important;
        margin-bottom: 20px !important
    }
}

.page-our-talents .grid-cols-3 .image-container {
    margin-bottom: 14px;
    width: 60px;
    height: 40px;
    margin-left: 0
}

@media(min-width:768px) {
    .page-our-talents .grid-cols-3 .image-container {
        margin-bottom: .7291666667vw;
        width: 6.25vw;
        height: 4.1666666667vw
    }
}

.page-our-talents .grid-cols-3 .image-container img {
    margin-left: 0
}

.page-our-talents .grid-cols-3 .title {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.21;
    font-size: 20px;
    margin-bottom: .78125vw
}

@media(min-width:768px) {
    .page-our-talents .grid-cols-3 .title {
        font-size: 1.4583333333vw
    }
}

.page-our-talents .grid-cols-3 .list {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px
}

@media(min-width:768px) {
    .page-our-talents .grid-cols-3 .list {
        font-size: .9375vw
    }
}

@media(max-width:767px) {
    .page-our-talents .grid-cols-3,
    .page-our-talents .grid-cols-3>div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .page-our-talents .grid-cols-3>div {
        width: 300px;
        margin-bottom: 40px
    }
    .page-our-talents .grid-cols-3>div .list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .page-our-talents .grid-cols-3>div .title {
        margin-bottom: 10px;
        font-size: 30px;
        width: 100%;
        text-align: center
    }
    .page-our-talents .grid-cols-3 .image-container {
        margin: auto auto 30px;
        width: 100px;
        height: 60px
    }
    .page-our-talents .grid-cols-3 .image-container img {
        width: 100%;
        -o-object-fit: contain;
        object-fit: contain
    }
}

.page-about .about-statistic .mb-80p {
    display: flex;
    justify-content: center
}

.page-about .about-statistic .mb-80p .section__title {
    width: 52.0833333333vw
}

@media(max-width:1590px) {
    .page-about .about-statistic .mb-80p .section__title {
        width: 54.1666666667vw
    }
}

@media(max-width:768px) {
    .page-about .about-statistic .mb-80p .section__title {
        width: 100%
    }
}

.page-about .bottom-title {
    width: 36.4583333333vw;
    margin-left: auto;
    margin-right: auto
}

@media(max-width:1590px) {
    .page-about .bottom-title {
        width: 36.4583333333vw
    }
}

@media(max-width:768px) {
    .page-about .bottom-title {
        width: 100%
    }
}

@media(max-width:767px) {
    .page-about .multi-columns .title {
        font-size: 80px !important
    }
}

.page-about .ideas {
    background: #fbfbfb;
    padding-bottom: 5.5729166667vw
}

.page-about .ideas .items {
    grid-column-gap: 4.4270833333vw;
    -moz-column-gap: 4.4270833333vw;
    column-gap: 4.4270833333vw;
    grid-row-gap: 20px;
    row-gap: 20px
}

@media(min-width:768px) {
    .page-about .ideas .items {
        grid-row-gap: 0;
        row-gap: 0
    }
}

.page-about .ideas .items .item .number {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -1.8px;
    font-size: 40px;
    background: url(/png/stroke-1.png) no-repeat 0 100%;
    line-height: 40px;
    margin-bottom: 20px;
    padding-bottom: 5px
}

@media(min-width:768px) {
    .page-about .ideas .items .item .number {
        font-size: 4.6875vw;
        line-height: 5.2083333333vw;
        margin-bottom: 2.2916666667vw;
        padding-bottom: .5208333333vw
    }
    .page-home .services .accordion-container .item .name {
        font-size: 18px;
        padding: 12px 0;
        font-weight: bold;
    }
    .page-home .services .accordion-container .item .description {
        font-size: 13px;
        line-height: 20px;
    }
}

@media(max-width:767px) {
    .page-about .ideas .items .item .number {
        font-size: 75px !important;
        padding-bottom: 40px
    }
}

.page-about .ideas .items .item .name {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px;
    margin-bottom: 2.0833333333vw
}

@media(min-width:768px) {
    .page-about .ideas .items .item .name {
        font-size: 1.7708333333vw
    }
}

@media(max-width:767px) {
    .page-about .ideas .items .item .name {
        font-size: 30px !important;
        margin-bottom: 30px
    }
}

.page-about .ideas .items .item .description {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6
}

@media(min-width:768px) {
    .page-about .ideas .items .item .description {
        font-size: 1.0416666667vw
    }
}

.page-clients .title {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px;
    color: #e1e0d5
}

@media(min-width:768px) {
    .page-clients .title {
        font-size: 1.7708333333vw
    }
}

.page-clients .clients {
    background: #474747;
    margin-bottom: 1.5625vw
}

.page-clients .clients .item {
    border: 1px solid #707070;
    padding: 10px
}

@media(min-width:768px) {
    .page-clients .clients .item {
        padding: 1.40625vw
    }
}

.page-clients .clients .item .wrap {
    padding: 0
}

@media(min-width:768px) {
    .page-clients .clients .item .wrap {
        padding: 2.0833333333vw
    }
}

.page-clients .clients .item .wrap .image-container {
    width: 110px;
    height: 50px;
    margin-bottom: 1.5625vw
}

@media(min-width:768px) {
    .page-clients .clients .item .wrap .image-container {
        width: 11.4583333333vw;
        height: 5.2083333333vw
    }
}

@media(max-width:767px) {
    .page-clients .clients .item:nth-child(2n) {
        border-right: none
    }
    .page-clients .clients .item:nth-child(odd) {
        border-left: none
    }
    .page-clients .clients .item:first-child,
    .page-clients .clients .item:nth-child(2) {
        border-top: none
    }
    .page-clients .clients .item:last-child,
    .page-clients .clients .item:nth-last-child(2) {
        border-bottom: none
    }
}

@media(min-width:768px) {
    .page-clients .clients .item:nth-child(4n) {
        border-right: none
    }
    .page-clients .clients .item:nth-child(4n+1) {
        border-left: none
    }
    .page-clients .clients .item:first-child,
    .page-clients .clients .item:nth-child(2),
    .page-clients .clients .item:nth-child(3),
    .page-clients .clients .item:nth-child(4) {
        border-top: none
    }
    .page-clients .clients .item:last-child,
    .page-clients .clients .item:nth-last-child(2),
    .page-clients .clients .item:nth-last-child(3),
    .page-clients .clients .item:nth-last-child(4) {
        border-bottom: none
    }
}

.page-clients .clients .item img {
    margin-left: auto;
    margin-right: auto
}

.page-clients .clients .item .name {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px;
    color: #e1e0d5;
    text-align: center;
    line-height: 1.2;
    min-height: 42px
}

@media(min-width:768px) {
    .page-clients .clients .item .name {
        font-size: .9375vw;
        font-family: 'Noto Sans', sans-serif;
        font-size: 20px;
        line-height: 1.6;
        min-height: auto
    }
}

@media(min-width:768px)and (min-width:768px) {
    .page-clients .clients .item .name {
        font-size: 1.0416666667vw
    }
}

.page-clients .clients .more {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: #e1e0d5;
    margin-top: 40px
}

@media(min-width:768px) {
    .page-clients .clients .more {
        font-size: 1.0416666667vw;
        margin-top: 4.1666666667vw
    }
}

.page-remote-talents {
    background: #f5f5f5
}

.page-remote-talents .section {
    margin-left: 0;
    margin-right: 0;
    padding-left: 2.6041666667vw;
    padding-right: 2.6041666667vw
}

@media(max-width:767px) {
    .page-remote-talents .tab-button {
        margin-bottom: 30px
    }
    .page-remote-talents .skillList__group__name {
        font-size: 30px !important
    }
    .page-remote-talents .skillList__group__items {
        display: flex;
        flex-direction: column
    }
}

.page-submission-complete {
    background: #f5f5f5
}

.page-submission-complete .main img {
    width: 15.625vw;
    height: 15.625vw;
    margin-left: auto;
    margin-right: auto
}

.page-404 {
    background: #f5f5f5
}

.page-404 .main img {
    width: 29.6197916667vw;
    height: 30.0520833333vw;
    margin-left: auto;
    margin-right: auto
}

@media(max-width:767px) {
    .page-home .left {
        width: 100%;
        padding-top: 20px
    }
    .page-home .hero {
        padding-bottom: 30px;
        display: flex;
        flex-direction: column
    }
    .page-home .hero #wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 30px
    }
}

.file-uploaded {
    border-left: 1px solid #e1e0d5;
    padding-left: 30px
}

.file-uploaded .file-uploaded-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px
}

.file-uploaded .file-uploaded-item:last-child {
    margin-bottom: 0
}

.file-uploaded .remove-button {
    border-radius: 3px;
    background: #474747;
    color: #2ba78a;
    padding: 2px 10px 4px;
    height: auto !important
}

.effect-link.nav-effect-link span:after {
    bottom: 10px
}

.effect-link.active span:after {
    width: 100%
}

.effect-link span {
    position: relative
}

.effect-link span:after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    margin-top: 5px;
    background-color: #2ba78a;
    transition: width .3s ease-in-out;
    bottom: -6px !important
}

.effect-link span:hover:after {
    width: 100%
}

.text-1,
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -1.8px;
    font-size: 40px
}

@media(min-width:768px) {
    .text-1,
    h1 {
        font-size: 4.6875vw
    }
}

.text-2,
h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: .53px;
    font-size: 28px
}

@media(min-width:768px) {
    .text-2,
    h1 {
        font-size: 2.2916666667vw
    }
}

.text-3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    line-height: 1.32;
    letter-spacing: .38px;
    font-size: 22px
}

@media(min-width:768px) {
    .text-3 {
        font-size: 1.9791666667vw
    }
}

.text-4 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.18;
    font-size: 20px
}

@media(min-width:768px) {
    .text-4 {
        font-size: 1.7708333333vw
    }
}

.text-5 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.21;
    font-size: 20px
}

@media(min-width:768px) {
    .text-5 {
        font-size: 1.4583333333vw
    }
}

.text-6 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6
}

@media(min-width:768px) {
    .text-6 {
        font-size: 1.0416666667vw
    }
}

.text-7 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 1.56
}

@media(min-width:768px) {
    .text-7 {
        font-size: .9375vw
    }
}

.text-8 {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.56;
    font-size: 18px
}

@media(min-width:768px) {
    .text-8 {
        font-size: .9375vw
    }
}

.text-9 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 1.43
}

@media(min-width:768px) {
    .text-9 {
        font-size: .7291666667vw
    }
}

::-moz-placeholder {
    color: #474747 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #474747 !important;
    opacity: 1
}

::-ms-input-placeholder {
    color: #474747 !important;
    opacity: 1
}

::placeholder {
    color: #474747 !important;
    opacity: 1
}

button:focus {
    outline: none
}

body {
    font-family: 'Noto Sans', sans-serif, sans-serif;
    color: #474747;
    background: #fbfbfb
}

h1 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -1.8px;
    font-size: 40px
}

@media(min-width:768px) {
    h1 {
        font-size: 4.6875vw
    }
}

.bg-white {
    background: #fbfbfb
}

.bg-yellow {
    background: #2ba78a
}

.col-398 {
    width: 100%
}

@media(min-width:768px) {
    .col-398 {
        width: 20.7291666667vw;
        margin-left: 0;
        margin-right: 0
    }
}

.mb-24p {
    margin-bottom: 12px
}

@media(min-width:768px) {
    .mb-24p {
        margin-bottom: 1.25vw
    }
}

.mb-30p {
    margin-bottom: 15px
}

@media(min-width:768px) {
    .mb-30p {
        margin-bottom: 1.5625vw
    }
}

.mb-40p {
    margin-bottom: 20px
}

@media(min-width:768px) {
    .mb-40p {
        margin-bottom: 2.0833333333vw
    }
}

.mb-60p {
    margin-bottom: 30px
}

@media(min-width:768px) {
    .mb-60p {
        margin-bottom: 3.125vw
    }
}

.mb-80p {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .mb-80p {
        margin-bottom: 4.1666666667vw
    }
}

.mb-100p {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .mb-100p {
        margin-bottom: 5.2083333333vw
    }
}

.mb-120p {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .mb-120p {
        margin-bottom: 6.25vw
    }
}

.mb-140p {
    margin-bottom: 40px
}

@media(min-width:768px) {
    .mb-140p {
        margin-bottom: 7.2916666667vw
    }
}

.container-1 {
    padding-left: 30px;
    padding-right: 30px
}

@media(min-width:768px) {
    .container-1 {
        padding-left: 0;
        padding-right: 0;
        width: 85.4166666667vw;
        margin-left: auto;
        margin-right: auto
    }
}

.container-2 {
    padding-left: 30px;
    padding-right: 30px
}

@media(min-width:768px) {
    .container-2 {
        padding-left: 11.875vw;
        padding-right: 11.875vw;
        margin-left: auto;
        margin-right: auto
    }
}

@media(min-width:1200px) {
    .container-2 {
        padding-left: 0;
        padding-right: 0;
        width: 71.0416666667vw;
        margin-left: auto;
        margin-right: auto
    }
}

.container-3 {
    padding-left: 30px;
    padding-right: 30px
}

@media(min-width:768px) {
    .container-3 {
        padding-left: 0;
        padding-right: 0;
        width: 56.66vw;
        margin-left: auto;
        margin-right: auto
    }
}

.container-5 {
    padding-left: 30px;
    padding-right: 30px
}

@media(min-width:768px) {
    .container-5 {
        padding-left: 0;
        padding-right: 0;
        width: 41.7708333333vw;
        margin-left: auto;
        margin-right: auto
    }
    .hamburger--demo-3 {
        display: none
    }
}

body.ui-slider-active {
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.accordion {
    cursor: pointer;
    text-align: left;
    padding-top: 24.5px;
    padding-bottom: 24.5px;
    border-top: 1px solid #ccc
}

@media(min-width:768px) {
    .accordion {
        padding-top: 1.2760416667vw;
        padding-bottom: 1.2760416667vw
    }
}

.panel {
    display: none;
    overflow: hidden;
    padding-bottom: 1.2760416667vw
}

.slider-wrapper .box {
    --primary: #474747;
    --headline: #3f4656;
    --text: #99a3ba;
    width: 100%;
    max-width: 100%;
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto
}

.slider-wrapper .box .values div,
.slider-wrapper .box small div {
    display: inline-block;
    vertical-align: top
}

.slider-wrapper .box .values {
    margin: 0;
    font-weight: 500;
    color: var(--primary)
}

.slider-wrapper .box .values>div:first-child {
    margin-right: 2px
}

.slider-wrapper .box .values>div:last-child {
    margin-left: 2px
}

.slider-wrapper .box small {
    color: var(--text);
    display: block;
    margin-top: 8px;
    font-size: 14px
}

.slider-wrapper .box .slider {
    margin-top: 40px
}

.slider-wrapper .slider {
    --primary: #474747;
    --handle: #2ba78a;
    --handle-active: #c8c8c8;
    --handle-hover: #ededed;
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none
}

.slider-wrapper .slider .ui-slider-handle {
    --y: 0;
    --background: var(--handle);
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-tap-highlight-color: transparent;
    top: 0;
    width: 23px;
    height: 23px;
    transform: translateX(-50%);
    position: absolute;
    outline: none;
    display: block;
    pointer-events: auto
}

.slider-wrapper .slider .ui-slider-handle div {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: background .4s ease;
    transform: translateY(calc(var(--y)*1px));
    border: var(--handle-border);
    background: var(--background)
}

.slider-wrapper .slider .ui-slider-handle:hover {
    --background: var(--handle-hover)
}

.slider-wrapper .slider .ui-slider-handle:active {
    --background: var(--handle-active);
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.slider-wrapper .slider svg {
    --stroke: var(--line);
    display: block;
    height: 83px
}

.slider-wrapper .slider svg path {
    fill: none;
    stroke: var(--stroke);
    stroke-width: 1
}

.slider-wrapper .slider .active,
.slider-wrapper .slider>svg {
    position: absolute;
    top: -30px;
    height: 83px
}

.slider-wrapper .slider>svg {
    left: 0;
    width: 100%
}

.slider-wrapper .slider .active {
    position: absolute;
    overflow: hidden;
    left: calc(var(--l)*1px);
    right: calc(var(--r)*1px);
    max-width: 100%
}

.slider-wrapper .slider .active svg {
    --stroke: var(--line-active);
    position: relative;
    left: calc(var(--l)*-1px);
    right: calc(var(--r)*-1px)
}

.slider-wrapper .slider .active svg path {
    stroke-width: 2
}

.slider-wrapper .dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px
}

.slider-wrapper .dribbble img {
    display: block;
    height: 28px
}

@media (min-width:768px) {
    .md\:mb-0 {
        margin-bottom: 0
    }
    .md\:w-auto {
        width: auto
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .md\:grid-cols-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }
    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr))
    }
    .md\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr))
    }
    .md\:col-span-2 {
        grid-column: span 2/span 2
    }
}
.slick-active .custom-slick-dot{
    color: #2ba78a!important;
}
.custom-slick-dot .loader::after{
    background: #2ba78a!important;
}
/*.hrrMRC .title-text{
    background: linear-gradient(transparent 65%, #2ba78a) center center / 0% 75% no-repeat!important;
}*/

@media (min-width: 768px){
    .page-home .meet-and-hire {
        padding-top: 1.4375vw!important;
        
    }
    .new_hero.section {
            padding-bottom: 5px!important;
        }
        /*.hero .right img{
            max-width: unset;
            width: 420px;
            margin-top: 75px;
        }*/
}

@media (min-width: 768px){
.new_hero .container-3 {
    
    width: 80.66vw;
    
}
    
}