<style>
		*{
			font-family: 'Noto Sans' !important;
		}
		.ms-choice{
			height:35px !important;
			background-color: white !important;
		}
		.ms-choice >span{
			height:35px !important
		}
	
</style>
<?php 
	//print_r($this->data['Businessrelate']);
	//print_r(unserialize($this->data['Businessrelate']['goods']));
	//die;
?>
	<div class="">

	<div class="et_pb_row et_pb_row_2 et_pb_equal_columns">

		<div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">

			<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">

				<h3 class="stepbigtxt"> </h3>
				<div class="et_pb_text_inner">
					<h1 class="h_style">
						Add <span style="color:#2ba78a!important">Business Related </span>
					</h1>
					<!--<p style="color:black;font-size:18px; display:block;margin-top:20px padding-bottom:10px">
For all organisations applying for ESL's Certificate of Conformity
</p>-->

				</div>

				<p style="color:black!important; font-size:16px"></p>
			</div>

			<!-- .et_pb_text -->

			<div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">
				<div class="et_pb_contact">
					<div class="container">



						<div id="contact-page-form" class="et_pb_module et_pb_contact_form_0 data-hj-whitelist et_pb_contact_form_container clearfix" data-form_unique_num="0" data-redirect_url="#">

							<div class="et_pb_contact">

								<!--										customer detail blok-->
								<div class="row">
									<?php echo $this
	->Form
	->create('Businessrelate', array(
		'type' => 'file',
		'class' => 'form-horizontal form-material',
	)); ?>
									<div class="<col-xs-12></col-xs-12>">
										<div class="col-md-12">



											<!--											<p class=""> Add <span style="color:#2ba78a!important">Address </span></p>-->
											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this
														->Form
														->input('businesstype_id', array(
															'label' => "Business type",
															'div' => false,
															'class' => ' input inputheight',
															"style" => "width:100%!important;font-size: 14px; font-family: 'Noto Sans'!important;  padding: 6px; border:0.5px solid gray!important ",
														));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this
	->Form
	->input('website', array(
		'div' => false,
		'label' => 'Website',
		'class' => 'input inputheight',
		'required' => 'required',
	));

													?>
												</p>

											</div>
											<div>

												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtsitename1" data-type="input">
													<label for="et_pb_contact_email_0" class="et_pb_contact_form_label">

													</label>
													<?php
													echo $this
														->Form
														->input('supplieraddress', array(
															'div' => false,
															'type' => 'textarea',
															'style' => 'height:92px',
															'label' => 'Supplier Address
',
															'class' => 'input inputheight',
															'required' => 'required',
														));

													?>
													
												</p>
														<p class="gds et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last"
												   data-id="txtsiteaddress1" data-type="input">

													<label>Goods</label>

													<?php
													echo $this->Form->input('goods', array('label' => false, 'multiple' => 'multiple', "style" => "width:100%!important;font-size: 14px; font-family: 'Noto Sans'!important;  padding: 6px; border:0.5px solid gray!important ", 'class' => 'multi-select gds input inputheight',"name"=>"data[Businessrelate][goods]",'options' => $goods,"selected" => unserialize($this->data['Businessrelate']['goods'])));
													?>


												</p>
												
										
											</div>


											<div>
													
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half "data-id="txtFirstName" style="margin-top:19px" data-type="input">
													<label class="containerchk">

														<?php
														echo $this
															->Form
															->input('status', array(
																'type' => 'checkbox',
																'label' => "Active",
																'div' => false,
																'class' => 'checkbox-custom',
															));
														?>
														<!--															<input type="checkbox" <?=$checked?>  name="data[Address][status]">-->
														<span class="checkmarkchk"></span>
													</label>


												</p>
											</div>



											<p style="width:60%!important;" class="form-group et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="name" data-type="input">
											</p>

											<p style="width:40%!important;" class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtFirstName" data-type="input">

												<input type="submit" style="color:white!important;" class="btn_save_r et_pb_button_0 et_hover_enabled et_pb_bg_layout_light pull-right  btn-lg pull-right " value="Save">
											</p>








										</div>
									</div>
									</form>

							</div>


						</div>
					</div>
				</div>


			</div> <!-- .et_pb_contact -->
		</div> <!-- .et_pb_text -->
	</div> <!-- .et_pb_column -->

</div> <!-- .et_pb_row -->
</div>

</div><!-- .et-l -->


</div><!-- #et-boc -->
</div> <!-- .entry-content -->

</div>

</div>
</article> <!-- .et_pb_post -->

</div> <!-- #main-content -->

</div> <!-- #et-main-area -->

</div> <!-- #page-container -->
!--MutipleSelect js-->
<script src="<?php echo $this->Html->url("/"); ?>assets/multipleselect/multiple-select.js"></script>
<script src="<?php echo $this->Html->url("/"); ?>assets/multipleselect/multi-select.js"></script>


<!--

<div class="businessrelates form">
<?php echo $this
	->Form
	->create('Businessrelate'); ?>
<fieldset>
<legend><?php __('Edit Businessrelate');?></legend>
<?php
echo $this
	->Form
	->input('id');
echo $this
	->Form
	->input('customer_id');
echo $this
	->Form
	->input('businesstype_id');
echo $this
	->Form
	->input('goods');
echo $this
	->Form
	->input('website');
echo $this
	->Form
	->input('supplieraddress');
echo $this
	->Form
	->input('status');
echo $this
	->Form
	->input('modified_by');
?>
</fieldset>
<?php echo $this
	->Form
	->end(__('Submit', true)); ?>
</div>
<div class="actions">
<h3><?php __('Actions');?></h3>
<ul>

<li><?php echo $this
	->Html
	->link(__('Delete', true), array(
		'action' => 'delete',
		$this
		->Form
		->value('Businessrelate.id'),
	), null, sprintf(__('Are you sure you want to delete # %s?', true), $this
					 ->Form
					 ->value('Businessrelate.id'))); ?></li>
<li><?php echo $this
	->Html
	->link(__('List Businessrelates', true), array(
		'action' => 'index',
	)); ?></li>
<li><?php echo $this
	->Html
	->link(__('List Customers', true), array(
		'controller' => 'customers',
		'action' => 'index',
	)); ?> </li>
<li><?php echo $this
	->Html
	->link(__('New Customer', true), array(
		'controller' => 'customers',
		'action' => 'add',
	)); ?> </li>
<li><?php echo $this
	->Html
	->link(__('List Businesstypes', true), array(
		'controller' => 'businesstypes',
		'action' => 'index',
	)); ?> </li>
<li><?php echo $this
	->Html
	->link(__('New Businesstype', true), array(
		'controller' => 'businesstypes',
		'action' => 'add',
	)); ?> </li>
</ul>
</div>-->