<div class="">

	<div class="et_pb_row et_pb_row_2 et_pb_equal_columns">

		<div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">

			<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light et_had_animation"
				 style="">

				<div class="et_pb_text_inner">
					<h1 class="h_style">
						Add <span style="color:#2ba78a!important">Address </span>	
					</h1>
					<!--<p style="color:black;font-size:18px; display:block;margin-top:20px padding-bottom:10px">
For all organisations applying for ESL's Certificate of Conformity
</p>-->

				</div>

				<p style="color:black!important; font-size:16px"></p>
			</div>

			<!-- .et_pb_text -->

			<div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">
				<div class="row">
					<div class="container">



						<div id="contact-page-form" class="et_pb_module et_pb_contact_form_0 data-hj-whitelist et_pb_contact_form_container clearfix" data-form_unique_num="0" data-redirect_url="#">

							<div class="et_pb_contact">

								<!--										customer detail blok-->
								<div class="row">
									<?php echo $this->Form->create('Address', array('type'=>'file','class' => 'form-horizontal form-material'));?>
									<div class="col-xs-12">
										<div class="col-md-12">



											<!--											<p class=""> Add <span style="color:#2ba78a!important">Address </span></p>-->
											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('phone_country_code',array('label'=>"Phone Country Code",'div'=>false,'class' => 'input inputheight','required'=>'required'));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('phone_area_code',array('label'=>"Phone area code",'div'=>false,'class' => 'input inputheight','required'=>'required'));

													?>
												</p>

											</div>
											<div>

												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtsitename1" data-type="input">
													<label for="et_pb_contact_email_0" class="et_pb_contact_form_label">

													</label>
													<?php
													echo $this->Form->input('phone_number',array('div'=>false,'label'=>'Phone Number','class' => 'input inputheight','required'=>'required'));

													?>
												</p>
        <p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtpassword" data-type="input">

													<?php
													echo $this->Form->input('country_id',array('label'=>'Country','div'=>false,"style"=>"width:100%!important;font-size: 14px; font-family: 'Noto Sans'!important;  padding: 6px; border:0.5px solid gray!important "));
													?>
												</p>
												
											</div>




											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtMobileNo" data-type="input">

													<?php
													echo $this->Form->input('po_box',array('div'=>false,'label'=>'Po Box','class' => 'input inputheight','required'=>'required'));

													?>
												</p>

												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtsiteaddress2" data-type="input">

													<?php
													echo $this->Form->input('state_mirates',array('div'=>false,'label'=>'State Emirates','class' => 'input inputheight','required'=>"required"));
													?>
												</p>
											</div>


											<div>

											</div>

											<div>
												

												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half" data-id="txtsiteaddress1" data-type="input">

													<?php
													echo $this->Form->input('addresses',array('div'=>false,'label'=>'Addresses','class' => 'input inputheight','style'=>'height:100px','required'=>'required'));

													?>

												</p>
											<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtFirstName" style="margin-top:30px;" data-type="input">
												<label class="containerchk">
													<?php
													echo $this->Form->input('status',array('type'=>'checkbox','label'=>"status",'div'=>false,'class' => 'checkbox-custom'));
													?> 
													<!--															<input type="checkbox" <?= $checked	 ?>  name="data[Address][status]">-->
													<span class="checkmarkchk"></span>
												</label>
											</p>

										</div>



										<p style="width:60%!important;" class="form-group et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="name" data-type="input">
										</p>

										<p style="width:40%!important;" class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtFirstName" data-type="input">

											<input type="submit" style="color:white!important;" class="btn_save_r et_pb_button_0 et_hover_enabled et_pb_bg_layout_light pull-right  btn-lg pull-right " value="Save">
										</p>








									</div>
								</div>
								</form>

						</div>


					</div>
				</div>
			</div>


		</div> <!-- .et_pb_contact -->
	</div> <!-- .et_pb_text -->
</div> <!-- .et_pb_column -->


</div> <!-- .et_pb_row -->
</div>

</div><!-- .et-l -->


</div><!-- #et-boc -->
</div> <!-- .entry-content -->

</div>

</div>
</article> <!-- .et_pb_post -->

</div> <!-- #main-content -->

</div> <!-- #et-main-area -->

</div> <!-- #page-container -->




<!--


<div class="addresses form">
<?php echo $this->Form->create('Address');?>
<fieldset>
<legend><?php __('Add Address'); ?></legend>
<?php
echo $this->Form->input('customer_id');
echo $this->Form->input('phone_country_code');
echo $this->Form->input('phone_area_code');
echo $this->Form->input('phone_number');
echo $this->Form->input('addresses');
echo $this->Form->input('po_box');
echo $this->Form->input('state_mirates');
echo $this->Form->input('country_id');
echo $this->Form->input('status');
echo $this->Form->input('modified_by');
?>
</fieldset>
<?php echo $this->Form->end(__('Submit', true));?>
</div>
<div class="actions">
<h3><?php __('Actions'); ?></h3>
<ul>

<li><?php echo $this->Html->link(__('List Addresses', true), array('action' => 'index'));?></li>
<li><?php echo $this->Html->link(__('List Customers', true), array('controller' => 'customers', 'action' => 'index')); ?> </li>
<li><?php echo $this->Html->link(__('New Customer', true), array('controller' => 'customers', 'action' => 'add')); ?> </li>
<li><?php echo $this->Html->link(__('List Countries', true), array('controller' => 'countries', 'action' => 'index')); ?> </li>
<li><?php echo $this->Html->link(__('New Country', true), array('controller' => 'countries', 'action' => 'add')); ?> </li>
</ul>
</div>-->
