@charset "utf-8";
/* CSS Document */

/* slider layout */
.lof-slidecontent {
	width:648px;
	height:435px;
	position:relative;
	overflow:hidden;
	border:#e2e1e1 solid 1px;
	border-top-width:1px;
	border-bottom-width:2px;
	direction:rtl;
	padding-right:1px;
}
.lof-slidecontent ul{
	list-style:none;
}
.main-slider-title{
	width:638px;
	height:40px;
	position:relative;
	background-image:url('../images/slider_head_pattern.gif');
	padding:15px 5px;
	color:#a42224;
	font-weight:bold;
	font-size:21px;
	font-family: 'Droid Arabic Kufi', serif;
	white-space:nowrap;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.main-slider-title span{
	display:block;
	float:right;
	width:610px;
	margin:0 10px;
	text-shadow: 1px 1px 2px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
.lof-slidecontent .preload{	height:100%;	width:100%;	position:absolute;	top:0;	left:0;	z-index:100000;	text-align:center;	background:#FFF}
.lof-slidecontent .preload div{	height:100%;	width:100%;	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;}

.lof-slidecontent  .sliders-wrapper{	position:relative;	height:100%;	width:445px;	z-index:3px;	overflow:hidden; }
.lof-slidecontent  ul.sliders-wrap-inner{overflow:hidden;	background:transparent url(../images/load-indicator.gif) no-repeat scroll 50% 50%;	padding:0px;	margin:0;	position:absolute;	overflow:hidden;}
.lof-slidecontent  ul.sliders-wrap-inner li{overflow:hidden;	padding:0px;margin:0px;	float:left;	position:relative;height:375px;;}
.lof-slidecontent  .lof-opacity  li{position:absolute;	top:0;	left:0;	float:inherit; }


.lof-slidecontent  .navigator-content {position:absolute;
	left:0;
	z-index:9;
	height:370px;
	width:203px;
	overflow:hidden;
	color:#FFF
}
.lof-slidecontent  .navigator-wrapper{	position:relative;	z-index:10;
	height:370px;
	width:203px;
	overflow:hidden;
	color:#FFF;
	float:left;
}
.lof-slidecontent  ul.navigator-wrap-inner{	top:0;	padding:0;	margin:0;	position:absolute;	width:100%; }
.lof-slidecontent  ul.navigator-wrap-inner li{ cursor:hand; 	cursor:pointer;	list-style:none;	padding:0;	margin-left:0px;	overflow:hidden;	float:left;	display:block;	text-align:center;}


.main-slider-content{
	width:445px;
	height:370px;
	position:relative;
	float:right;
}
/*******************************************************/

.slider-mainImage{
	float:right;
	width:445px;
} 
 

.lof-slidecontent .slider-description{
	z-index:100px;
	position:absolute;
	width:415px;
	background-color:white;
	height:70px;
	padding:15px;
	color:#333333;
	bottom:10px;
	text-align:justify;
	font-size:15px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	line-height:18px;
}
.lof-slidecontent .slider-description a:before{
	content:'... ';
}
.lof-slidecontent .slider-description a{
	text-decoration:none;
	color:#00579a;
}
/* item navigator */
.lof-slidecontent ul.navigator-wrap-inner  li.active{
	color:#FFF;
}
.lof-slidecontent ul.navigator-wrap-inner  li > div{
	background-image:url('../images/news_slider_inactive_bg.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	color:#5e5e5e;
	height:33px;
	width:173px;
	position:relative;
	border-top:1px solid #FFF;
	text-align:right;
	padding:20px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	overflow:hidden;
	text-overflow:ellipsis-lastline;
}

.lof-slidecontent ul.navigator-wrap-inner li.active div{
	background-image:url('../images/news_slider_active_bg.gif');
	background-position:center center;
	color:#FFF;
}





















