﻿/** carousel Mask **/
#Ajwa-carousel .mask {
	width:595px;
}

/** base carousel **/
.carousel{
	margin-left:30px;
    direction:ltr;
    height:230px;
}
.carousel ul {
    position:absolute;
    overflow:hidden;
    margin:0;
    padding:0;
    list-style:none;
}

.no-js .carousel ul {position:static;}

.carousel .mask {
    position:relative;
    overflow:hidden;
}

.carousel ul li {
	float:left;
	width:175px;
    height:105px;
    color:#fff;
	font-size:1em;
	text-align:center;
	margin:5px 11px;
}

/* By Jo Script */
.carousel ul li a:after{
	content:' ';
	width:175px;
    height:105px;
	display:block;
	position:relative;
	top:-110px;
	background-image:url('../images/carousel_outer_corners.png');
	background-repeat:no-repeat;
	z-index:20;
}
.carousel ul li a>span {
	position:absolute;
	z-index:20;
	display:block;
	background-color:rgba(0,0,0,.6);
	margin-top:77px;
	width:161px;
	padding:5px 5px;
	margin-left:2px;
	margin-right:2px;
	color:white;
	font-size:13px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	direction:rtl;
}

.carousel .pagination-links {
    list-style:none;
    margin:0;
    padding:0;
    display:none;
}
 
.carousel .pagination-links li {
    display:inline;
}

.carousel .pagination-links li a {
	padding:2px 6px;	
}

.carousel .pagination-links li a:hover {text-decoration:none;}

.carousel .pagination-links li.current a {
	 background:#444;
	 color:black;
}
 
.carousel .disabled {
    color:gray;
    cursor:default;
}

/* Yousef Controls */

.carousel .next{
	width:18px;
	height:225px;
	display:inline-block;
	text-indent:-999%;
	background-image:url('../images/carousel_controls.gif');
	background-position:left center;
	position:relative;
	top:-227px;;
	left:-40px;
	opacity:.5;
	cursor:pointer;
}
.carousel .prev{
	width:18px;
	height:225px;
	display:inline-block;
	text-indent:-999%;
	background-image:url('../images/carousel_controls.gif');
	background-position:right center;
	position:relative;
	top:-227px;;
	right:-595px;
	opacity:.5;
	cursor:pointer;
}
.carousel .prev:hover , .carousel .next:hover{
	opacity:.8;
}
.carousel .disabled{
	opacity:.2 !important;
	cursor:default !important;
}