@charset "utf-8";
.modern-ticker {
	width: 856px;
	height: 30px;
	line-height: 30px;
	padding-right:144px;
	
	font-size: 16px;
	position: relative;
	overflow: hidden;
	
	float:right;
	padding-top:3px;
	border-bottom:6px #ededed solid;
	padding-bottom:3px;
	margin-bottom:10px;
	font-family:Tahoma;

}
.modern-ticker a {
	text-decoration: none;
}
.modern-ticker ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mt-label {
	margin-right: 2px;
	padding: 0 8px 0 12px;
	float: left;
}
.mt-news {
	height: 100%;
	overflow: hidden;
	float: right;
}
.mt-scroll .mt-news {
}
.mt-round .mt-news:first-child, .mt-round .mt-news:first-child a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.mt-round .mt-news:last-child, .mt-round .mt-news:last-child a {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mt-scroll.mt-round .mt-news a {
	border-radius: 0;
}
.mt-news ul {
	width: 50000px;
	background-repeat: no-repeat;
	background-position: -1000px;
}
.mt-news li {
	float: right;
}
.mt-news a {
	font-size: 12px;
	padding: 0 10px 0 20px;
	margin-right: 2px;
	background-repeat: no-repeat;
	background-position: 7px center;
	display: block;
}
.mt-hide {
	display: none;
}
.mt-controls {
	float:left;
	width:70px;
	padding-top:6px;
	padding-right:10px;
}
.mt-play:hover, .mt-prev:hover, .mt-next:hover {
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}

.mt-pause{
	float:left;
	width:19px;
	height:19px;
	background-image:url('../images/marqueControls.gif') !important;;
	background-position:center top
	background-repeat:no-repeat;
	margin:0 6px;
	cursor:pointer;
}
.mt-pause:hover{
	background-position:center bottom !important;
}
.mt-play{
	float:left;
	width:19px;
	height:19px;
	background-image:url('../images/marqueControlsPlay.gif');
	background-position:center top;
	background-repeat:no-repeat;
	margin:0 6px;
	cursor:pointer;
}
.mt-play:hover{
	background-position:center bottom;
}
.mt-next {
	float:left;
	width:19px;
	height:19px;
	background-image:url('../images/marqueControls.gif');
	background-position:right top;
	background-repeat:no-repeat;
	cursor:pointer;
}

.mt-next:hover{
	background-position:right bottom;
}
.mt-prev {
	float:left;
	width:19px;
	height:19px;
	background-image:url('../images/marqueControls.gif');
	background-position:left top;
	background-repeat:no-repeat;
	cursor:pointer;
}
.mt-prev:hover{
	background-position:left bottom;
}

