img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.divmaincont {
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    padding-right: 14px !important;
    padding-bottom: 45px !important;
    padding-left: 24px !important;
    margin-top: 0px;
    padding-top: 60px;
    margin-left: -15px !important;
    background-color: rgba(13,101,116,0.3);
}

@media only screen and (max-width:981px) {
    .divmaincont {
        display: none;
    }
}

.divaddmaincont {
    border-radius: 6px 6px 6px 6px;
    overflow: hidden;
    padding-right: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 24px !important;
    margin-top: 250px !important;
    margin-left: -15px !important;
    background-color: rgba(13,101,116,0.3)
}

@media only screen and (max-width:981px) {
    .divaddmaincont {
        display: none;
    }
}

.et_contact_bottom_container {
    margin-top: 18%;
}

.et_pb_contact_form_0 .input, .et_pb_contact_form_0 .input[type="checkbox"] + label i, .et_pb_contact_form_0 .input[type="radio"] + label i {
    background: white !important;
}

    .et_pb_contact_form_0 .input, .et_pb_contact_form_0 .input[type="checkbox"] + label, .et_pb_contact_form_0 .input[type="radio"] + label, .et_pb_contact_form_0 .input[type="checkbox"]:checked + label i:before, .et_pb_contact_form_0 .input::placeholder {
        color: #046970 !important;
    }

/* The container */
.containerchk {
    /*display: block;*/
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
}

    /* Hide the browser's default checkbox */
    .containerchk input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmarkchk {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 22px;
    background-color: white;
    color: #046970;
    border: 1px solid gray;
}

/* On mouse-over, add a grey background color */
.containerchk:hover input ~ .checkmarkchk {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerchk input:checked ~ .checkmarkchk {
    background-color: #54b454;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkchk:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerchk input:checked ~ .checkmarkchk:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerchk .checkmarkchk:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Display error messages for form*/
.et-pb-contact-message {
    display: none;
}

.et_pb_text_6.et_pb_text {
    color: #54b454 !important;
    font-family: 'Noto Sans' !important;
}

.et_pb_text_6 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-family: 'Noto Sans' !important;
}

dy #page-container .et_pb_section .et_pb_button_2 {
    color: #ffffff !important;
    border-width: 0px !important;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
}

body #page-container .et_pb_section .et_pb_button_0 {
    color: #FFF !important;
    /*border-color: #54B454;*/
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
    background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
    font-family: 'Noto Sans' !important;
    padding-top: 13px !important;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    /*display:block; width: 42%;*/
    /*background-color: rgba(177,255,177,0);*/
    border: 0px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 33px !important;
    margin-right: 10px !important;
}



    body #page-container .et_pb_section .et_pb_button_0:hover {
        color: #ffffff !important;
        background-image: initial !important;
        background-color: #54B454 !important;
        opacity: 0.8 !important;
        border: 2px solid transparent;
        color: rgb(255, 255, 255) !important;
        border-radius: 50px;
        /*background: rgb(93, 228, 85) !important;   */
        border: 0px !important;
    }



.et_pb_gutters3 .et_pb_column_1_2 .et_pb_module, .et_pb_gutters3.et_pb_row .et_pb_column_1_2 .et_pb_module {}

.alltopbtn12344 {
    font-size: 14px !important;
    font-weight: 600 !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 33px !important;
    margin-right: 10px !important;
}


.spanheader {
    color: #54b454 !important;
    font-family: 'Noto Sans' !important;
    font-size: 22px;
    display: block;
    line-height: 2;
}

.spanpara {
    font-family: 'Noto Sans' !important;
    font-size: 20px !important;
    display: block;
}

#A1:hover {
    background-color: green;
    color: white !important;
    text-decoration: none;
    cursor: pointer;
    font-size: 38px;
    border: 2px solid white !important;
    border-radius: 10px;
    padding: 3px 9px 6px 8px;
    border-color: white;
}
#main-header {
    opacity: 0;
    transform: translate(-107px);
}

body {
    font-size: 14px;
    font-family: 'Noto Sans';
}