img.wp-smiley, img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

body.custom-background { /* background-image: url("css2/messaging-hero-light.svg"); */
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    font-family: 'Noto Sans' !important;
}

.inputheight {
    height: 40px;
}

.et_contact_bottom_container {
    margin-top: 18%;
}

.et_pb_row_2.et_pb_row {
    padding-top: 40px !important;
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.inputfile-6 + label {
    color: #54b454;
}

.inputfile-6 + label {
    border: 1px solid #54b454;
    background-color: #FFF;
    padding: 0;
}

    .inputfile-6:focus + label,
    .inputfile-6.has-focus + label,
    .inputfile-6 + label:hover {
        border-color: #722040;
    }

    .inputfile-6 + label span,
    .inputfile-6 + label strong {
        padding: 0.625rem 1.25rem; /* 10px 20px */
    }

    .inputfile-6 + label span {
        width: 150px;
        min-height: 2em;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: top;
    }

    .inputfile-6 + label strong {
        height: 100%;
        color: #000;
        background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
        /*
		background-color: #d3394c;
		*/
        display: inline-block;
    }

    .inputfile-6:focus + label strong,
    .inputfile-6.has-focus + label strong,
    .inputfile-6 + label:hover strong {
        /*background-color: #722040;*/
        cursor: pointer;
        background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
    }

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

/* The container */
.containerchk {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
}

    /* Hide the browser's default checkbox */
    .containerchk input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmarkchk {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 22px;
    background-color: #eee;
    border: 1px solid black;
}

/* On mouse-over, add a grey background color */
.containerchk:hover input ~ .checkmarkchk {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerchk input:checked ~ .checkmarkchk {
    background-color: #54b454;
    color: #FFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkchk:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerchk input:checked ~ .checkmarkchk:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerchk .checkmarkchk:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Display error messages for form*/
.et-pb-contact-message {
    display: none;
}

body {
    margin-top: 0px;
}

.stepwizard-step {
    display: table-cell;
    text-align: left;
    position: relative;
	border-color:unset;
}

    .stepwizard-step p {
        margin-top: 10px;
    }

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 83%;
    height: 1px;
    border: 2px solid #5bbaa2;
    margin-top: 10px;
    z-order: 0;
    border-style: dotted;
}

.btn-circle {
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 10px;
}

.stepsmalltxt {
    font-size: 16px;
    color: black;
    font-family: 'Noto Sans' !important;
}

.stepbigtxt {
    color: #53D854;
    font-family: 'Noto Sans' !important;
}

.form-control {
    border: 2px solid black;
}

.has-error .form-control {
    border: 2px solid red !important;
    background-color: yellow !important;
}

.stepwizard {
    width: 80%;
}

@media only screen and (min-width : 320px) {
    /*	.stepwizard { background-color:green;  }*/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    /*	.stepwizard { background-color:yellow;  }*/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    /*	.stepwizard { background-color:pink;  }*/
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body:not(.et-tb) #main-content .container, body:not(.et-tb-has-header) #main-content .container {
        padding-top: 5px !important;
    }

    .stepwizard {
        width: 100%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .stepwizard {
        width: 60%;
    }
    /*.et_pb_contact{ width:60%;  }*/
    .et_pb_row.et_pb_equal_columns > .et_pb_column, .et_pb_section.et_pb_equal_columns > .et_pb_row > .et_pb_column {
        padding-left: 60px;
        margin-left: 20px;
    }

    body:not(.et-tb) #main-content .container, body:not(.et-tb-has-header) #main-content .container {
        padding-top: 5px !important;
    }

    .row {
        width: 80%;
    }
}

@media only screen and (min-width : 1600px) {
    /*	.stepwizard { background-color:yellow;  }*/
    .row {
        width: 90%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    /*.stepwizard { background-color:gray;  }*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    /*	.stepwizard { background-color:lime;  }*/
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

;

body:not(.et-tb) #main-content .container, body:not(.et-tb-has-header) #main-content .container {
    padding-top: 5px !important;
}

.stepicons {
    content: '';
    height: 52px;
    width: 52px;
    border: 0px;
    background: url('../assets/img/stepicon.png') no-repeat;
}

.btn-primary {
    background-color: #6ac2a2 !important;
}

body #page-container .et_pb_section .et_pb_button_1 {
    color: #ffffff !important;
    border-width: 0px !important;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
}

body .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce-page button.button.alt, .woocommerce-page button.button.alt.disabled, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message a.button.wc-forward {
    font-size: 14px;
    background-color: #58ba52 !important;
    /*border-color: #58ba52!important; */
    border-radius: 50px !important;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

    body .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message a.button.wc-forward {
        font-size: 14px;
        background: #58ba52 !important;
        /*border-color: #58ba52!important;*/
        border-radius: 50px !important;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px !important;
        color: #fff !important;
        min-height: 50px !important;
    }

.et_pb_button_module_wrapper > a {
    display: inline-block;
}

.et_pb_button_1 {
    box-shadow: 0px 26px 92px 3px rgba(0,0,0,0.2);
}

    .et_pb_button_1, .et_pb_button_1:after {
        transition: all 300ms ease 0ms;
    }

.et_pb_button {
    position: relative;
    padding: .3em 1em;
    border: 2px solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em !important;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.headerp2 { /*margin-left:3%;*/
    font-size: 18px;
    font-weight: bold;
    color: #54b454;
}

.et_pb_button_0_wrapper .et_pb_button_0, .et_pb_button_0_wrapper .et_pb_button_0:hover {
    padding-top: 8px !important;
    padding-right: 32px !important;
    padding-bottom: 8px !important;
    padding-left: 32px !important;
}

.custom-nav .et_pb_button {
    min-height: fit-content;
}

.et_pb_contact .et_pb_contact_field_half {
    padding-left: 0px;
    padding-right: 20px;
}

.et_pb_contact p input, .et_pb_contact p textarea, .et_pb_subscribe .et_pb_contact_field input, .et_pb_subscribe .et_pb_contact_field textarea {
    background-color: #eee !important;
    border: 0.5px solid gray !important;
}

.contactbtn {
    color: black !important;
    border-color: black !important;
    border-radius: 4px !important;
    letter-spacing: 1px;
    border: 1px solid black;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600 !important;
    background-color: rgba(177,255,177,0) !important;
    padding-top: 8px !important;
    padding-right: 32px !important;
    padding-bottom: 8px !important;
    padding-left: 32px !important;
    min-height: fit-content;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.7em !important;
}

.btncontdiv a:hover {
    background-color: green !important;
    text-decoration: none !important;
    color: White !important;
}

.et_pb_contact_form_0 .et_pb_contact_field input, .et_pb_contact_form_0 .et_pb_contact_field select, .et_pb_contact_form_0 .et_pb_contact_field textarea, .et_pb_contact_form_0 .et_pb_contact_field .et_pb_contact_field_options_list label > i, .et_pb_contact_form_0 input.et_pb_contact_captcha {
    box-shadow: 0px 2px 162px 0px rgba(0,0,0,0.2) !important;
}

.et_pb_contact_form_0 .input, .et_pb_contact_form_0 .input[type="checkbox"] + label, .et_pb_contact_form_0 .input[type="radio"] + label, .et_pb_contact_form_0 .input[type="checkbox"]:checked + label i:before, .et_pb_contact_form_0 .input::placeholder {
    color: #046970 !important;
}

    .et_pb_contact_form_0 .input, .et_pb_contact_form_0 .input[type="checkbox"] + label i, .et_pb_contact_form_0 .input[type="radio"] + label i {
        background: white !important;
    }

.custom-file {
    position: relative;
    display: inline-block;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 0;
}

input[type=file] {
    display: block;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 0;
    opacity: 0;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}



/*body #page-container .et_pb_section .et_pb_button_0 { color: #54B454!important; border-color: #54B454; border-radius: 4px; letter-spacing: 1px; font-size: 11px; font-weight: 600!important; background-color: rgba(177,255,177,0)!important; }*/

body #page-container .et_pb_section .et_pb_button_0 {
    color: #FFF !important;
    /*;border-color: #54B454;*/
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600 !important;
    background-image: linear-gradient(210deg,#5DE455 0%,#14C0AA 100%) !important;
    font-family: 'Noto Sans' !important;
    padding-top: 13px !important;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    /*display:block; width: 42%;*/
    /*background-color: rgba(177,255,177,0);*/
    border: 0px !important;
}


    body #page-container .et_pb_section .et_pb_button_0:hover {
        color: #ffffff !important;
        background-image: initial !important;
        background-color: #54B454 !important;
        opacity: 0.8 !important;
        border: 2px solid transparent;
        color: rgb(255, 255, 255) !important;
        border-radius: 50px;
        background: rgb(93, 228, 85) !important;
        border: 0px !important;
    }


.paraheader {
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    color: #54b454;
    font-family: 'Noto Sans' !important;
}

.paraattach {
    font-size: 14px;
    color: black;
    font-family: 'Noto Sans' !important;
    margin: 0 0 1px !important;
}

#main-header {
    opacity: 0;
    transform: translate(-107px);
}

body {
    font-size: 14px;
    font-family: 'Noto Sans' !important;
}