.drib-shots {
    margin: 5px 0;
}
.drib-shots a {
    outline: none;
}

/*Responsive*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .gs_dribb_popup img { width: 100%; }
    .gs_dribb_popup .drib-desc-views { width: 100%; margin: 2% 0; }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .gs_dribb_popup img { width: 100%; }
    .gs_dribb_popup .drib-desc-views { width: 100%; margin: 2% 0; }
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
    .drib-shots a,
    .drib-pop a { display: block; margin-bottom: 20px; }
    .drib-shots a img,
    .drib-pop a img { width: 100%; }
    .gs_drib_area .col-xs-6 { width: 100% !important; }

    .gs_dribb_popup img { width: 100%; }
    .gs_dribb_popup .drib-desc-views { width: 100%; margin: 2% 0; }
}

@media only screen and (max-width: 479px) {
    .gs_drib_area .col-xs-6 { width: 100% !important; }
    .drib-shots a { display: block; margin-bottom: 15px; }
    .gs_dribb_popup img { width: 100%; }
    .gs_dribb_popup .drib-desc-views { width: 100%; margin: 2% 0; }
}
/*@media only screen and (max-width: 375px) { width: 365px }*/

@media only screen and (max-width: 360px) { 
    .drib-shots a, .drib-pop a { display: block; margin-bottom: 15px; }
}

@media only screen and (max-width: 320px) { 
    .drib-shots a { display: block; margin-bottom: 15px; }
    .gs_dribb_popup img { width: 100%; }
    .gs_dribb_popup .drib-desc-views { width: 100%; margin: 2% 0; }
}