<style>
	label {
		display: block
	}

</style>
<div class="">

	<div class="et_pb_row et_pb_row_2 et_pb_equal_columns">

		<div class="et_pb_column et_pb_column_1_2 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">

			<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">

				<h3 class="stepbigtxt"> </h3>
				<div class="et_pb_text_inner">
					<h1 class="h_style">
						Edit <span style="color:#2ba78a!important">Contact </span>
					</h1>
					<!--<p style="color:black;font-size:18px; display:block;margin-top:20px padding-bottom:10px">
For all organisations applying for ESL's Certificate of Conformity
</p>-->

				</div>

				<p style="color:black!important; font-size:16px"></p>
			</div>

			<!-- .et_pb_text -->

			<div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_left et_pb_bg_layout_light et_had_animation" style="">
				<div class="et_pb_contact">
					<div class="container">



						<div id="contact-page-form" class="et_pb_module et_pb_contact_form_0 data-hj-whitelist et_pb_contact_form_container clearfix" data-form_unique_num="0" data-redirect_url="#">

							<div class="et_pb_contact">

								<!--										customer detail blok-->
								<div class="row">
									<?php echo $this
	->Form
	->create('Contact', array(
		'type' => 'file',

	)); ?>
									<div class="col-xs-12">
										<div class="col-md-12">

											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('title', array('label' => "Title", 'div' => false, 'class' => 'input inputheight', 'required' => 'required'));
													?>

												</p>

												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('first_name', array('div' => false, 'label' => 'First Name', 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>

											</div>


											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('last_name', array('label' => "Last Name", 'div' => false, 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('position', array('div' => false, 'label' => 'Position', 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>
											</div>

											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('mobile_country_code', array('label' => "Mobile Country Code", 'div' => false, 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('mobile_code_no', array('div' => false, 'label' => 'Mobile Code Number', 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>

											</div>


											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('mobile_number', array('label' => "Mobile Number", 'div' => false, 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('email', array('div' => false, 'label' => 'Email', 'class' => 'input inputheight', 'required' => 'required'));

													?>
												</p>



											</div>


											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtpassword" data-type="input">
													<?php
													echo $this->Form->input('contacttypes_id', array('label' => "Contact Type", 'div' => false, 'class' => 'input inputheight', "style" => "width:100%!important;font-size: 14px; font-family: 'Noto Sans'!important;  padding: 6px; border:0.5px solid gray!important ", 'required' => 'required'));

													?>
												</p>


												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtemiratesid" data-type="input">
													<?php echo $this->Form->input('password', array('div' => false, 'label' => 'Password', 'class' => 'input inputheight',"value"=>""));
													echo $this->Form->input('password1', array("type" => "hidden"));

													?>
												</p>



											</div>

											<div>
												<p class="et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="txtFirstName" style="margin-top:19px" data-type="input">
													<label class="containerchk">

														<?php
														echo $this
															->Form
															->input('is_main', array(
																'type' => 'checkbox',
																'label' => "Is Main",
																'div' => false,
																'class' => 'checkbox-custom',
															));
														?>
														<span class="checkmarkchk"></span>
													</label>
												</p>
												<p class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtFirstName" style="margin-top:19px" data-type="input">
													<label class="containerchk">

														<?php
														echo $this
															->Form
															->input('status', array(
																'type' => 'checkbox',
																'label' => "Active",
																'div' => false,
																'class' => 'checkbox-custom',
															));
														?>
														<span class="checkmarkchk"></span>
													</label>
												</p>

											</div>
											<p style="width:60%!important;" class="form-group et_pb_contact_field et_pb_contact_field_1 et_pb_contact_field_half" data-id="name" data-type="input">
											</p>

											<p style="width:40%!important;" class="et_pb_contact_field et_pb_contact_field_2 et_pb_contact_field_half et_pb_contact_field_last" data-id="txtFirstName" data-type="input">

												<input type="submit" style="color:white!important;" class="btn_save_r  et_pb_button_0 et_hover_enabled et_pb_bg_layout_light pull-right  btn-lg pull-right " value="Save">
											</p>
										</div>
									</div>
									</form>

								</div>


							</div>
						</div>
					</div>


				</div> <!-- .et_pb_contact -->
			</div> <!-- .et_pb_text -->
		</div> <!-- .et_pb_column -->


	</div> <!-- .et_pb_row -->
</div>

</div><!-- .et-l -->


</div><!-- #et-boc -->
</div> <!-- .entry-content -->

</div>

</div>
</article> <!-- .et_pb_post -->

</div> <!-- #main-content -->

</div> <!-- #et-main-area -->

</div> <!-- #page-container -->



<!--

<div class="contacts form">
<?php echo $this->Form->create('Contact'); ?>
<fieldset>
<legend><?php __('Edit Contact');?></legend>
<?php
echo $this->Form->input('id');
echo $this->Form->input('customer_id');
echo $this->Form->input('title');
echo $this->Form->input('first_name');
echo $this->Form->input('last_name');
echo $this->Form->input('position');
echo $this->Form->input('mobile_country_code');
echo $this->Form->input('mobile_code_no');
echo $this->Form->input('mobile_number');
echo $this->Form->input('email');
echo $this->Form->input('contacttypes_id');
echo $this->Form->input('is_main');
echo $this->Form->input('password');
echo $this->Form->input('status');
echo $this->Form->input('modified_by');
?>
</fieldset>
<?php echo $this->Form->end(__('Submit', true)); ?>
</div>
<div class="actions">
<h3><?php __('Actions');?></h3>
<ul>

<li><?php echo $this->Html->link(__('Delete', true), array('action' => 'delete', $this->Form->value('Contact.id')), null, sprintf(__('Are you sure you want to delete # %s?', true), $this->Form->value('Contact.id'))); ?></li>
<li><?php echo $this->Html->link(__('List Contacts', true), array('action' => 'index')); ?></li>
<li><?php echo $this->Html->link(__('List Customers', true), array('controller' => 'customers', 'action' => 'index')); ?> </li>
<li><?php echo $this->Html->link(__('New Customer', true), array('controller' => 'customers', 'action' => 'add')); ?> </li>
<li><?php echo $this->Html->link(__('List Contacttypes', true), array('controller' => 'contacttypes', 'action' => 'index')); ?> </li>
<li><?php echo $this->Html->link(__('New Contacttypes', true), array('controller' => 'contacttypes', 'action' => 'add')); ?> </li>
</ul>
</div>-->
