@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(assets/fonts/NotoSans-Regular) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(assets/fonts/NotoSans-Regular) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NotoSans'), local('NotoSans-Regular'), url(assets/fonts/NotoSans-Regular) format('truetype');
}
/* arabic */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('NotoSans-Bold.ttf'), url(assets/fonts/NotoSans-Bold.ttf) format('truetype');
}
/* arabic */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat ExtraBold'), local('NotoSans-BoldItalic.ttf'), url(assets/fonts/NotoSans-BoldItalic.ttf) format('truetype');
}

*{
    color:#383838;
}

p.et_pb_contact_field.gds{
    margin-bottom: 0
}
.et_pb_contact p input.btn_save_r{
    width:150px
}
#flashMessage{
    border-radius: 25px;
    line-height: 54px;
    margin: 0 10%;
}

.gds.ms-parent {
    width: 48% !important
}
.custom_acco .panel-heading{
    background: #f5f5f5;
    color: #383838 !important;
    border: 1px solid rgb(40 167 138 / 30%);
    height: 40px;
    padding-bottom: 0;
    display: flex;
    width: 100%;
    /*	margin-top: 10px;*/
}
.custom_acco .panel-title{
    width: 100%;
    text-align: left;
    color: #383838;
}
.btn-primary {
    border-color: unset;
    background-color: #2ba78a !important:;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: unset;
    outline: unset;
    outline-offset: unset;
}

.custom_acco .panel-title a i{
    position: absolute;
    right: 0;
    transform: rotate(180deg);

}
.custom_acco  a.collapsed i {
    transform: unset;
}
body #page-container .et_pb_section .et_pb_button_0{
    background-image: linear-gradient(to top,#2ba78a, #c8e292) !important;
}
.et_pb_contact .col-lg-12 , .et_pb_contact .col-md-12 {
    margin-right:0 !important;
    padding-right: 0;
}
.btn-success{
    background-color: #2ba78a !important;
    border-color:#2ba78a !important;
}
.et_pb_contact .row.setup-content{
    margin-left: 0 !important ;
}
.panel-title>a {
    color: inherit;
    width: 100%;
    display: block;
    line-height: 17px;
    position:relative;
}
.stepwizard-row a{
    /*	color:unset;*/
}
.headerp2{
    color:#383838;
}
.h_style {
    padding-left: 30px;
    font-size: 26px;
}

@media only screen and (min-width: 1200px){
    .row {
        width: 90% !important;
    }
}
@media only screen and (min-width: 1200px){
    .stepwizard {
        width: 100% !important;
    }
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    border-color: unset;
}
.stepwizard{
    width: 100% !important;

}

@media only screen and (min-width: 1200px){
    .row {
        width: 93%;
    }
}
.row {
    width: 100% !important;
    margin-right: -15px;
    margin-left: -15px;
}

.stepwizard-row:before {
    content: unset;
}
.stepwizard-step >a{
    line-height: 37px;
    width:100%;
    border-radius: 0;
    background-color: transparent
}
.et_pb_row.et_pb_equal_columns > .et_pb_column, .et_pb_section.et_pb_equal_columns > .et_pb_row > .et_pb_column{
    padding-left: 0; 
    margin-left: 20px;
}
.b_p2 {
    width: 55%  !important;
}
.b_p1{
    width: 45% !important;
}
@media only screen and (max-width: 768px){
    .et_pb_row_2, body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_2.et_pb_row {
        width: 100%;
        max-width: unset; 
    }

    .et_pb_row_2, body #page-container .et-db #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single #page-container #et-boc .et-l .et_pb_row_2.et_pb_row, body.et_pb_pagebuilder_layout.single.et_full_width_page #page-container #et-boc .et-l .et_pb_row_2.et_pb_row {
        width: 100%;
    }

    .et_pb_row {
        max-width: 1080px;
    }

    .stepwizard-row {
        display: grid;
    }
    .stepwizard-step {
        display: flex;
        text-align: left;
        position: relative;
        width: 50%;
        float: left;
    }
    .stepwizard-row {
        display: inline-block;
    }
    .container{
        width:100%
    }

    .row {
        width: 100% !important;
        margin-right: 0;
        margin-left: 0;
    }
    .et_pb_row.et_pb_equal_columns > .et_pb_column, .et_pb_section.et_pb_equal_columns > .et_pb_row > .et_pb_column {
        padding-left: 0;
        margin-left: 0;
    }
    element.style {
        height: 150px;
        position: fixed;
    }
    .container.et_menu_container {
        z-index: 99;
        display: block;
    }
    .h_style{
        padding-left:30px;
        font-size: 26px;
    }
    .et_header_style_left .logo_container {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .et_header_style_left #logo, .et_header_style_split #logo {
        max-width: 100%;
        width: 200px;
    }
    .et_header_style_left .logo_container {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 20px;
    }
    .et_header_style_left #et-top-navigation, .et_header_style_left .et-fixed-header #et-top-navigation {
        display: block;
        padding-top: 18px;
        width: 100%;
        text-align: center;
    }
    #et_mobile_nav_menu {
        display: block;
    }
    .header_hid{
        display: none
    }
    #et_mobile_nav_menu{
        float: unset;
    }
    .et_hide_nav.et_fixed_nav #main-header, .et_hide_nav.et_fixed_nav #top-header, .et_hide_nav.et_non_fixed_nav.et_transparent_nav #main-header, .et_hide_nav.et_non_fixed_nav.et_transparent_nav #top-header {
        opacity: 1;
        -webkit-transform: translateY(0)!important;
        transform: translateY(0)!important;
        position: fixed;
        height: 150px;
    }
    .et_pb_row.et_pb_equal_columns > .et_pb_column, .et_pb_section.et_pb_equal_columns > .et_pb_row > .et_pb_column {
        padding-left: 0;
        margin-left: 0;
        margin-top: 25px;
    }
    .et_pb_column_1_3 h1, .et_pb_column_1_4 h1, .et_pb_column_1_5 h1, .et_pb_column_1_6 h1, .et_pb_column_2_5 h1 {
        font-size: 26px;
        margin-left: 15px;
    }
    body:not(.et-tb) #main-content .container, body:not(.et-tb-has-header) #main-content .container {
        padding-top: 0;
    }
    .b_p1{
        width: 0px
    }
    .b_p2 {
        width: 100% !important
    }

    .btn_save_r{
        width:150px
    }
    .gds.ms-parent {
        width: 100% !important
    }
}
@media (max-width: 980px){
    .et_pb_column .et_pb_module {
        margin-bottom: 0;
    }
    .link_dashboard{
        padding-top: 70px;
    }
    #white-nav{
        display: none;
    }
    .et_hide_nav.et_fixed_nav #main-header{
        position: fixed;
        height: 150px;
    }

}

/* portal style */

.review_certification .stepwizard-step >a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #f9f9f9;
}
.review_certification .stepwizard-step{
    display: inline-block;
    margin-left: 65px;
    position: relative;
}
.review_certification .stepwizard-step >a::after{
    content: '';
    position: absolute;
    top: 25px;
    left: 60px;
    height: 2px;
    background: #f5f5f5;
    width: 30px;
}
.review_certification .stepwizard-step.no_after>a::after{
    content: unset;
}
.review_certification .stepwizard-step >a.btn-primary::after{
    background: #2ba78a;
}
.review_certification .stepwizard-step.no_margin{
    margin-left: 0;
}
.title_review{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.title_review_color{
    color: #2ba78a;
    margin-bottom: 30px;
}
.after_title{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form-control:focus{
    -webkit-box-shadow: unset; 
    box-shadow: unset; 
}
.input_row{
    margin-bottom: 30px;
}
.input_row label.green{
    color: #2ba78a;
    margin-bottom: 0;
    width: 100%;
}
.input_row label{
    margin-bottom: 0;
    padding-left: 10px;
}
.input_row input.text,.input_row input.title, .input_row input[type=text], .input_row select, .input_row textarea {
    margin: 0;
    border-radius: 45px;
    height: 45px;
    padding-left: 20px;
    background: #f9f9f9;
    margin-top: 15px;
}
.input_row select{
    width: 100%;
}
.input_row_inner{
    margin-top: 20px;
}
.input_row_inner .default{
    color: #2ba78a;
}
.addmore_btn{
    height:85px;
    /*line-height: 85px;*/
}
.add_more{
    background: #2ba78a;
    width: 40px;
    display: block;
    height: 40px;
    position: relative;
    top: 40px;
    text-align: center;
    line-height: 38px;
    color: #fff;
    cursor: pointer;
    font-size: 35px;
    border-radius: 50%;
}
.add_more:hover{
    color: #fff;
    text-decoration: none;
}
.btn_contain{
    width: 100%;
    margin-top: 50px;
}
body #page-container .et_pb_section .et_pb_button_0:hover{
    background: #2ba78a !important; 
}
.site_label{
    margin-bottom: 25px;
}
.step_title{
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 15px;
}
.step_txt{
    padding-left: 15px;
}
.review_certification .setup-content{
    padding-left: 15px;
}
.start_btn{
    margin-top: 30px;
    position: relative;
}
.start_btn button{
    width: 200px;
    display: block;
}
.upload_contain{
    padding: 25px;
    background-color: #f7fcf8;
    border-radius: 30px;
    margin-top: 30px;
}
.upload_col{
    text-align: right;
}
.inputfile-1:focus + label, .inputfile-1.has-focus + label, .inputfile-1 + label:hover,.inputfile-1 + label {
    background-color: #2ba78a!important;
    background-image: linear-gradient(to top,#2ba78a, #c8e292) !important;
}
.upload_col .inputfile + label{
    padding: 10px 25px;
    color: #fff;
    border-radius: 20px;
}
.upload_col .inputfile + label *{
    color: #fff;
}
.contain_input{
    display: flex;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
    padding-top: 20px;
}
.last_contain{
    border-bottom: unset;
}
input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: unset;
    outline-offset: unset;
}
.inputfile:focus + label, .inputfile.has-focus + label {
    outline: unset!important;
}
.step_title2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
}
.main_title{
    color: #2ba78a;
    font-size: 18px;
    font-weight: bold;
}
.green_color{
    color: #2ba78a;
}
.with_margin{
    margin-top:35px;
}
.last_title{
    margin-bottom: 10px;
    margin-top: 30px;
}
.review_certification .setup-content form.agree_form{
    padding-left: 0;
    margin-top: 30px;
}
.empty-col{
    height: 85px;
    display: flex;
    align-items: center;
}
.remove_button{
    display: block;
    width: 40px;
    text-align: center;
    position: relative;
    top: 15px;
    background-color: red;
    color: #fff;
    font-size: 25px;
    height: 40px;
    line-height: 37px;
    border-radius: 50%;
}
.remove_button:hover{
    color: #fff;
    text-decoration: none;
}
.no_padding_col{
    padding-left: 0;
    padding-right: 10px;
    margin-bottom: 20px;
}
#ui-to-top{
    display:none;
}
.with_date select {
    width: 30%;
}
.date_col{
    /*display: flex;*/
}
@media only screen and (min-width: 768px){
    .input_row_inner {
        padding-left: 30px;
    }
    .review_certification .setup-content form {
        padding-left: 30px;
    }
    .input_row label.green {
        /*padding-left: 20px;*/
    }
}
@media only screen and (max-width: 768px){
    /*	saber css*/
    .review_certification .stepwizard-step >a::after {
        content:unset !important;

    }

    .review_certification .stepwizard-step {
        display: block;
        /*    margin-left: 48%;*/
        position: relative;
        text-align: center;
    }
    .stepwizard-row {
        display: inline-block;
        margin: 0 35px;
    }
    .no_after{
        margin-left:68px
    }
    .review_certification .stepwizard-step {
        margin-left: unset; 
    }
    .review_certification .stepwizard-row {
        display: flex;
    }
    .review_certification .stepwizard-step p {
        display: none;
    }
    .review_certification .stepwizard {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .review_certification .stepwizard-step >a {
        width: 40px;
        height: 40px;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        padding-left: 10px;
        margin-right: 15px;
    }
    .review_certification .setup-content{
        padding-left: 0;
    }
    .contain_input {
        display: block;
    }
    .upload_contain {
        padding: 0 15px;
        
        font-size: 13px;
    }
    .review_certification .steps_container.container{
        padding: 0;
    }

}