<h3 class="et_pb_text_inner" style="margin-top:50px"></h3>
<p class="link_dashboard"  style="text-align:center;margin-top: 50px;"><a class="et_pb_button_0" style="padding:13px 13px" href="<?php echo $this->Html->url("/profile"); ?>" class="btn btn-primary" >

        Continue to edit profile

    </a>
</p>
<p class="link_dashboard"  style="text-align:center;margin-top: 50px;"><a class="et_pb_button_0" style="padding:13px 13px" href="<?php echo $this->Html->url("/review"); ?>" class="btn btn-primary" >

        Apply for certificate

    </a>
</p>