/*
 Theme Name:     Divi Child
 Theme URI:      https://www.elegantthemes.com/gallery/divi/
 Description:    Divi Child Theme
 Author:         Elegant Themes
 Author URI:     https://www.elegantthemes.com
 Template:       Divi
 Version:        1.0.0
*/
 
 
/* =Theme customization starts here
------------------------------------------------------- */

a {
	opacity: 1;
	-webkit-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
	
}
a:hover {
	opacity: 0.8;
}

.et-pb-contact-message {
	color:#ff4b2a;
}

#main-footer {
    background: url("/wp-content/themes/divi-child/assets/footer-map.png") 50% 80% no-repeat, linear-gradient(137.45deg, #54B454 0%, #2F8F83 58.17%, #00525F 100%);
}
#main-footer .footer-widget h4 {
    letter-spacing: 1px;
	padding:0px
}
#main-footer .footer-widget h4::after {
	content:"";
	background:#ffffff;
	display:block;
 	height: 3px; 
  	width: 50px;
    margin-bottom: 16px;
	margin-top:16px;
}
#footer-widgets {
    padding: 0;
}
#footer-widgets .footer-widget li:before {
    position: absolute;
    top: 9px;
    left: 0;
    border-width: 0px;
    border-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    content: "";
}
.footer-love {
    color: #fff;
    padding: 32px 0px;
    text-align: center;
    display: block;
    margin: 0 auto;
	width: auto;
}
.et-social-icons {
    padding: 32px 0px;
}
.cwp_et_pb_layout_slider_standard_0 .as-arrows-control .as-prev, .cwp_et_pb_layout_slider_standard_0 .as-arrows-control .as-next, .cwp_et_pb_layout_slider_standard_0 .as-outside-arrows-control .as-prev .custon_icon_prev, .cwp_et_pb_layout_slider_standard_0 .as-outside-arrows-control .as-next .custon_icon_next, .cwp_et_pb_layout_slider_standard_0 .menu_slider_wrapper .menu_control_prev, .cwp_et_pb_layout_slider_standard_0 .menu_slider_wrapper .menu_control_next {
    background-color: transparent !important;
    border-radius: 0%;
}
.footer-love i {
	color:#54B454;
}
#footer-cta-btn-column {
	text-align:center;
}
#footer-cta-btn-column :first-child {
	display: inline-block;
    vertical-align: middle;
    margin-top: calc(25%);
    margin-bottom: calc(25%);
    text-align: center;
}
#footer-info {
	padding:32px 0px;
}
#footer-info a {
	margin: 0px 16px;
    font-weight: 600;
}
#footer-legal-links a {
	padding: 0px 16px;
    font-weight: 600;
	color:#fff;
}
#footer-legal-links a:hover {
	opacity:0.8;
}
#footer-widgets .footer-widget li {
    position: relative;
    padding-left: 0px;
}
#company-info p {
	line-height:1.5;
}
#media_image-2 {
	margin-bottom:12%;
}
#footer-bottom {
    padding: 8px 0;
    min-height: 100px;
}
#top-menu li.top-menu-btn {
	font-size:11px;
	float:right;
	padding-right:0px;
}
#top-menu li.top-menu-btn a {
	border: 2px solid;
    padding: 10px;
    border-radius: 4px;
    font-size: 11px;
    text-transform: uppercase;
	font-weight:600;
	top:-8px;
}
#et-top-navigation {
    float: left;
    width: 100%;
}
#top-menu, .fullwidth-menu, nav#top-menu-nav, nav.fullwidth-menu-nav {
    float: left;
    width: 100%;
}
#et-top-navigation nav>ul>li.top-menu-btn a {
	padding: 10px 16px !important;
}
.et-fixed-header #et-top-navigation nav>ul>li.top-menu-btn a {
	padding: 8px 14px !important;
	font-size:11px;
	font-weight:600;
}
#et-top-navigation {
    font-weight: 500;
	padding-left: 22% !important;
}
#top-menu li {
    display: inline-block;
    padding-right: 32px;
}
a.et-cart-info {
	display:none;
}
#et-top-navigation .et-cart-info {
    float: right;
    margin: 2px 24px 0 0px;
}
#top-menu, #top-menu-nav {
    line-height: 1;
}

.page-id-1133 #main-footer {
    height: 0 !important;
    overflow: hidden;
	display:none;
}
.page-id-28 #main-footer {
    height: 0 !important;
    overflow: hidden;
	display:none;
}
.page-id-27 #main-footer {
    height: 0 !important;
    overflow: hidden;
}
.page-id-37 #main-footer {
    height: 0 !important;
    overflow: hidden;
	display:none;
}
.page-id-36 #main-footer {
    height: 0 !important;
    overflow: hidden;
	display:none;
}
body #page-container .et_pb_section #landing-short .et_pb_fullwidth_header_container .header-content-container .header-content a.et_pb_button {
    padding: 16px 72px !important;
}
body #page-container .et_pb_section #landing-short .et_pb_fullwidth_header_container .header-content-container .header-content a.et_pb_button:hover {
    padding: 16px 72px !important;
}
body #page-container .et_pb_button:hover {
	opacity:0.8 !important;
}
.btn-inline {
    text-align: center !important;
}
.btn-inline .et_pb_button_module_wrapper {
    display: inline-block;
    margin: 0 5px;
}
.et_pb_row.vdivide [class*='et_pb_column']:not(:last-child):after {
    background: #DDE8E6;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}
.et_pb_row.dotted-line-divide [class*='et_pb_column']:not(:last-child):after {
	background-image: url("/wp-content/uploads/2019/01/dotted-line.svg");
    background-repeat: no-repeat;
    width: 122px;
    content: "";
    display: block;
    position: absolute;
    top: 23%;
    bottom: 0;
    right: -45%;
}
.et_pb_divider {
    -webkit-transition: max-width .4s;
    -o-transition: max-width .4s;
    transition: max-width .4s;
}
.et_pb_divider:hover {
	max-width: 20%;
}
.shadow {
	-webkit-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	cursor:pointer;
}
.add-shadow {
	transition: box-shadow 0.4s ease-in-out !important;
}
.add-shadow:hover {
	-webkit-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	cursor:pointer;
}
.shadow-boxer {
	transition: box-shadow 0.4s ease-in-out !important;
}
.shadow-boxer:hover {
	-webkit-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 162px 3px rgba(0,0,0,0.2);
	cursor:pointer;
}
.shadow-boxer .et_pb_blurb_description {
	opacity:0;
	transition: opacity 0.4s ease-in-out;
}
.shadow-boxer:hover .et_pb_blurb_description {
	opacity:1;
}
.list-radios {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-around;
    margin-top: 52px;
    padding-right: 18px;
}
.list-radios li {
    position: relative;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
	list-style: none outside none;
}
.list-radios .radio {
	text-align:center;
}
.radio input {
    display: none;
}

.pricing-form .form__label {
    display: inline-block;
	list-style: none outside none;
	margin-top:16px;
	text-align:center;
}
.radio input + label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 3px solid #e4e6ea;
    border-radius: 50%;
    margin-top: -16px;
}
.radio input + label:after {
    content: '';
    position: absolute;
    top: -100%;
    left: 50%;
    -ms-transform: translate(-50%) rotate(45deg);
    transform: translate(-50%) rotate(45deg);
    width: 8px;
    height: 13px;
    border-right: 2px solid #54b454;
    border-bottom: 2px solid #54b454;
    margin-top: -5px;
}
.radio input:checked + label:before {
    background: #54b454;
    border-color: #54b454;
}
.radio input:checked + label {
    font-weight: 600;
    color: #54b454;
}
.radio input:checked + label:after {
    border-bottom-color: #fff;
    border-right-color: #fff;
}
a, button, input[type="submit"], input[type="button"], input[type="reset"], input[type="file"], input[type="image"], label[for] {
    cursor: pointer;
}
.woocommerce a.button, .woocommerce-page a.button {
	color:#fff;
	line-height: 36px !important;
}
a.checkout-button.button.alt.wc-forward {
	    line-height: 36px !important;
}
.woocommerce .cart .button {
	padding: 6px 12px;
	min-height: 50px;
}
.woocommerce.widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a:hover {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
	padding-top: 12px;
}
.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
    color: #fff;
    font-weight: 600;
}
.woocommerce button.button, .woocommerce-page button.button {
	border-radius:4px !important;
	color:#fff !important;
	font-weight: 600 !important;
}
.woocommerce button.button, .woocommerce-page button.button:hover {
	border-radius:4px !important;
	color:#fff !important;
	font-weight: 600 !important;
	min-height:50px;
}
.woocommerce a.button.alt, .woocommerce-page a.button.alt {
	border-radius:4px !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.woocommerce a.button.alt, .woocommerce-page a.button.alt:hover {
	border-radius:4px !important;
	color: #fff !important;
	font-weight: 600 !important;
}
.wc-proceed-to-checkout .checkout-button {
	min-height:50px;
	padding:12px 0px !important;
}
body .et_pb_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce-message a.button.wc-forward {
    font-size: 14px;
    background: #58ba52;
    border-color: #58ba52;
    border-radius: 50px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: #fff;
	min-height:50px;
}
.et_pb_contact_submit, .et_password_protected_form .et_submit_button, .et_pb_bg_layout_light .et_pb_newsletter_button, .comment-reply-link, .form-submit .et_pb_button, .et_pb_bg_layout_light .et_pb_promo_button, .et_pb_bg_layout_light .et_pb_more_button, .woocommerce a.button.alt, .woocommerce-page a.button.alt, .woocommerce button.button.alt, .woocommerce-page button.button.alt, .woocommerce input.button.alt, .woocommerce-page input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce-page #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .et_pb_contact p input[type="checkbox"]:checked+label i:before, .et_pb_bg_layout_light.et_pb_module.et_pb_button {
    color: #fff;
}
span.pricing {
	color:#54B454;
	font-size:20px;
	padding:2px 8px;
	background-color:#E8E9E9;
	border-radius:2px;
	font-weight:600;
	float:right;
}
#portfolio ul.et_pb_tabs_controls {
	background-color:transparent;
}
#portfolio .et_pb_tabs_0 .et_pb_tabs_controls li.et_pb_tab_active {
    border-radius: 6px;
	margin: 0px 16px;
}
#portfolio .et_pb_tabs_0 .et_pb_tabs_controls li {
	border: 1px solid #54B454;
	color:#54B454;
	border-radius:6px;
	margin: 0px 16px;
}
#portfolio .et_pb_tabs_controls li a {
	padding: 8px 30px;
}
#portfolio .et_pb_tabs_0.et_pb_tabs .et_pb_tabs_controls li a {
    color: #54B454!important;
}
#portfolio .et_pb_tabs_0.et_pb_tabs .et_pb_tabs_controls li.et_pb_tab_active a {
	color:#ffff !important;
}
#portfolio .et_pb_tab_active a {
    color: #fff!important;
}
#portfolio ul.et_pb_tabs_controls:after {
    display: block;
    visibility: visible;
    position: relative;
    z-index: 9;
    top: -1px;
    border-top: 0px;
    content: "";
}
#portfolio .gs_beh_area .container, #portfolio .gs_drib_area .container {
	width:100%;
	padding-top:0px;
}
.beh-projects img, .drib-shots img {
	-webkit-box-shadow: 0 2px 50px 0 rgba(16,22,40,0.2);
	-moz-box-shadow: 0 2px 50px 0 rgba(16,22,40,0.2);
	box-shadow: 0 2px 50px 0 rgba(16,22,40,0.2);
}
.custom-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 15px 0px 0px 0px;
}
.custom-nav li {
  display: inline;
}
.custom-nav li a {
	margin:0% 3%;
	font-size:16px;
}
.custom-nav .et_pb_button {
	min-height:fit-content;
}
#light-nav li a {
	color:#fff;
}
#light-nav li a:hover {
	color:#DBFFDF;
}
#dark-nav li a {
	color:#156573;
}
#dark-nav li a:hover {
	color:#54B454;
}
#white-nav li a {
	color:#fff;
}
#white-nav li a:hover {
	color:#DBFFDF;
}
.entry-content ul.address {
	padding: 0 0 24px 0;
    list-style-type: none;
}
body #page-container #contact-page-form .et_pb_contact form.et_pb_contact_form .et_contact_bottom_container button.et_pb_contact_submit {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600!important;
    text-transform: uppercase!important;
    padding: 16px 32px !important;
	box-shadow: 0px 26px 92px 3px rgba(0,0,0,0.2);
	-webkit-transition: box-shadow ease-in-out .3s;
	-o-transition: box-shadow ease-in-out .3s;
	transition: box-shadow ease-in-out .3s;
}
body #page-container #contact-page-form .et_pb_contact form.et_pb_contact_form .et_contact_bottom_container button.et_pb_contact_submit:hover {
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600!important;
    text-transform: uppercase!important;
    padding: 16px 32px !important;
	box-shadow: 0px 8px 32px 3px rgba(0,0,0,0.2);
}
#contact-page-form .et_pb_contact_field[data-type=select]:after {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    margin-top: 3px;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}
.rv_button.closed:after {content:"\33";}
.rv_button.opened:after{content:"\32";}
/*** Responsive Styles Large Desktop And Above ***/
@media all and (min-width: 1405px) {
  
}
 
/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {
 
}
 
/*** Responsive Styles Tablet And Below ***/
@media all and (max-width: 980px) {
.custom-nav {
		height:0px;
		overflow:hidden;
	    margin: 0px;
    padding: 0px;
	}
}
 
/*** Responsive Styles Tablet Only ***/
@media all and (min-width: 768px) and (max-width: 980px) {
.custom-nav {
		height:0px;
		overflow:hidden;
	    margin: 0px;
    padding: 0px;
	}
}
 
/*** Responsive Styles Smartphone Only ***/
@media all and (max-width: 767px) {
.custom-nav {
		height:0px;
		overflow:hidden;
	    margin: 0px;
    padding: 0px;
	}
}
 
/*** Responsive Styles Smartphone Portrait ***/
@media all and (max-width: 479px) {
.custom-nav {
		height:0px;
		overflow:hidden;
	    margin: 0px;
    	padding: 0px;
	}
.center-on-mobile {
     display: block !important;
     text-align: center;
}

}
